/*for home page*/
.t-wrapper {
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
}
.t-item {
    width: 100%;
    display: block;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.t-main-outer {
    width: 1160px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.t-main {
    float: left;
    width:100%;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
}
.t-item-inner {
    width: 1160px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.t-sept {
    float: left;
    height: 394px;
    margin-left: 20px;
    position: relative;
    width: 120px;
    box-sizing: border-box;
}
.t-vert {
    background-color: #dddddd;
    height: 394px;
    margin: 0 auto;
    width: 1px;
    box-sizing: border-box;
}
.t-horz {
    background-color: #dddddd;
    height: 1px;
    left: -20px;
    position: absolute;
    top: 50%;
    width: 80px;
}
.t-desc {
    text-align: center;
    font-family: serif;    
}
.t-avtar {
    border: 8px solid #009788;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    width: 310px;
    margin: 42px 0;
    box-sizing: border-box;
}
.t-avtar a {
    display: block;
}
.t-avtar > a > img {
    max-width: 100%;
    height: auto;
    display: block;
}
.t-content {
    float: left;
    width:710px;
    box-sizing: border-box;
    position: relative;
    margin: 22px 0;
}
.t-info {
    display: inline-block;
}
.t-info .th-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.t-info .th-name span a {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px;
    text-transform: uppercase;
    color: #009788;
    display: inline-block;
    text-decoration: none;
    outline: none;
}
.t-info .th-name .t-bottom {
    background: none repeat scroll 0 0 #dddddd;
    display: block;
    height: 1px;
    margin: 0 auto 20px;
    width: 100px;
}
.t-info .th-company {
    color: #009788;
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.t-info .th-desc {
    float: left;
    width:100%;
    position: relative;
    box-sizing: border-box;
}
.t-info .th-desc .th-desc-inner {
    color: #444444;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 auto;
    width: 600px;
}
.t-info .th-desc .th-desc-inner p {
    color: #444444;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;    
}
.t-info .th-links {
    float: left;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}
.th-links .th-website , .th-links .th-email {
    border: 2px solid #dddddd;
    border-radius: 50%;
    color: #dddddd;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 2px;
    text-align: center;
    width: 30px;
}
.th-links .th-website a , .th-links .th-email a {
    color: #cccccc;
    text-decoration: none;
    outline: none;
}
.t-slider .owl-buttons {
    bottom: 25px;
    position: absolute;
    right: 309px;
}
/*testimonial detail page*/
.tdet-wrapper {
    float: left;
    width:100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.tdet-main {
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 100%;
}
.tdet-main .tdet-info {
    float: left;
    margin-bottom: 40px;
    width: 100%;
    box-sizing: border-box;
}
.tdet-img {
    float: left;
    width:100%;
}
.tdet-main .tdet-name {
    color: #009788;
    float: left;
    font-size: 24px;
    margin: 20px 0 20px;
    text-transform: uppercase;
    width: 100%;
}
.tdet-info .tdet-desc {
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.tdet-desc .fa {
    font-size: 25px;
    left: 0;
    position: absolute;
    top: 0;
}
.tdet-desc span {
    box-sizing: border-box;
    float: left;
    padding-left: 35px;
    position: relative;
    width: 100%;
}
.tdet-info .tdet-company , .tdet-info .tdet-email , .tdet-info .tdet-website {
    float: left;
    width:100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.tdet-info .tdet-company , .tdet-info .tdet-email a , .tdet-info .tdet-website a {
    color: #333333;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    outline: none;
}
.tdet-info .tdet-email a:hover , .tdet-info .tdet-website a:hover {
    color: #009788;
}
.tdet-info .tdet-company span , .tdet-info .tdet-website span , .tdet-info .tdet-email span {
    border: 2px solid #dddddd;
    border-radius: 50%;
    color: #444444;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-right: 7px;
    text-align: center;
    width: 30px;
}
/*blog pagination*/
.t-pager {
    float: left;
    width:100%;
    position: relative;
    box-sizing: border-box;
}
.t-pager .pager .toolbar-amount  {
    margin-right: 10px;
}
@media only screen and (max-width:1240px) {
    .t-main-outer {
        width: 960px;
    }
    .t-item-inner {
        width: 960px;
    }
    .t-avtar {
        width: 300px;
        margin: 65px 0;
    }
    .t-sept {
        width: 80px;
    }
    .t-sept {
        height: 430px;
    }
    .t-vert {
        height: 430px;
    }
    .t-horz {
        width: 60px;
    }
    .t-content {
        width: 560px;
        margin: 30px 0;
    }
    .t-info .th-desc .th-desc-inner {
        width: 100%;
    }
    .t-slider .owl-buttons {
        bottom: 40px;
        right: 235px;
    }
}
@media only screen and (max-width:1024px) {
    .t-main-outer {
        width: 800px;
    }
    .t-item-inner {
        width: 800px;
    }
    .t-avtar {
        width: 200px;
        margin: 115px 0;
    }
    .t-horz {
        width: 60px;
    }
    .t-content {
        width: 500px;
        margin: 30px 0;
    }
    .t-slider .owl-buttons {
        right: 205px;
        bottom: 40px;
    }
}
@media only screen and (max-width:900px) {
    .t-main-outer {
        width: 700px;
    }
    .t-item-inner {
        width: 700px;
    }
    .t-sept {
        width: 60px;
    }
    .t-horz {
        width: 50px;
    }
    .t-content {
        width: 420px;
        margin: 20px 0;
    }
    .t-slider .owl-buttons {
        bottom: 30px;
        right: 165px;
    }
}
@media only screen and (max-width:767px) {
    .t-main-outer {
        width: 100%;
    }
    .t-item-inner {
        width: 100%;
    }
    .t-sept {
        display: none;
    }
    .t-avtar {
        width: 250px;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .t-content {
        width: 100%;
        margin: 20px 0;
    }
    .t-slider .owl-buttons {
        bottom: 0;
        right: 0;
        left: 0;
        position: relative;
    }
    .t-slider .owl-controls.clickable {
        float: left;
        width:100%;
    }
    .testim-block-left {
        position: relative;
    }
    .testi-description, .det-detail {
        margin: 10px 0 0;
    }
}
@media only screen and (max-width:639px) {
    .t-pager .pager .pages-items , .t-pager .pager .pages > strong , .t-pager .pager .pages-items .pages-item-next , .t-pager .pager .pages-items .pages-item-previous {
        position: static !important;
    }
    .t-pager .pager .toolbar-amount .toolbar-number {
        display: none;
    }
    .t-pager .pager .pages .pages-items {
        padding: 2px 0 0;
    }
}