<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /*$_source = $block->getSource(); ?>
<?php $block->setPriceDataObject($_source) ?>
<?php if ($_source): ?>
<table width="100%">
    <?php echo $block->getChildHtml('main'); ?>
    <?php echo $block->getChildHtml('footer'); ?>
</table>
<?php endif;*/ ?>
<table class="data-table admin__table-secondary order-subtotal-table">
    <?php $_totals = $block->getTotals('footer')?>

    <?php if ($_totals):?>
        <tfoot>
            <?php foreach ($block->getTotals('footer') as $_code => $_total): ?>
                <?php if ($_total->getBlockName()): ?>
                    <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
                <?php else:?>
                <tr class="col-<?php /* @escapeNotVerified */ echo $_code?>">
                    <td <?php /* @escapeNotVerified */ echo $block->getLabelProperties()?> class="label">
                        <strong><?php echo $block->escapeHtml($_total->getLabel()); ?></strong>
                    </td>
                    <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?>>
                        <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
                    </td>
                </tr>
                <?php endif?>
            <?php endforeach?>
            <tr class="col">
                <td class="label">
                    <strong><?php echo __('Commission value');?></strong>
                </td>
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
                $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
                $commission = $block->countCommission();
                $formattedCommission = $priceHelper->currency($commission, true, false);
                 ?>
                <td>
                    <strong><?php echo $formattedCommission; ?></strong>
                </td>
            </tr>
            <?php
            $dueAmount = $block->dueAmount();
            $finaldueAmount = $priceHelper->currency($dueAmount, true, false);
            ?>
            <tr class="col">
                <td class="label">
                    <strong><?php echo __('Amount To Be Paid');?></strong>
                </td>
                <td>
                    <strong><?php echo $finaldueAmount; ?></strong>
                </td>
            </tr>
        </tfoot>
    <?php endif?>

    <?php $_totals = $block->getTotals('')?>
    <?php if ($_totals):?>
        <tbody>
            <?php foreach ($_totals as $_code => $_total): ?>
                <?php if ($_total->getBlockName()): ?>
                    <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
                <?php else:?>
                    <tr class="col-<?php /* @escapeNotVerified */ echo $_code?>">
                        <td <?php /* @escapeNotVerified */ echo $block->getLabelProperties()?> class="label">
                            <?php if ($_total->getStrong()):?>
                            <strong><?php echo $block->escapeHtml($_total->getLabel()); ?></strong>
                            <?php else:?>
                            <?php echo $block->escapeHtml($_total->getLabel()); ?>
                            <?php endif?>
                        </td>

                        <?php if ($_total->getStrong()):?>
                            <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?>>
                                <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
                            </td>
                        <?php else:?>
                            <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?>>
                                <span><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></span>
                            </td>
                        <?php endif?>
                    </tr>
                <?php endif?>
            <?php endforeach?>
        </tbody>
    <?php endif?>
</table>
