<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
$helper = $this->helper('Solwin\Cpanel\Helper\Data');
$mediasocialurl = $helper->getMediaUrl() . 'social/';
$newsletter_background_image = '';
$newsletterImage = $helper->getFooternewsletterbackimage();
if ($newsletterImage != '') {
    $newsletter_background_image = $mediasocialurl . $helper->getFooternewsletterbackimage();
}
$newsletter_title = $helper->getFooternewslettertitle();
$newsletter_text = $helper->getFooternewslettertext();
$newsletter_show = $helper->getShowfooternewsletter();
if ($newsletter_show) {
    ?>
    <div class="cp-newsletter pad-main back-main">
        <div class="page-main">
            <div class="newsletter-block">
                <div class="block-title-main">
                    <h2><?php echo __($newsletter_title); ?></h2>
                    <div class="title-border"></div>
                </div>
                <div class="newsletter-text">
                    <?php echo __($newsletter_text); ?>
                </div>
                <form class="form subscribe" novalidate action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>" method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-validate-detail">
                    <div class="block-content">
                        <div class="newsletter-input">
                            <div class="input-group">
                                <div class="control">
                                    <input name="email" type="email" id="newsletter"
                                           placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
                                           data-validate="{required:true, 'validate-email':true}"/>
                                </div>
                                <span class="input-group-btn">
                                    <button class="subscribe btn" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
                                        <span><i class="fa fa-paper-plane"></i></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <?php if ($newsletter_background_image != '') { ?>
        <style>
            .cp-newsletter {
                background: url("<?php echo $newsletter_background_image; ?>") repeat fixed 0 0 / cover  rgba(0, 0, 0, 0);
            }
        </style>
    <?php } ?>
<?php } ?>