<?php $inquiries = $block->getInquiryDetails(); ?>
<div class="block block-dashboard-info">
	<div class="block-title"><strong>Inquiry Information</strong></div>
	<div class="block-content">
		<div class="box box-information">
		<?php if($inquiries->getOrderConjcatName()):?>
			<strong class="box-title">
			<span>Category Name - </span>  
			</strong>
			<?php echo $inquiries->getOrderConjcatName() ?><br>
			<?php endif; ?>
			<?php if($inquiries->getObjectType()):?>
			<strong class="box-title">
			<span>SubCategory Name - </span> 
			</strong>
			 <?php echo $inquiries->getObjectType() ?><br>
			 <?php endif; ?>
			<strong class="box-title">
			<span>Budget- </span>
			</strong>
			<?php echo $inquiries->getBudget() ?><br>
			<strong class="box-title">
			<span>Inquiry Status - </span>
			</strong>
			<?php echo $inquiries->getInquiryStatus() ?><br>
			<?php if($inquiries->getReason()):?>
			<strong class="box-title">
			<span> Reason for reject inquiry- </span> 
			</strong>
			 <?php echo $inquiries->getReason() ?><br>
			 <?php endif; ?>
			<?php if($inquiries->getImage()):?>
			<strong class="box-title">
			<span>Inquiry Image - </span>
			</strong>
			<a href="<?php echo $block->getMediaPath().'customerAttachment/'.$inquiries->getImage()?>"" target= "_blank" >Uploaded File</a><br>
			<?php endif; ?>
			<strong class="box-title">
			<span>Description - </span>
			</strong>
			<?php echo $inquiries->getDescription(); ?>
		</div>
	</div>
</div>
<?php $vendorData = $block->getVendorData($inquiries->getVendorId());?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong>Vendor Information</strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?php echo __('Vendor Name :');?> </span>
            </strong>
            <?php echo $vendorData->getFirstname().' '.$vendorData->getLastname(); ?>
        </div>
    </div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?php __('Vendor Email:');?></span>
            </strong>
            <?php echo $vendorData->getEmail(); ?>
        </div>
    </div>

</div>
<?php if(!$block->getPreviousRatings($inquiries->getId())):?>
    <form action="<?php echo $this->getUrl('vendorrating/index/post') ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">
    <input type="hidden" name="order_id" value="in_<?php echo $inquiries->getId();?>"/>
    <input type="hidden" name="vendor_id" value="<?php echo $inquiries->getVendorId();?>"/>
    <input type="hidden" name="customer_id" value="<?php echo $inquiries->getCustomerId();?>"/>
        <fieldset class="fieldset review-fieldset" data-hasrequired="">
            <legend class="legend review-legend"><span><?php echo __('You\'re reviewing Vendor:');?></span>
                <strong>
                    <?php echo $block->getVendorName($inquiries->getVendorId());?>
                </strong>
            </legend><br />
            <span id="input-message-box"></span>
            <fieldset class="field required review-field-ratings">
                <div class="control">
                    <div class="nested" id="product-review-table">
                        <div class="field choice review-field-rating">
                            <label class="label" id="Overall_rating_label"><span><?php echo __('Over All Rating');?></span></label>
                            <div class="control review-control-vote">
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_1"
                                        value="1"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_1_label" />
                                <label
                                        class="rating-1"
                                        for="Overall_1"
                                        title="1 star"
                                        id="Overall_1_label">
                                    <span>1 star</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_2"
                                        value="2"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_2_label" />
                                <label
                                        class="rating-2"
                                        for="Overall_2"
                                        title="2 stars"
                                        id="Overall_2_label">
                                    <span>2 stars</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_3"
                                        value="3"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_3_label" />
                                <label
                                        class="rating-3"
                                        for="Overall_3"
                                        title="3 stars"
                                        id="Overall_3_label">
                                    <span>3 stars</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_4"
                                        value="4"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_4_label" />
                                <label
                                        class="rating-4"
                                        for="Overall_4"
                                        title="4 stars"
                                        id="Overall_4_label">
                                    <span>4 stars</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_5"
                                        value="5"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_5_label" />
                                <label
                                        class="rating-5"
                                        for="Overall_5"
                                        title="5 stars"
                                        id="Overall_5_label">
                                    <span>5 stars</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                </div>
            </fieldset>
            <div class="field review-field-text required">
                <label for="rating_description" class="label"><span>Review</span></label>
                <div class="control">
                    <textarea name="rating_description" id="rating_description" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar review-form-actions">
            <div class="primary actions-primary">
                <button type="submit" class="action submit primary"><span><?php echo __('Submit Review');?></span></button>
            </div>
        </div>
    </form>
    <script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": {"components":{"review-form":{"component":"Magento_Review\/js\/view\/review"}}}    },
    "#review-form": {
        "Magento_Review/js/error-placement": {}
    }
}
</script>
<?php else:?>
<fieldset class="fieldset review-fieldset" data-hasrequired="">
    <legend class="legend review-legend"><span><?php echo __('You review for Vendor:');?></span>
        <strong>
            <?php echo $block->getVendorName($inquiries->getVendorId());?>
        </strong>
    </legend>
    <h3><?php echo __('Your Rating');?></h3>
	<div class="rating-summary">
        <?php $vendorRating =  $block->getRatingValue($inquiries->getId()) * 2 * 10;?>
        <div class="rating-result" title="<?php echo $vendorRating?>%">
            <span style="width:<?php echo $vendorRating;?>%"><span><?php echo $vendorRating;?>%</span></span>
        </div>
    </div>
    <h3><?php echo __('Your Review');?></h3><br/>
    <div class="review-content" itemprop="description">
        <?php echo $block->getRatingDescription($inquiries->getId());?>
    </div>
</fieldset>
<?php endif;?>

