<?php $inquiries = $block->getInquiries(); ?>
<?php if ($inquiries && count($inquiries)): ?>
    <div class="table-wrapper orders-history">
    	<h2>My Inquiries</h2>
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Inquiry') ?></caption>
            <thead>
            <tr>
            <th scope="col" class="col Category"><?php /* @escapeNotVerified */ echo __('Inquiry Number') ?></th>
                <th scope="col" class="col Category"><?php /* @escapeNotVerified */ echo __('Category') ?></th>
                <th scope="col" class="col budget"><?php /* @escapeNotVerified */ echo __('Budget') ?></th>
                <th scope="col" class="col inquiry"><?php /* @escapeNotVerified */ echo __('Inquiry Status') ?></th>
                <th scope="col" class="col action"><?php /* @escapeNotVerified */ echo __('View Details') ?></th>
            </tr>
            </thead>
            <tbody>
			<?php foreach($inquiries as $inquiry):
				// var_dump($inquiry->getData());
				// die()
			?>
			<tr>
			<td data-th="category" class="col category"><?php /* @escapeNotVerified */ echo $inquiry->getId() ?></td>
				<td data-th="category" class="col category"><?php /* @escapeNotVerified */ echo $inquiry->getOrderConjcatName() ?></td>
	      		<td data-th="category" class="col category"><?php /* @escapeNotVerified */ echo $inquiry->getBudget() ?></td>
	      		<td data-th="category" class="col category"><?php /* @escapeNotVerified */ echo mb_convert_case($inquiry->getInquiryStatus(), MB_CASE_TITLE, "UTF-8"); ?></td>
	      		<td data-th="category" class="col category"><a href=<?php echo $this->getUrl("inquiry/index/view") ?>?id=<?php echo $inquiry->getId() ?>>View</a></td>
	      	</tr>
          <?php	endforeach; ?>
            </tbody>
            </table>
            </div>
            <?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no inquiries.'); ?></span></div>
        <?php endif; ?>