<?php
/**
 * Copyright © 2015 Solwin Infotech. All rights reserved.
 */
?>
<?php
/**
 * Top Navigation menu for website
 *
 * \Solwin\Megamenu\Block\Topmenu
 */
?>
<?php
$_helper = $this->helper('Solwin\Megamenu\Helper\Data');
$_config = $_helper->getConfig('megamenu');

$columnsLimit = 0;
if ($_config['general']['enable']) {
    ?>
    <?php $_menu = $block->getMegamenuHtml(); ?>

    <nav class="navigation sol-megamenu" role="navigation">
        <ul>
            <?php echo $_menu; ?>
        </ul>
    </nav>
    <?php
    $enableSticky = 'false';
    if ($_config['general']['enablesticky']) {
        $enableSticky = 'true';
    }
    ?>
    <script type="text/javascript">
        require([
            'jquery',
            'Solwin_Megamenu/js/megamenu'
        ], function ($) {
            $(".sol-megamenu").solMegamenu({
                sticky: <?php echo $enableSticky; ?>
            });
        });
    </script>
    <?php
} else {
    ?>
    <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit); ?>
    <?php
    $dfhelper = $this->helper('Solwin\Cpanel\Helper\Data');
    $baseUrl = $dfhelper->getBaseUrl();
    $curr_Url = $dfhelper->getCurrentUrl();
    $ishome = $dfhelper->getIsHomePage();
    $showhomelink = $dfhelper->getEnablehomelink();
    $showbloglink = $dfhelper->getEnablebloglink();
    $enableblog = $dfhelper->getEnableBlog();
    ?>

    <nav class="navigation" role="navigation">
        <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"right top","at":"right bottom"}}}'>
            <?php if ($showhomelink) { ?>
                <li class="level0 level-top <?php if ($ishome) { ?> active <?php } ?>">
                    <a class="level-top" href="<?php echo $baseUrl; ?>">
                        <?php echo __('Home'); ?>
                    </a>
                </li>
            <?php } ?>
            <?php /* @escapeNotVerified */ echo $_menu; ?>
            <?php if ($showbloglink) { ?>
                <?php if ($enableblog) { ?>
                    <li class="level0 level-top <?php if ($baseUrl . 'ourblog' == $curr_Url) { ?> active <?php } ?>">
                        <a class="level-top" href="<?php echo $baseUrl . 'ourblog'; ?>">
                            <?php echo __('Blog'); ?>
                        </a>
                    </li>
                <?php } ?>
            <?php } ?>
        </ul>
    </nav>

    <?php
}
?>