<!--
/*

    Created on : Aug 22, 2017, 12:03:11 PM
    For:NeedSafe
    Author     : Pratik Raval
*/-->
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base_url = $storeManager->getStore()->getBaseUrl();

?>
<?php echo $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra') ?>
<div class="page-title-wrapper">
    <h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper">Create Vendor Account</span>
    </h1>
</div>
<div class="Question1 questions-top-margin">
    <h1 align="center">Do You Sell Alarm & Intrusion Product?</h1>
    <div class="primary" align="center">
        <input type="hidden" name="getAjaxDataURL" id="getAjaxDataURL"
               value="<?php echo $this->getUrl('vendorregistration/index/answerNo'); ?>"/>
        <a id="yes1" class="action  primary" title="<?php /* @escapeNotVerified */
        echo __('YES') ?>"><span><?php /* @escapeNotVerified */
                echo __('YES') ?></span></a>
        <a href="<?php echo $this->getUrl('vendorregistration/index/answerNo'); ?>"
           class="action primary no"><span><?php /* @escapeNotVerified */
                echo __('NO') ?></span></a>
        <!--                        <button   class="action  primary no" title="-->
        <?php ///* @escapeNotVerified */ echo __('NO') ?><!-- " ><span>-->
        <?php ///* @escapeNotVerified */ echo __('NO') ?><!--</span></button>-->
    </div>
</div>

<div class="Question2 questions-top-margin" style="display:none">
    <h1 align="center">Do You Provide Installation Services For Alarm & Instrusion Products?</h1>
    <div class="primary" align="center">
        <a id="yes2" class="action primary" title="<?php /* @escapeNotVerified */
        echo __('YES') ?>"><span><?php /* @escapeNotVerified */
                echo __('YES') ?></span></a>
        <a href="<?php echo $this->getUrl('vendorregistration/index/answerNo'); ?>" class="action  primary no"
           title="<?php /* @escapeNotVerified */
           echo __('NO') ?>"><span><?php /* @escapeNotVerified */
                echo __('NO') ?></span></a>
    </div>
</div>

<div class="Question3 questions-top-margin" style="display:none">
    <h1 align="center">Do You Provide Monitoring Services For Alarm & Intrusion Products?</h1>
    <div class="primary" align="center">
        <a id="yes3" class="action  primary" title="<?php /* @escapeNotVerified */
        echo __('YES') ?>"><span><?php /* @escapeNotVerified */
                echo __('YES') ?></span></a>
        <a href="<?php echo $this->getUrl('vendorregistration/index/answerNo'); ?>" class="action  primary no"
           title="<?php /* @escapeNotVerified */
           echo __('NO') ?>"><span><?php /* @escapeNotVerified */
                echo __('NO') ?></span></a>
    </div>
</div>
<form method="post" name="member_form" action="<?php echo $this->getUrl('vendorregistration/index/post') ?>"
      data-mage-init='{"validation":{}}' enctype="multipart/form-data">
    <main id="maincontent" class="page-main registeration-main"><a id="contentarea" tabindex="-1"></a>
        <input type="hidden" value="1" name="validationquestions">
        <div class="columns" style="display:none">
            <div class="column main">
                <div class="login-container">
                    <div class="block block-customer-login">
                        <fieldset class="fieldset create info">
                            <legend class="legend"><span>Vendor Information</span></legend>
                            <div class="field firstname required">
                                <label for="firstname" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('First Name') ?></span></label>
                                <div class="control">
                                    <input type="text" name="firstname" id="firstname"
                                           data-validate="{'required-entry':true, 'validate-alphanum-with-spaces': true}"
                                           aria-required="true" class="input-text">
                                </div>
                            </div>

                            <div class="field lastname required">
                                <label for="lastname" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Last Name') ?></span></label>
                                <div class="control">
                                    <input type="text" name="lastname" id="lastname"
                                           data-validate="{'required-entry':true, 'validate-alphanum-with-spaces': true}"
                                           aria-required="true" class="input-text">
                                </div>
                            </div>

                            <div class="field email required">
                                <label for="email" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Email') ?></span></label>
                                <div class="control">
                                    <input type="email" name="email" id="email"
                                           data-validate="{'required-entry':true, 'validate-email':true}"
                                           aria-required="true" class="input-text">
                                </div>
                            </div>

                            <div class="field username required">
                                <label for="username" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Username') ?></span></label>
                                <div class="control">
                                    <input type="text" name="username" id="username"
                                           data-validate="{'required-entry':true}" aria-required="true"
                                           class="input-text">
                                </div>
                            </div>

                            <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                                <label for="password" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Password') ?></span></label>
                                <div class="control">
                                    <input type="password" name="password" id="password"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Password') ?>"
                                           class="input-text"
                                           data-password-min-length="8"
                                           data-validate="{required:true, 'validate-customer-password':true, 'validate-admin-password':true}"
                                           autocomplete="off">

                                    <div id="password-strength-meter-container" data-role="password-strength-meter">
                                        <div id="password-strength-meter" class="password-strength-meter">
                                            <?php /* @escapeNotVerified */
                                            echo __('Password Strength'); ?>:
                                            <span id="password-strength-meter-label"
                                                  data-role="password-strength-meter-label">
                                                <?php /* @escapeNotVerified */
                                                echo __('No Password'); ?>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field confirmation required">
                                <label for="password-confirmation" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Confirm Password') ?></span></label>
                                <div class="control">
                                    <input type="password" name="password_confirmation"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Confirm Password') ?>" id="password-confirmation" class="input-text"
                                           data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="block block-new-customer">
                        <fieldset class="fieldset create info">
                            <legend class="legend"><span>Vendor Address</span></legend>
                            <div class="field street required">
                                <label for="street" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Street') ?></span></label>
                                <div class="control">
                                    <input type="text" name="street" id="street" data-validate="{'required-entry':true}"
                                           aria-required="true" class="input-text">
                                </div>
                            </div>

                            <div class="field city required">
                                <label for="city" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('City') ?></span></label>
                                <div class="control">
                                    <input type="text" name="city" id="city" data-validate="{'required-entry':true}"
                                           aria-required="true" class="input-text">
                                </div>
                            </div>

                            <div class="field state required">
                                <label for="state" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('State') ?></span></label>
                                <div class="control">
                                    <input type="text" name="state" id="state" data-validate="{'required-entry':true}"
                                           aria-required="true" class="input-text">
                                </div>
                            </div>

                            <div class="field country required">
                                <label for="country" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Country') ?></span></label>
                                <div class="control">
                                    <?php echo $block->getCountryHtmlSelect(); ?>
                                </div>
                            </div>
                            <div class="field zip_code required">
                                <label for="zip_code" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Zip Code') ?></span></label>
                                <div class="control">
                                    <input type="text" name="zip_code" id="zip_code"
                                           data-validate="{'required-entry':true,'validate-number':true}"
                                           aria-required="true" class="input-text validate-zip-international">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <fieldset class="fieldset create info">
                    <legend class="legend"><span>Membership Information</span></legend>
                    <div class="field membership_id required">
                        <label for="membership_id" class="label"><span><?php /* @escapeNotVerified */
                                echo __('Membership Type') ?></span></label>
                        <div class="control">
                            <select id="membership_id" name="membership_id" title="<?php /* @escapeNotVerified */
                            echo __('Membership Type') ?>" class="form-control "
                                    data-validate="{'required-entry':true}">
                                <option value=""><?php /* @escapeNotVerified */
                                    echo __('Please select an option for membership type...') ?></option>
                                <?php foreach ($block->getMembershipList() as $member): ?>
                                    <option value="<?php echo $member['membership_id'] ?>"><?php echo $member['membership_type'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="vendor_status" value="pending"/>
                    <div id="membership">
                        <?php foreach ($block->getMembershipList() as $member) {
                        ?>
                        <TABLE BORDER="5" style="display:none;" WIDTH="50%" CELLPADDING="4" CELLSPACING="3"
                               id="membership-details<?php echo $member['membership_id']; ?>"
                               class="membership-details tableborder">
                            <TR>
                                <TH COLSPAN="2" class="heading-registration"><BR>
                                    <H3 align="center"
                                        id="membershiptypo"><?php echo $member['membership_type'] . " Membership"; ?></H3>
                                </TH>
                            </TR>

                            <TR ALIGN="CENTER">
                                <TD>Time_Range</TD>
                                <?php
                                $timefrom = str_replace(",", ":", $member['time_from']);
                                $timeto = str_replace(",", ":", $member['time_to']);
                                ?>
                                <TD><?php echo date("h:i A", strtotime($timefrom)); ?>
                                    -<?php echo date("h:i A", strtotime($timeto)); ?></TD>
                            </TR>

                            <TR ALIGN="CENTER">
                                <TD>Week Days</TD>
                                <TD><?php

                                    $weekdays = explode(",", $member['days']);
                                    $days = array("", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun");
                                    foreach ($weekdays as $key1 => $value) {
                                        foreach ($days as $key2 => $value2) {
                                            if ($value == $key2) {
                                                echo $value2 . " ";
                                            }
                                        }
                                    }
                                    ?>
                                </TD>
                            </TR>

                            <TR ALIGN="CENTER">
                                <TD>CHF Price</TD>
                                <TD><?php echo $member['swiss_price'] * 12; ?></TD>
                            </TR>
                            <TR ALIGN="CENTER">
                                <TD>Description</TD>
                                <TD><?php echo $member['description']; ?></TD>
                            </TR>
                            <TR ALIGN="CENTER">
                                <TD>Region</TD>
                                <TD><?php echo $member['custom_stores']; ?></TD>
                            </TR>
                            <?php } ?>
                        </TABLE>
                    </div>
                </fieldset>
                <div class="login-container">
                    <div class="block block-customer-login">
                        <fieldset class="fieldset create info">
                            <div class="field vendor_description required">
                                <label for="vendor_description" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Vendor Description') ?></span></label>
                                <div class="control">
                                    <textarea rows="4" cols="50" name="vendor_description"></textarea>
                                </div>
                            </div>
                            <div class="field vendor_image ">
                                <label for="vendor_image" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Vendor Image') ?></span></label>
                                <div class="control">
                                    <input type="file" name="image" id="image" accept="image/*"
                                           data-validate="{'validate-fileextensions':true,'validate-filesize':true}"/>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="block block-new-customer">
                        <fieldset class="fieldset create info">
                            <?php
                            $rootCategory = $block->getRootVendorCategory();
                            $categories = $block->getSubCategory($rootCategory);
                            ?>
                            <div class="field vendor_category required">
                                <label for="vendor_category"
                                       class="label"><span><?php echo __('Order Category') ?></span></label>
                                <div class="control">
                                    <select multiple="multiple" name="vendor_category[]" id="vendor_category"
                                            data-validate="{'required-entry':true}" class="multiselect" size="4">
                                        <?php
                                        foreach ($categories as $category):
                                            echo '<option value="' . $category->getName() . '">' . $category->getName() . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <?php $consultCategories = $block->getConsultCategories(); ?>
                            <div class="field consult_category" style="display: none">
                                <label for="consult_category"
                                       class="label"><span><?php echo __('Vendor Consulting Category') ?></span></label>
                                <div class="control">
                                    <select name="consult_category[]" id="consult_category" class="multiselect"
                                            multiple="multiple" size="4">
                                        <?php
                                        foreach ($consultCategories as $category):
                                            echo '<option value="' . $category->getId() . '">' . $category->getName() . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>


                <div class="primary">
                    <button type="submit" class="action submit primary" id="submit-btn"
                            title="<?php /* @escapeNotVerified */
                            echo __('Register') ?>">
                        <span>
                            <?php /* @escapeNotVerified */
                            echo __('Register Vendor'); ?>
                        </span>
                    </button>
                    <button type="submit" class="action submit primary" id="paynow-btn"
                            title="<?php /* @escapeNotVerified */
                            echo __('Register') ?>" style="display: none;">
                        <span>
                            <?php /* @escapeNotVerified */
                            echo __('Pay Now'); ?>
                        </span>
                    </button>
                </div>
            </div>
        </div>

    </main>
</form>

<script type="text/javascript">
    require(["jquery"], function ($) {
        jQuery(document).ready(function () {
            jQuery("#vendor_category").on("change", function () {
                var category = [];
                var selected_category = jQuery(this).val();
                if (jQuery.inArray("Consulting", selected_category) >= 0) {
                    jQuery(".consult_category").css("display", "block");
                }
                else {
                    jQuery(".consult_category").css("display", "none");
                }
            });

            jQuery("#yes1").on("click", function () {
                jQuery(".Question1").css("display", "none");
                jQuery(".Question2").css("display", "block");
            });

            jQuery("#yes2").on("click", function () {
                jQuery(".Question2").css("display", "none");
                jQuery(".Question3").css("display", "block");
            });

            jQuery("#yes3").on("click", function () {
                jQuery(".Question3").css("display", "none");
                jQuery(".columns").css("display", "block");
            });

            jQuery(".membership_id").on("change", function () {
                jQuery(".membership-details").hide();
                var membershiptype = jQuery("#membership_id").val();
                jQuery('#membership-details' + membershiptype).show();

                if (membershiptype != '1' && membershiptype != '') {
                    jQuery("#submit-btn").css("display", "none");
                    jQuery("#paynow-btn").css("display", "block");
                }
                else {
                    jQuery("#submit-btn").css("display", "block");
                    jQuery("#paynow-btn").css("display", "none");
                }
            });

        });
    });
</script>

<script type="text/javascript">
    require([
        'jquery',
        'jquery/ui',
        'jquery/validate',
        'mage/translate'
    ], function ($) {
        //Validate Image FileSize

        $.validator.addMethod(
            'validate-filesize', function (v, elm) {
                var maxSize = 5 * 1024000;
                if (navigator.appName == "Microsoft Internet Explorer") {
                    if (elm.value) {
                        var oas = new ActiveXObject("Scripting.FileSystemObject");
                        var e = oas.getFile(elm.value);
                        var size = e.size;
                    }
                } else {
                    if (elm.files[0] != undefined) {
                        size = elm.files[0].size;
                    }
                }
                if (size != undefined && size > maxSize) {
                    return false;
                }
                return true;
            }, $.mage.__('The file size should not exceed 5MB'));

        //Validate Image Extensions

        $.validator.addMethod(
            'validate-fileextensions', function (v, elm) {

                var extensions = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                if (!v) {
                    return true;
                }
                with (elm) {
                    var ext = value.substring(value.lastIndexOf('.') + 1);
                    for (i = 0; i < extensions.length; i++) {
                        if (ext == extensions[i]) {
                            return true;
                        }
                    }
                }
                return false;
            }, $.mage.__('Please upload image only.'));

        var input = document.getElementById('zip_code');
        google.maps.event.addDomListener(input, 'keydown', function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
            }
        });
        //Validate Image Width and Height
    });
    var map, infoWindow;
    var zipcode;
    var country;

    var placeSearch, autocomplete, selected = false;
    var componentForm = {
        postal_code: ['zip_code', 'short_name']
    };

    function initMap() {
        infoWindow = new google.maps.InfoWindow;
        geocoder = new google.maps.Geocoder;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };


                var latlng = {lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};
                var contentDisplayed = "<br>";
                contentDisplayed = contentDisplayed + "<br/>" + "Latitude : " + position.coords.latitude;
                contentDisplayed = contentDisplayed + "<br/>" + "Longitude : " + position.coords.longitude;

                geocoder.geocode({'location': latlng}, function (results, status) {
                    if (status === 'OK') {
                        if (results[1]) {
                            debugger;
                            for (var i = 0; i < results[1].address_components.length; i++) {
                                var addressType = results[1].address_components[i].types[0];
                                if (componentForm[addressType]) {
                                    var val = results[1].address_components[i][componentForm[addressType]];
                                    zipcode = val;
                                }
                                if (countryForm[addressType]) {
                                    var val = results[1].address_components[i][countryForm[addressType]];
                                    country = val;
                                }

                            }
                        } else {
                            window.alert('No Address results found');
                        }
                    } else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });

                infoWindow.setPosition(pos);
            }, function () {
            });
        }
        initAutocomplete();
    }

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('zip_code')),
            {types: ['geocode'], componentRestrictions: {country: 'ch'}});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        selected = true;

        for (var component in componentForm) {
            document.getElementById(componentForm[component][0]).value = '';
            document.getElementById(componentForm[component][0]).disabled = false;
        }
        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        if (place.address_components !== undefined) {
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType][1]];
                    document.getElementById(componentForm[addressType][0]).value = val;
                }
            }
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAOvK2K3j64PloOsoXFc9Ugby2q6Wv63Y&libraries=places&callback=initMap">
</script>