<!--@subject {{trans "Vendor Registration Request Received"}} @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Hello NeedSaf Admin,"}}</p>
<p>{{trans "We have a new vendor %vendor_name." vendor_name=$data.vendor_name trans "register request on the NeedSaf system"}}</p>
<p>{{trans "Kindly approve/reject this vendor %vendor_name." vendor_name=$data.vendor_name}}.</p>
<p>
    {{trans
    'Here is the NeedSaf system link to '}}<a href='{{trans "%admin_url" admin_url=$data.admin_url}}'>Approve</a> {{trans "Or "}}<a href='{{trans "%admin_url" admin_url=$data.admin_url}}'>Reject</a>
</p>
<p><a href='{{trans "%admin_url" admin_url=$data.admin_url}}'>Go to Admin Login</a></p>
{{template config_path="design/email/footer_template"}}

