<!--@subject {{trans "Payment Failed On Needsaf System"}} @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Your Vendor Payment has been failed, kindly connecting with vendor for membership"}}.</p>
<table class="email-credentials">
    <tr>
        <th>{{trans "Vendor Email:"}}</th>
        <td>{{trans "%email" email=$data.email}}</td>
    </tr>
    <tr>
        <th>{{trans "Name:"}}</th>
        <td><em>{{trans "%firstname" firstname=$data.firstname}}</em></td>
    </tr>
</table>
<p>
    This vendor has been registered on your site and payment has been failed.contact to vendor as 
    soon as possible.
</p>

{{template config_path="design/email/footer_template"}}



