<!--@subject {{trans "Account Approved On Needsaf System"}} @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Your Vendor profile has been approved, your account has been activated"}}.</p>
<p>
    {{trans
    'To sign in to our site, use these credentials during'}} <a href='{{trans "%admin_url" admin_url=$data.admin_url}}'>Login</a>{{trans ' page'}}.
</p>
<table class="email-credentials">
    <tr>
        <th>{{trans "Email:"}}</th>
        <td>{{trans "%email" email=$data.email}}</td>
    </tr>
    <tr>
        <th>{{trans "Password:"}}</th>
        <td><em>{{trans "XXXX Password you set when creating account"}}</em></td>
    </tr>
</table>
<p>
    {{trans
    'Here is the link to login to '}} <a href='{{trans "%admin_url" admin_url=$data.admin_url}}'>Needsaf System</a>
</p>
<p>{{trans "When you login to your account, you will be able to"}}:</p>
<p>{{trans "Create your products by adding values to the product attributes in the defined templates."}}</p>
<p>{{trans "Contact to the NeedSaf Admin."}}</p>
{{template config_path="design/email/footer_template"}}



