<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <div class="control">
                        <input type="number"
                               name="qty"
                               id="qty"
                               maxlength="12"
                               value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                               title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                               data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                        <a class="inc_qty qty-main" href="javascript:void(0)">
                            <div class="qty-inner">
                                <i class="fa fa-caret-up"></i>
                            </div>
                        </a>
                        <a class="dec_qty qty-main" href="javascript:void(0)" >
                            <div class="qty-inner">
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </a>
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
        "#product_addtocart_form": {
        "Magento_Catalog/product/view/validation": {
        "radioCheckboxClosest": ".nested"
        }
        }
        }
    </script>
<?php else : ?>
    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/product/view/validation',
            'Magento_Catalog/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';

            $('#product_addtocart_form').mage('validation', {
                radioCheckboxClosest: '.nested',
                submitHandler: function (form) {
                    var widget = $(form).catalogAddToCart({
                        bindSubmit: false
                    });

                    widget.catalogAddToCart('submitForm', $(form));

                    return false;
                }
            });
        });
    </script>
    <script type="text/javascript">
        require([
            'jquery'
        ], function () {
            jQuery(document).ready(function () {
                jQuery('.inc_qty').click(function () {
                    var oldVal = jQuery(this).parent().find("input").val();
                    if (parseFloat(oldVal) >= 1) {
                        var newVal = parseFloat(oldVal) + 1;
                        jQuery(this).parent().find("input").val(newVal);
                    }
                });
                jQuery('.dec_qty').click(function () {
                    var oldVal = jQuery(this).parent().find("input").val();
                    if (parseFloat(oldVal) >= 2) {
                        var newVal = parseFloat(oldVal) - 1;
                        jQuery(this).parent().find("input").val(newVal);
                    }
                });
            });
        });
    </script>
<?php endif; ?>