<?php
$websites = $block->getWebsites();

$websites = array_unique($websites, SORT_REGULAR);
?>
<select class="select-website">
    <option class="switcher-option" value="">Please select one website</option>
    <?php foreach($websites as $website):?>
        <option class="switcher-option" value="<?php echo $website['url'];?>">
            <?php echo $website['name'];?>
        </option>
    <?php endforeach;?>
</select>

<script>
    requirejs(['jquery'], function ($) {
        jQuery(document).ready(function(){
            jQuery('.select-website').on('change',function (event) {
                if(jQuery(this).val() != '' || jQuery(this).val() != null){
                    window.location.href = jQuery(this).val();
                }


            });
        });
    })
</script>