<form method="post" name="member_form" action="<?php echo $this->getUrl('vendorregistration/index/post') ?>" data-mage-init='{"validation":{}}' enctype="multipart/form-data">
    <fieldset class="fieldset">
    <div class="field firstname required">
        <label for="firstname" class="label"><span><?php /* @escapeNotVerified */ echo __('First Name') ?></span></label>
        <div class="control">
            <input type="text" name="firstname" id="firstname" data-validate="{'required-entry':true, 'validate-alpha': true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field lastname required">
        <label for="lastname" class="label"><span><?php /* @escapeNotVerified */ echo __('Last Name') ?></span></label>
        <div class="control">
            <input type="text" name="lastname" id="lastname" data-validate="{'required-entry':true, 'validate-alpha': true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field email required">
        <label for="email" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
        <div class="control">
            <input type="email" name="email" id="email" data-validate="{'required-entry':true, 'validate-email':true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field username required">
        <label for="username" class="label"><span><?php /* @escapeNotVerified */ echo __('Username') ?></span></label>
        <div class="control">
            <input type="text" name="username" id="username" data-validate="{'required-entry':true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field membership_id required">
        <label for="membership_id" class="label"><span><?php /* @escapeNotVerified */ echo __('Membership Type') ?></span></label>
        <div class="control">
            <select id="membership_id" name="membership_id" title="<?php /* @escapeNotVerified */ echo __('Membership Type') ?>" class="form-control " data-validate="{'required-entry':true}">
                <option value=""><?php /* @escapeNotVerified */ echo __('Please select an option for membership type...') ?></option>
                <?php foreach($block->getMembershipList() as $member): ?>
                    <option value="<?php echo $member['membership_id'] ?>"><?php echo  $member['membership_type'] ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <input type="hidden" name="vendor_status" value="pending"/>
    <div class="field store_name required">
        <label for="store_name" class="label"><span><?php /* @escapeNotVerified */ echo __('Store Name') ?></span></label>
        <div class="control">
            <input type="text" name="store_name" id="store_name" data-validate="{'required-entry':true,, 'validate-alpha': true}" aria-required="true" class="input-text">
        </div>
    </div>
        <div class="field website required">
            <label for="website1" class="label"><span><?php /* @escapeNotVerified */ echo __('Website') ?></span></label>
            <div class="control">
                <select name="website1" id="website" data-validate="{'required-entry':true}">
                    <option value=""><?php /* @escapeNotVerified */ echo __('Please Select...') ?></option>
                    <option value="needsaf_dech">Needsaf De Ch</option>
                    <option value="needsaf_romandy">Needsaf Romandy</option>
                    <option value="needsaf_ticino">Needsaf Ticino</option>
                </select>
            </div>
        </div>
    <?php /*
        <?php $rootCategory = $block->getRootVendorCategory(); 
        $categories = $block->getSubCategory($rootCategory);?>
        <div class="field vendor_category required">
            <label for="vendor_category" class="label"><span><?php echo __('Vendor Category') ?></span></label>
            <div class="control">
                <select name="vendor_category" id="vendor_category" data-validate="{'required-entry':true}">
                    <option value=""><?php echo __('Please Select vendor category..') ?></option>
                    <?php foreach($categories as $category):
                       echo '<option value="'.$category->getName().'">'.$category->getName().'</option>';
                    endforeach; ?>
                </select>
            </div>
        </div>
        <?php $consultCategories = $block->getConsultCategories();?>
        <div class="field consult_category" style="display: none">
            <label for="consult_category" class="label"><span><?php echo __('Vendor Consulting Category') ?></span></label>
            <div class="control">
                <select name="consult_category[]" id="consult_category" class="multiselect" multiple="multiple" size="4">
                    <?php foreach($consultCategories as $category):
                        echo '<option value="'.$category->getId().'">'.$category->getName().'</option>';
                    endforeach; ?>
                </select>
            </div>
        </div>
        */?>
        <div class="field vendor_image ">
            <label for="vendor_image" class="label"><span><?php /* @escapeNotVerified */ echo __('Vendor Image') ?></span></label>
            <div class="control">
                <input type="file" name="image" id="image"/>
            </div>
        </div>
        <div class="field vendor_description required">
            <label for="vendor_description" class="label"><span><?php /* @escapeNotVerified */ echo __('Vendor Description') ?></span></label>
            <div class="control">
                <textarea rows="4" cols="50" name="vendor_description"></textarea>
            </div>
        </div>
    <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
        <label for="password" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
        <div class="control">
            <input type="password" name="password" id="password"
                   title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                   class="input-text"
                   data-password-min-length="8"
                   data-validate="{required:true, 'validate-customer-password':true}"
                   autocomplete="off">
            <div id="password-strength-meter-container" data-role="password-strength-meter" >
                <div id="password-strength-meter" class="password-strength-meter">
                    <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                    <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
						<?php /* @escapeNotVerified */ echo __('No Password'); ?>
					</span>
                </div>
            </div>
        </div>
    </div>
    <div class="field confirmation required">
        <label for="password-confirmation" class="label"><span><?php /* @escapeNotVerified */ echo __('Confirm Password') ?></span></label>
        <div class="control">
            <input type="password" name="password_confirmation" title="<?php /* @escapeNotVerified */ echo __('Confirm Password') ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
        </div>
    </div>
    <div class="field street required">
        <label for="street" class="label"><span><?php /* @escapeNotVerified */ echo __('Street') ?></span></label>
        <div class="control">
            <input type="text" name="street" id="street" data-validate="{'required-entry':true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field city required">
        <label for="city" class="label"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
        <div class="control">
            <input type="text" name="city" id="city" data-validate="{'required-entry':true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field state required">
        <label for="state" class="label"><span><?php /* @escapeNotVerified */ echo __('State') ?></span></label>
        <div class="control">
            <input type="text" name="state" id="state" data-validate="{'required-entry':true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field country required">
        <label for="country" class="label"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
        <div class="control">
            <select name="country" id="country" data-validate="{'required-entry':true}">
                <option value=""><?php /* @escapeNotVerified */ echo __('Please Select...') ?></option>
                <option value="AF">Afghanistan</option>
                <option value="AX">Åland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia, Plurinational State of</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, the Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Côte d'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran, Islamic Republic of</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">Korea, Democratic People's Republic of</option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory, Occupied</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Réunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthélemy</option>
                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin (French part)</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten (Dutch part)</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela, Bolivarian Republic of</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.S.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
        </div>
    </div>
    <div class="field zip_code required">
        <label for="zip_code" class="label"><span><?php /* @escapeNotVerified */ echo __('Zip Code') ?></span></label>
        <div class="control">
            <input type="text" name="zip_code" id="zip_code" data-validate="{'required-entry':true}" aria-required="true" class="input-text">
        </div>
    </div>
    <div class="field currency_code">
        <label for="currency_code" class="label"><span><?php /* @escapeNotVerified */ echo __('Select Currency Code') ?></span></label>
        <div class="control">
            <select id="currency_code" class="input-text" name="currency_code">
                <option name="usd" value="usd">USD</option>
                <option name="chf" value="chf">CHF</option>
                <option name="eur" value="eur">EUR</option>
            </select>
        </div>
    </div>
    <div class="field cc_type required">
        <label for="cc_type" class="label"><span><?php /* @escapeNotVerified */ echo __('Select Credit Card Type');?></span></label>
        <div class="control">
            <select id="cc_type" name="cc_type" class="required">
                <option name="Visa" value="VI">Visa</option>
                <option name="Amex" value="AE">American Express</option>
                <option name="MasterCard" value="MC">MasterCard</option>
                <option name="Discover" value="DI">Discover</option>
                <option name="Maestro" value="SM">Maestro</option>
                <option name="Solo" value="SO">Solo</option>
            </select>
        </div>
    </div>
    <div class="field cc_number required">
        <label for="cc_number" class="label"><span><?php /* @escapeNotVerified */ echo __('Credit Card Number');?></span></label>
        <div class="control">
            <input type="text" id="cc_number" name="cc_number" class="input-text"/>
        </div>
    </div>
    <div class="field cc_expmonth required">
        <label for="cc_expmonth" class="label"><span><?php /* @escapeNotVerified */ echo __('Credit Card Exp. Month');?></span></label>
        <div class="control">
            <input type="number" id="cc_expmonth" name="cc_expmonth" class="input-text"/>
        </div>
    </div>
    <div class="field cc_expyear required">
        <label for="cc_expyear" class="label"><span><?php /* @escapeNotVerified */ echo __('Credit Card Exp. Year');?></span></label>
        <div class="control">
            <input type="number" id="cc_expyear" name="cc_expyear" class="input-text"/>
        </div>
    </div>
    <div class="field cc_cid required">
        <label for="cc_cid" class="label"><span><?php /* @escapeNotVerified */ echo __('Credit Card Security Code');?></span></label>
        <div class="control">
            <input type="password" id="cc_cid" name="cc_cid" class="input-text"/>
        </div>
    </div>

    <div class="primary">
        <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Register') ?>"><span><?php /* @escapeNotVerified */ echo __('Register Vendor') ?></span></button>
    </div>
    </fieldset>
</form>
<script type="text/javascript">
// require(["jquery"],function ($) {
//     jQuery(document).ready(function () {
//         $('#membership_id').on('change', function() {
//             if ( this.value == '1')
//             //.....................^.......
//             {
//                 $("#website").prop("disabled", true);
//             }
//             else
//             {
//                 $("#website").prop("disabled", false);
//             }
//         });
//     });
// });
    </script>
<script type="text/javascript">
     require(["jquery"],function ($) {
         jQuery(document).ready(function () {
             jQuery(".vendor_category").on("click",function(){
                 var category = jQuery("#vendor_category").val();
                 if(category == 'Consulting') {
                     jQuery(".consult_category").css("display", "block");
                 }
                 else
                 {
                     jQuery(".consult_category").css("display", "none");
                 }
             });
         });
     });
</script>