<?php
$_helper = $this->helper('Solwin\Cpanel\Helper\Data');
$headerType = $_helper->getHeadertype();
?>
<?php if ($headerType == 1) { ?>
    <header class="page-header htype-<?php echo $headerType; ?>">
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("cpanel.header.notification"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("header.static.block"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    </header>
<?php } else if ($headerType == 2) { ?>
    <header class="page-header htype-<?php echo $headerType; ?>">
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <div class="header-left">
                <?php echo $this->getChildHtml("cusheadermsg"); ?>
                <?php echo $this->getChildHtml("header.static.block"); ?>
            </div>
            <div class="header-middle">
                <?php echo $this->getChildHtml("logo"); ?>
            </div>
            <div class="header-right">
                <?php echo $this->getChildHtml("minicart"); ?>
                <div data-block="searchblock" class="search-block">
                    <a class="search-btn"       
                          data-bind="scope: 'search_content'">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        <span class="tog-icon"></span>
                    </a>
                    <div class="block block-search-content"
                         data-role="dropdownDialog"
                         data-mage-init='{"dropdownDialog":{
                         "appendTo":"[data-block=searchblock]",
                         "triggerTarget":".search-btn",
                         "timeout": "2000",
                         "closeOnMouseLeave": false,
                         "closeOnEscape": true,
                         "triggerClass":"active",
                         "parentClass":"active",
                         "buttons":[]}}'>
                        <div data-bind="scope: 'search_content'">
                            <?php echo $this->getChildHtml("top.search"); ?>
                        </div>
                    </div>
                </div>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <div data-block="linksblock" class="links-block">
                    <a class="links-btn"              
                          data-bind="scope: 'links_content'">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span class="tog-icon"></span>
                    </a>
                    <div class="block block-links-content"
                         data-role="dropdownDialog"
                         data-mage-init='{"dropdownDialog":{
                         "appendTo":"[data-block=linksblock]",
                         "triggerTarget":".links-btn",
                         "timeout": "2000",
                         "closeOnMouseLeave": false,
                         "closeOnEscape": true,
                         "triggerClass":"active",
                         "parentClass":"active",
                         "buttons":[]}}'>
                        <div data-bind="scope: 'links_content'">
                            <?php echo $this->getChildHtml("cus.header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    </header>
<?php } ?>