<?php
$enable = $this->getEnableModule();
if ($enable) {
    $helper = $this->helper('Solwin\Cpanel\Helper\Data');
    $ishome = $helper->getIsHomePage();
    if ($ishome) {
        $baseUrl = $this->getBaseUrl();
        $redirectPath = $baseUrl . 'ourblog/index/index';
        $mediaUrl = $baseUrl . 'pub/media/';
        $mediaPath = $this->getMediaPath();
        $currId = $this->getRequest()->getParam('id');
        $blogtags = $this->getRequest()->getParam('tags');
        $defImage = '';
        $bannerCss = $this->getBannerCss();
        $bannerJs = $this->getBannerJs();
        ?>

        <?php echo $block->getLayout()->getMessagesBlock()->getGroupedHtml() ?>

        <?php
        $homeshowimage = $this->getHomeshowimage();
        $homeshowtitle = $this->getHomeshowtitle();
        $homeblogtitle = $this->getHomeblogtitle();
        $homeshowcontent = $this->getHomeshowcontent();
        $getHomeshowreadmore = $this->getHomeshowreadmore();
        $homeshowtags = $this->getHomeshowtags();
        $homeshowdate = $this->getHomeshowdate();
        $homeenableslider = $this->getHomeenableslider();

        if (isset($blogtags) && $blogtags != '') {
            $blogCollection = $this->getBlogTagsCollection($blogtags);
        } else {
            $blogCollection = $this->getBlogCollection();
        }
        $size = $blogCollection->getSize();
        ?>
        <div class="bh-wrapper pad-main-bottom">
            <div class="bh-row">
                <div class="block-title-main">
                    <h2><?php echo __($homeblogtitle); ?></h2>
                    <div class="title-border"></div>
                </div>
                <?php
                if ($size > 0) {
                    ?>
                    <ul <?php if ($homeenableslider) { ?> class="bh-main blog-home-slider" <?php } else { ?> class="bh-main" <?php } ?> class="bh-main">
                        <?php foreach ($blogCollection as $blogData) {
                            ?>
                            <?php
                            $imageURL = $defImage;
                            $imageName = $blogData->getImage();
                            if ($imageName != '') {
                                $imagePath = $mediaPath . $imageName;
                                if (file_exists($imagePath)) {
                                    $imageURL = $mediaUrl . $imageName;
                                }
                            }
                            $blogUrl = $redirectPath . '/id/' . $blogData->getBlogId();
                            ?>
                            <li>
                                <div <?php if ($homeenableslider) { ?> style="" <?php } else { ?> style="width:100%;" <?php } ?> class="bh-main-inner">
                                    <?php if ($homeshowimage) { ?>
                                        <div class="bh-img">
                                            <a title="<?php echo $blogData->getTitle() ?>" href="<?php echo $blogUrl; ?>">
                                                <img title="<?php echo $blogData->getTitle() ?>" src="<?php echo $imageURL; ?>" class="">
                                            </a>
                                        </div>
                                    <?php } ?>
                                    <div class="bh-info">
                                        <?php if ($homeshowdate) { ?>
                                            <div <?php if ($homeshowimage) { ?> style="" <?php } else { ?> style="top: 50px;" <?php } ?> class="bh-date">
                                                <?php $bhtimestamp = strtotime($blogData->getPublishDate()); ?>
                                                <div class="bh-day">
                                                    <?php echo date("d", $bhtimestamp); ?>
                                                </div>
                                                <div class="bh-monyr">
                                                    <?php
                                                    echo date("M", $bhtimestamp) . '-';
                                                    echo date("Y", $bhtimestamp);
                                                    ?>
                                                </div>
                                                <?php
                                                $blogId = $blogData->getBlogId();
                                                $commentsCount = $this->getCustomCommentsCollection($blogId);
                                                ?>
                                                <div class="bh-cmt-count">
                                                    <i class="fa fa-comment"></i>
                                                    <?php
                                                    echo (isset($commentsCount)) ? $commentsCount : '0';
                                                    ?>
                                                </div>
                                            </div>
                                        <?php } ?>
                                        <div <?php if ($homeshowdate) { ?> style="" <?php } else { ?> style="padding-left: 0;" <?php } ?> class="bh-other-info">
                                            <?php if ($homeshowtitle) { ?>
                                                <h3 class="bh-title">
                                                    <a title="<?php echo __($blogData->getTitle()) ?>" href="<?php echo $blogUrl; ?>"><?php echo __($blogData->getTitle()); ?></a>
                                                </h3>
                                            <?php } ?>
                                            <?php if ($homeshowcontent) { ?>
                                                <div class="bh-desc">
                                                    <p><?php echo __(substr($blogData->getDescription(), 0, 170)) . '...'; ?></p>
                                                </div>
                                            <?php } ?>
                                            <?php if ($homeshowtags) { ?>
                                                <div class="bh-tags">
                                                    <strong><?php echo __('Tags: '); ?></strong>
                                                    <?php
                                                    $tags = explode(',', $blogData->getTags());
                                                    foreach ($tags as $key => $tagData) {
                                                        ?>
                                                        <?php $tagsUrl = $redirectPath . '/tags/' . $tagData; ?>
                                                        <a title="<?php echo __('tags'); ?>" href="<?php echo $tagsUrl; ?>"><span><span><?php echo $tagData; ?></span></span></a>
                                                    <?php } ?>
                                                </div>
                                            <?php } ?>
                                            <?php if ($homeshowcontent) { ?>
                                                <?php if ($getHomeshowreadmore) { ?>
                                                    <p class="bh-readmore">
                                                        <a title="<?php echo __($blogData->getTitle()); ?>" href="<?php echo $blogUrl; ?>">
                                                            <?php echo __('Read More...'); ?>									
                                                        </a>
                                                    </p>
                                                <?php } ?>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <?php } ?>
                    </ul>
                <?php } ?> 
            </div>
        </div>
        <script type="text/javascript">
            require(['jquery', 'cpowlcarousel'], function ($) {
                $(document).ready(function () {
                    $(".blog-home-slider").owlCarousel({
                        items: 2,
                        itemsDesktop: [1080, 2],
                        itemsDesktopSmall: [860, 2],
                        itemsTablet: [768, 1],
                        itemsTabletSmall: [639, 1],
                        itemsMobile: [360, 1],
                        pagination: false,
                        navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></div>"],
                        navigation: true,
                    });
                });
            });
        </script>
        <?php
    }
}
?>

