<?php
$enable = $this->getEnableModule();
if ($enable) {
    $helper = $this->helper('Solwin\Cpanel\Helper\Data');
    $baseUrl = $this->getBaseUrl();
    $redirectPath = $baseUrl . 'ourblog/index/index';
    $mediaUrl = $baseUrl . 'pub/media/';
    $mediaPath = $this->getMediaPath();
    $defImage = '';
    ?>

    <?php
    $blogCollection = $this->getBlogCollection();
    $size = $blogCollection->getSize();
    $sidebarblogtitle = $this->getSidebartitle();
    $sidebarimage = $this->getSidebarshowimage();
    $sidebarshowdate = $this->getSidebarshowdate();
    $sidebarshowtitle = $this->getSidebarshowtitle();
    ?>
    <div class="block block-brand">
        <div class="block-title">
            <strong><?php echo __($sidebarblogtitle); ?></strong>
        </div>
        <?php
        if ($size > 0) {
            ?>
            <div class="bg-side-main">
                <ul class="bg-side-inner-main">
                    <?php foreach ($blogCollection as $blogData) {
                        ?>
                        <?php
                        $imageURL = $defImage;
                        $imageName = $blogData->getImage();
                        if ($imageName != '') {
                            $imagePath = $mediaPath . $imageName;
                            if (file_exists($imagePath)) {
                                $imageURL = $mediaUrl . $imageName;
                            }
                        }
                        $blogUrl = $redirectPath . '/id/' . $blogData->getBlogId();
                        ?>
                        <li class="bh-main-inner">
                            <?php if ($sidebarimage) { ?>
                                <div class="bg-img">
                                    <a title="<?php echo __($blogData->getTitle()); ?>" href="<?php echo $blogUrl; ?>">
                                        <img title="<?php echo __($blogData->getTitle()); ?>" src="<?php echo $imageURL; ?>">
                                    </a>
                                </div>
                            <?php } ?>
                            <div class="bg-info">
                                <?php if ($sidebarshowdate) { ?>
                                    <?php if ($sidebarshowtitle) { ?>
                                        <h3 class="bg-title">
                                            <a title="<?php echo __($blogData->getTitle()); ?>" href="<?php echo $blogUrl; ?>"><?php echo __($blogData->getTitle()); ?></a>
                                        </h3>
                                    <?php } ?>
                                    <?php $bhtimestamp = strtotime($blogData->getPublishDate()); ?>
                                    <div class="bg-date">
                                        <?php
                                        echo date("d", $bhtimestamp) . '-';
                                        echo date("M", $bhtimestamp) . '-';
                                        echo date("Y", $bhtimestamp);
                                        ?>
                                    </div>
                                    <?php
                                    $blogId = $blogData->getBlogId();
                                    $commentsCount = $this->getCustomCommentsCollection($blogId);
                                    ?>
                                    <div class="bg-cmt-count">
                                        <i class="fa fa-comment"></i>
                                        <?php
                                        echo (isset($commentsCount)) ? $commentsCount : '0';
                                        ?>
                                    </div>
                                <?php } ?>
                            </div>
                        </li>
                    <?php } ?>
                </ul>
            </div>
        <?php } ?> 
    </div>
    <script type="text/javascript">
        require(['jquery', 'cpowlcarousel'], function ($) {
            $(document).ready(function () {
                $(".bg-side-inner-main").owlCarousel({
                    items: 1,
                    itemsDesktop: [1080, 1],
                    itemsDesktopSmall: [860, 1],
                    itemsTablet: [768, 1],
                    itemsTabletSmall: [639, 1],
                    itemsMobile: [360, 1],
                    pagination: false,
                    navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></div>"],
                    navigation: true,
                });
            });
        });
    </script>
    <?php
}
?>

