<?php
$enable = $this->getEnableModule();
if ($enable) {
    $baseUrl = $this->getBaseUrl();
    $redirectPath = $baseUrl . 'ourblog/index/index';
    $mediaUrl = $baseUrl . 'pub/media/';
    $mediaPath = $this->getMediaPath();
    $currId = $this->getRequest()->getParam('id');
    $blogtags = $this->getRequest()->getParam('tags');
    $defImage = '';
    $bannerCss = $this->getBannerCss();
    $bannerJs = $this->getBannerJs();
    ?>

    <?php echo $block->getLayout()->getMessagesBlock()->getGroupedHtml() ?>

    <?php
    if (isset($currId) && $currId != '') {
        $currId;
        $singleBlogCollection = $this->getSingleBlogCollection($currId);
        $blogId = $singleBlogCollection->getBlogId();
        $title = $singleBlogCollection->getTitle();
        $image = $singleBlogCollection->getImage();
        $description = $singleBlogCollection->getDescription();
        $content = $singleBlogCollection->getContent();
        $tags = explode(',', $singleBlogCollection->getTags());
        $publishDate = $singleBlogCollection->getPublishDate();
        $formAction = $this->getFormAction();
        $status = 2; // 2 = disabled
        $customerId = $this->getLoggendinCustomerId();
        if (!isset($customerId)) {
            $customerId = 0;
        }
        // get comments collection by blog_id;
        $commentLimit = $this->getCommentlimit();
        $commentsCollection = $this->getCommentsCollection($currId, $commentLimit);
        $comSize = count($commentsCollection);

        // config settings
        $ishowimage = $this->getIshowimage();
        $ishowdate = $this->getIshowdate();
        $ishowtitle = $this->getishowtitle();
        $ishowcontent = $this->getIshowcontent();
        $ishowdesc = $this->getIshowdesc();
        $ishowtags = $this->getIshowtags();
        $iaddcomment = $this->getIsaddcomment();
        $ishowcomment = $this->getIsshowcomment();
        $icountcomment = $this->getCountcomment();
        $icommentname = $this->getCommentname();
        $icommentdate = $this->getCommentdate();
        $icommenttitle = $this->getCommenttitle();
        $icommentdesc = $this->getCommentdesc();
        ?>
        <div class="bh-main" style="box-sizing: border-box;float: left;width: 100%;">
            <div class="bh-main-inner" style="margin: 0;">
                <?php
                $imageURL = $defImage;
                $imageName = $image;
                if ($imageName != '') {
                    $imagePath = $mediaPath . $imageName;
                    if (file_exists($imagePath)) {
                        $imageURL = $mediaUrl . $imageName;
                    }
                }
                ?>
                <?php if ($ishowimage) { ?>
                    <div class="bh-img">
                        <img title="<?php echo __($title) ?>" src="<?php echo $imageURL; ?>" class="">
                    </div>
                <?php } ?>
                <div class="bh-info bh-info-b">
                    <?php if ($ishowdate) { ?>
                        <div class="bh-date">
                            <?php $bhtimestamp2 = strtotime($publishDate); ?>
                            <div class="bh-day">
                                <?php echo date("d", $bhtimestamp2); ?>
                            </div>
                            <div class="bh-monyr">
                                <?php
                                echo date("M", $bhtimestamp2) . '-';
                                echo date("Y", $bhtimestamp2);
                                ?>
                            </div>
                            <div class="bh-cmt-count">
                                <i class="fa fa-comment"></i> <?php echo $comSize; ?>
                            </div>
                        </div>
                    <?php } ?>
                    <div <?php if ($ishowdate) { ?> style="" <?php } else { ?> style="padding-left: 0;" <?php } ?> class="bh-other-info">
                        <?php if ($ishowtitle) { ?>
                            <h3 class="bh-title">
                                <?php echo __($title); ?>
                            </h3>
                        <?php } ?>
                        <?php if ($ishowcontent) { ?>
                            <div class="bh-desc">
                                <p><?php echo __($content); ?></p>
                            </div>
                        <?php } ?>
                        <?php if ($ishowdesc) { ?>
                            <div class="bh-desc">
                                <p><?php echo __($description); ?></p>
                            </div>
                        <?php } ?>
                        <?php if ($ishowtags) { ?>
                            <div class="bh-tags">
                                <strong><?php echo __('Tags: '); ?></strong>
                                <?php
                                foreach ($tags as $tagData) {
                                    ?>
                                    <?php $tagsUrl = $redirectPath . '/tags/' . $tagData; ?>
                                    <a title="<?php echo __('tags'); ?>" href="<?php echo $tagsUrl; ?>"><span><span><?php echo $tagData; ?></span></span></a>
                                <?php } ?>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>   
        </div>   
        <?php if ($iaddcomment) { ?>
            <span class="post-comment">
                <a href="#content-div" id="post_cmt" class="action primary fancybox"><?php echo __('Post a comment'); ?></a>
            </span>
        <?php } ?>
        <div style="display: none">
            <div id="content-div">
                <div id="info-testy-create" style="min-width:700px;min-height:400px;">
                    <form class="form contact"
                          action="<?php echo $formAction; ?>"
                          id="commentForm"
                          method="post"
                          data-hasrequired="<?php echo __('* Required Fields') ?>"
                          data-mage-init='{"validation":{}}'>
                        <fieldset class="fieldset">
                            <legend class="legend"><span style="font-weight: 400;"><?php echo __('Write Us') ?></span></legend><br />
                            <div class="field name required">
                                <label class="label" for="user_name"><span><?php echo __('Name') ?></span></label>
                                <div class="control">
                                    <input name="user_name" id="user_name" title="<?php echo __('Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                </div>
                            </div>
                            <div class="field name required">
                                <label class="label" for="blog_title"><span><?php echo __('Title') ?></span></label>
                                <div class="control">
                                    <input name="blog_title" id="blog_title" title="<?php echo __('Title') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                </div>
                            </div>
                            <div class="field comment required">
                                <label class="label" for="comment"><span><?php echo __('What’s on your mind?') ?></span></label>
                                <div class="control">
                                    <textarea name="comment" id="comment" title="<?php echo __('What’s on your mind?') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <input type="hidden" name="blog_id" id="blog_id" value="<?php echo $blogId; ?>" />
                                <input type="hidden" name="status" id="status" value="<?php echo $status; ?>" />
                                <input type="hidden" name="user_id" id="user_id" value="<?php echo $customerId; ?>" />
                                <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                                    <span><?php echo __('Submit') ?></span>
                                </button>
                                <button type="reset" class="button" value="<?php echo __('Reset') ?>"><span><span><?php echo __('Reset') ?></span></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <?php if ($ishowcomment) { ?>
            <?php
            if ($comSize > 0) {
                ?>
                <div class="cm-main">
                    <?php if ($icountcomment) { ?>
                        <h2 class="cm-main-title"><?php echo __($comSize . ' Comment(s).'); ?></h2>
                    <?php } ?>
                    <?php foreach ($commentsCollection as $comData) { ?>
                        <div class="cm-main-inner">
                            <div class="cm-img">
                                <img width="87" height="87" src="<?php echo $this->getDefaultImage(); ?>" alt="<?php echo $comData->getUserName(); ?>" />
                            </div>
                            <div class="cm-content">
                                <?php if ($icommentname) { ?>
                                    <span class="cm-name"><?php echo $comData->getUserName(); ?></span>
                                <?php } ?>
                                <?php if ($icommentdate) { ?>
                                    <?php $commentdate = strtotime($comData->getCreatedDate()); ?>
                                    <span class="cm-date"><?php
                                        echo date("d", $commentdate) . '-';
                                        echo date("M", $commentdate) . '-';
                                        echo date("Y", $commentdate);
                                        ?></span>
                                <?php } ?>
                                <?php if ($icommenttitle) { ?>
                                    <span class="cm-title"><?php echo $comData->getBlogTitle(); ?></span>
                                <?php } ?>
                                <?php if ($icommentdesc) { ?>
                                    <span class="cm-desc"><?php echo $comData->getComment(); ?></span>
                                <?php } ?>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            <?php } ?>
        <?php } ?>
        <?php
    } else {
        if (isset($blogtags) && $blogtags != '') {
            $blogCollection = $this->getBlogTagsCollection($blogtags);
        } else {
            $blogCollection = $this->getCollection();
        }
        $size = $blogCollection->getSize();
        $showimage = $this->getShowimage();
        $showdate = $this->getShowdate();
        $showtitle = $this->getShowtitle();
        $showcontent = $this->getShowcontent();
        $showtags = $this->getShowtags();
        $showreadmore = $this->getShowreadmore();

        if ($size > 0):
            foreach ($blogCollection as $blogData) {
                ?>
                <?php
                $imageURL = $defImage;
                $imageName = $blogData->getImage();
                if ($imageName != '') {
                    $imagePath = $mediaPath . $imageName;
                    if (file_exists($imagePath)) {
                        $imageURL = $mediaUrl . $imageName;
                    }
                }
                $blogUrl = $redirectPath . '/id/' . $blogData->getBlogId();
                ?>
                <div class="bh-main" style="float: left;width: 100%;margin-bottom: 20px;">
                    <div class="bh-main-inner" style="margin: 0;">
                        <?php if ($showimage) { ?>
                            <div class="bh-img">
                                <a title="<?php echo $blogData->getTitle() ?>" href="<?php echo $blogUrl; ?>">
                                    <img title="<?php echo $blogData->getTitle() ?>" src="<?php echo $imageURL; ?>">
                                </a>
                            </div>
                        <?php } ?>
                        <div class="bh-info">
                            <?php if ($showdate) { ?>
                                <div class="bh-date">
                                    <?php $bhbtimestamp = strtotime($blogData->getPublishDate()); ?>
                                    <div class="bh-day">
                                        <?php echo date("d", $bhbtimestamp); ?>
                                    </div>
                                    <div class="bh-monyr">
                                        <?php
                                        echo date("M", $bhbtimestamp) . '-';
                                        echo date("Y", $bhbtimestamp);
                                        ?>
                                    </div>
                                    <?php
                                    $blogId = $blogData->getBlogId();
                                    $commentsCount = $this->getCustomCommentsCollection($blogId);
                                    ?>
                                    <div class="bh-cmt-count">
                                        <i class="fa fa-comment"></i> <?php echo (isset($commentsCount)) ? $commentsCount : '0'; ?>
                                    </div>
                                </div>
                            <?php } ?>
                            <div <?php if ($showdate) { ?> style="" <?php } else { ?> style="padding-left: 0;" <?php } ?> class="bh-other-info">
                                <?php if ($showtitle) { ?>
                                    <h3 class="bh-title">
                                        <a title="<?php echo __($blogData->getTitle()) ?>" href="<?php echo $blogUrl; ?>"><?php echo __($blogData->getTitle()) ?></a>
                                    </h3>
                                <?php } ?>
                                <?php if ($showcontent) { ?>
                                    <div class="bh-desc">
                                        <p><?php echo __(substr($blogData->getDescription(), 0, 250)) . '...'; ?></p>
                                    </div>
                                <?php } ?>
                                <?php if ($showtags) { ?>
                                    <div class="bh-tags">
                                        <strong><?php echo __('Tags:'); ?> </strong>
                                        <?php
                                        $tags = explode(',', $blogData->getTags());
                                        foreach ($tags as $key => $tagData) {
                                            ?>
                                            <?php $tagsUrl = $redirectPath . '/tags/' . $tagData; ?>
                                            <a title="<?php echo __('tags'); ?>" href="<?php echo $tagsUrl; ?>"><span><span><?php echo $tagData; ?></span></span></a>
                                        <?php } ?>
                                    </div>
                                <?php } ?>
                                <?php if ($showcontent) { ?>
                                    <?php if ($showreadmore) { ?>
                                        <p class="bh-readmore">
                                            <a title="<?php echo __($blogData->getTitle()); ?>" href="<?php echo $blogUrl; ?>">
                                                <?php echo __('Read more...'); ?>								
                                            </a>
                                        </p>
                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        <?php endif; ?>
        <?php if ($this->getPagerHtml()) { ?> 
            <div class="bg-pager">
                <?php echo $this->getPagerHtml(); ?>
            </div>
        <?php } ?>
    <?php }
    ?>
    <script type="text/javascript">
        require(['jquery', 'cpfancybox'], function () {
            jQuery(document).ready(function () {
                jQuery(".fancybox").fancybox();
            });
        });
    </script>
<?php } ?>
