<?php
$helper = $this->helper('Solwin\Ourbrand\Helper\Data');

$route = $helper->getConfig('brandsection/brandgroup/route');
$baseUrl =  $helper->getBaseUrl(); 
$enable = $helper->getEnableModule();
if ($enable) {
    ?>
        <li>  
        <a href="<?php echo $baseUrl.$route ?>"><?php echo $block->escapeHtml($block->getLabel()) ?>  
            <?php echo($block->getCounter()) ? '<span class="counter qty">' . $block->escapeHtml($block->getCounter()) . '</span>' : ''; ?>  
        </a>  
    </li>
<?php } ?>