<?php
$enable = $this->getEnableModule();
$baseUrl = $this->getBaseUrl();
$redirectPath = $baseUrl . 'ourbrand/index/index';
$mediaPath = $this->getMediaPath();
$mediaUrl = $this->getBaseUrl() . 'pub/media/';
$currId = $this->getRequest()->getParam('id');

$bandHelper = $this->helper('\Solwin\Ourbrand\Helper\Data');
$route = $bandHelper->getConfig('brandsection/brandgroup/route');

$defImage = $this->getDefaultImage();
$facebookImage = $this->getFacebookImage();
$googleImage = $this->getGoogleImage();
$twitterImage = $this->getTwitterImage();
$emailImage = $this->getEmailImage();

//for product details
$imageBlock = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
$image = 'category_page_grid';
$hover_img = 'category_page_grid_hover';
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$cpanel_helper = $this->helper('Solwin\Cpanel\Helper\Data');
$Enable_aspect_ratio = $cpanel_helper->getImageaspectratio();
$img_width = $cpanel_helper->getProductimageweight();
$img_height = $cpanel_helper->getProductimageheight();
$show_alternative_image = $cpanel_helper->getDiaplyalternativeimage();
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

$viewMode = 'grid';
$pos = $block->getPositioned();
$position = '';
if ($pos != null) {
    $position = ' style="left:' . $block->getVar("{$image}:width") . 'px;'
            . 'top:' . $block->getVar("{$image}:height") . 'px;"';
}
?>
<?php
if ($enable) {
    if ($currId != '') {
        $_productCollection = $this->getProductCollection($currId);
        $iterator = 1;
        ?>
        <?php
        // load brand collection by brand_id
        $collection = $this->getSingleBrandCollection($currId);
        $name = $collection->getTitle();
        $description = $collection->getDescription();
        ?>
        <div class="brt-wrapper">
            <div class="brt-main">
                <?php if ($name != ''): ?>
                    <h2 class="brt-name">
                        <?php echo $name; ?>
                    </h2>
                <?php endif; ?>
                <div class="brt-img">
                    <?php
                    $imageURL = $defImage;
                    $imageName = $collection->getImage();
                    if ($imageName != '') {
                        $imagePath = $mediaPath . $imageName;
                        if (file_exists($imagePath)) {
                            $imageURL = $mediaUrl . $imageName;
                        }
                    }
                    ?>
                    <img width="150" class="img-responsive borders" src="<?php echo $imageURL; ?>" alt="<?php echo $collection->getTitle(); ?>" title="<?php echo $collection->getTitle(); ?>" />
                </div>
                <?php if ($description != ''): ?>
                    <div class="brt-desc">
                        <?php echo __($bandHelper->getFilterData($collection->getDescription())); ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <?php if (count($_productCollection) > 0) { ?>
            <div class="products wrapper grid products-grid">
                <ol class="products list items product-items">
                    <?php foreach ($_productCollection as $_product): ?>
                        <?php echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                        <div class="product-item-info" data-container="product-grid">
                            <?php // Product Image    ?>
                            <div class="product-img-outer">
                                <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                                    <?php
                                    if ($Enable_aspect_ratio) {
                                        $productImage = $_imagehelper->init($_product, $image)
                                                ->constrainOnly(FALSE)
                                                ->keepAspectRatio(TRUE)
                                                ->keepFrame(FALSE)
                                                ->resize($img_width);
                                    } else {
                                        $productImage = $_imagehelper->init($_product, $image)
                                                ->resize($img_width, $img_height);
                                    }
                                    $productImageUrl = $productImage->getUrl();
                                    ?>
                                    <img class="product-image-photo pd-img" src="<?php echo $productImageUrl; ?>" alt="<?php echo $productImage->getLabel(); ?>"/>

                                    <?php if ($show_alternative_image) { ?>
                                        <?php
                                        if ($Enable_aspect_ratio) {
                                            $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                    ->constrainOnly(FALSE)
                                                    ->keepAspectRatio(TRUE)
                                                    ->keepFrame(FALSE)
                                                    ->resize($img_width);
                                        } else {
                                            $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                    ->resize($img_width, $img_height);
                                        }
                                        $productHoverImageUrl = $productHoverImage->getUrl();
                                        ?>
                                        <img  class="product-image-photo ph_img" src="<?php echo $productHoverImageUrl; ?>" alt="<?php echo $productHoverImage->getLabel(); ?>"/>
                                    <?php } ?>
                                    <?php // echo 'nimesh';exit; ?>
                                </a>
                                <?php
                                $isNewLabel = $cpanel_helper->getShowproductnewlabel();
                                $isSaleLabel = $cpanel_helper->getShowproductsalelabel();

                                /**
                                 * Check if "new" label is enabled and if product has from new date & to new date
                                 */
                                if ($isNewLabel) {
                                    $fromDate = $_product->getNewsFromDate();
                                    $toDate = $_product->getNewsToDate();

                                    if (isset($fromDate) && isset($toDate)) {
                                        $fromDate = strtotime($fromDate);
                                        $toDate = strtotime($toDate);
                                        $now = strtotime(date("Y-m-d h:m:s"));

                                        if ($fromDate <= $now && $now <= $toDate) {
                                            ?>
                                            <span class="new-lbl">New</span>
                                            <?php
                                        }
                                    }
                                }
                                ?>

                                <?php
                                /**
                                 * Check if "sale" label is enabled and if product has special price with from & to special price
                                 */
                                if ($isSaleLabel) {
                                    $special_price = number_format($_product->getSpecialPrice(), 2);
                                    $regular_price = number_format($_product->getPrice(), 2);
                                    if (isset($special_price) && $special_price > 0) {
                                        if ($special_price < $regular_price) {
                                            $fromSpecialDate = $_product->getSpecialFromDate();
                                            $toSpecialDate = $_product->getSpecialToDate();

                                            if (isset($fromSpecialDate) && isset($toSpecialDate)) {
                                                $fromSpecialDate = strtotime($fromSpecialDate);
                                                $toSpecialDate = strtotime($toSpecialDate);
                                                $now = strtotime(date("Y-m-d h:m:s"));

                                                if ($fromSpecialDate <= $now && $now <= $toSpecialDate) {
                                                    ?>
                                                    <span class="sale-lbl">Sale</span>
                                                    <?php
                                                }
                                            }
                                        }
                                    }
                                }
                                ?>
                            </div>
                            <div class="product details product-item-details">
                                <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <strong class="product name product-item-name">
                                    <a class="product-item-link"
                                       href="<?php echo $_product->getProductUrl() ?>">
                                           <?php echo $_product->getName(); ?>
                                           <?php //echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>
                                </strong>
                                <?php if ($_product->getPrice() != '') { ?>
                                    <div data-product-id="2" data-role="priceBox" class="price-box price-final_price">
                                        <span class="price-container price-final_price tax weee">
                                            <span class="price-wrapper " data-price-type="finalPrice" data-price-amount="499" id="product-price-2">
                                                <span class="price"><?php echo $block->formatCurrency($_product->getPrice(), 1); ?></span>    </span>
                                        </span>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
                    <?php endforeach; ?>
                </ol>
            </div>
            <?php
        } else {
            echo '<div class="ourbrand-view"> There are no products in this brand. </div>';
        }
        ?>
        <div class="back-btn">
            <a style="margin-top: 20px;margin-bottom: 20px;" class="read-more action primary" href="<?php echo $baseUrl . $route; ?>" title="Back">
                <?php echo __('Back'); ?>	
            </a>
        </div>
        <?php
    } else {
        //get all brand collection
        $collection = $this->getCollection();
        $size = $collection->getSize();

        if ($size > 0):
            ?>
            <div class="br-wrapper-main">
                <ul class="br-wrapper">
                    <?php foreach ($collection as $brandData): ?>
                        <li class="br-main">
                            <div class="br-img">
                                <?php
                                $imageURL = $defImage;
                                $imageName = $brandData->getImage();
                                if ($imageName != '') {
                                    $imagePath = $mediaPath . $imageName;
                                    if (file_exists($imagePath)) {
                                        $imageURL = $mediaUrl . $imageName;
                                    }
                                }
                                
                                ?>
                                <a title="<?php echo $brandData->getTitle(); ?>" href="<?php echo $brandData->getUrl(); ?>">
                                    <img title="<?php echo $brandData->getTitle(); ?>" class="member_avatar borders " src="<?php echo $imageURL; ?>" alt="<?php echo $brandData->getTitle(); ?>" width="190" height="190"/>
                                </a>
                            </div>
                            <div class="br-name">
                                <a title="<?php echo $brandData->getTitle(); ?>" href="<?php echo $brandData->getUrl(); ?>">
                                    <?php echo $brandData->getTitle(); ?>
                                </a>
                            </div>
                        </li>
                    <?php endforeach; ?>
                    <?php ?>
                </ul>
                <div class="br-pager">
                    <?php
                    if ($this->getPagerHtml()) {
                        echo $this->getPagerHtml();
                    }
                    ?>
                </div>
            </div>
        <?php else : ?>
            <?php echo __('There are no brand found at this moment'); ?>
        <?php
        endif;
    }
}
?>
