<?php
$enable = $this->getEnableModule();

if ($enable) {

    $baseUrl = $this->getBaseUrl();
    $redirectPath = $baseUrl . 'ourbrand/index/index';
    $mediaPath = $this->getMediaPath();
    $mediaUrl = $this->getBaseUrl() . 'pub/media/';
    $defImage = $this->getDefaultImage();
    $sidebarBrandTitle = $this->getSidebarBrandTitle();

    $collection = $this->getBrandSidebarData();
    $size = $collection->getSize();

    if ($size > 0):
        ?>
        <div class="block block-brand">
            <div class="block-title">
                <strong><?php echo __($sidebarBrandTitle); ?></strong>
            </div>

            <div class="br-side-main">
                <?php //echo $this->getPagerHtml();         ?>
                <ul class="br-side-inner-main">
                    <?php foreach ($collection as $brandData): ?>
                        <li class="br-side-item">
                            <div class="br-side-img">
                                <?php
                                $imageURL = $defImage;
                                $imageName = $brandData->getImage();
                                if ($imageName != '') {
                                    $imagePath = $mediaPath . $imageName;
                                    if (file_exists($imagePath)) {
                                        $imageURL = $mediaUrl . $imageName;
                                    }
                                }
                                $brandTypeUrl = $brandData->getUrl();
                                ?>
                                <a title="<?php echo $brandData->getTitle(); ?>" href="<?php echo $brandTypeUrl; ?>">
                                    <img title="<?php echo $brandData->getTitle(); ?>" class="member_avatar img-resp center-b" src="<?php echo $imageURL; ?>" alt="<?php echo $brandData->getTitle(); ?>" width="190" height="190"/>
                                </a>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    <?php else : ?>
        <?php echo __('There are no brand found at this moment'); ?>
    <?php endif; ?>

    <script>
        require(['jquery', 'cpowlcarousel'], function ($) {
            $(document).ready(function () {
                $(".br-side-inner-main").owlCarousel({
                    items: 1,
                    itemsDesktop: [1199, 1],
                    itemsDesktopSmall: [979, 1],
                    itemsTablet: [767, 2],
                    itemsTabletSmall: [640, 2],
                    itemsMobile: [500, 1],
                    pagination: false,
                    navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></i></div>"],
                    navigation: true,
                });
            });
        });
    </script>
<?php }
?>