<?php
$cpanelHelper = $this->helper('Solwin\Cpanel\Helper\Data');
$ishome = $cpanelHelper->getIsHomePage();
if ($ishome) {
    $enable = $this->getEnableModule();
    if ($enable) {
        $baseUrl = $this->getBaseUrl();
        $redirectPath = $baseUrl . 'ourbrand/index/index';
        $mediaPath = $this->getMediaPath();
        $mediaUrl = $this->getBaseUrl() . 'pub/media/';
        $defImage = $this->getDefaultImage();
        $homeBrandTitle = $this->getHomeBrandTitle();

        $collection = $this->getBrandHomeData();
        $size = $collection->getSize();

        if ($size > 0):
            ?>
            <div class="brh-wrapper pad-main-bottom back-main">
                <div>
                    <div class="block-title-main">
                        <h2><?php echo __($homeBrandTitle); ?></h2>
                        <div class="title-border"></div>
                    </div>
                    <div class="brh-main">
                        <ul class="brh-inner-main">
                            <?php foreach ($collection as $brandData): ?>
                                <li class="brh-item">
                                    <div class="brh-img">
                                        <?php
                                        $imageURL = $defImage;
                                        $imageName = $brandData->getImage();
                                        if ($imageName != '') {
                                            $imagePath = $mediaPath . $imageName;
                                            if (file_exists($imagePath)) {
                                                $imageURL = $mediaUrl . $imageName;
                                            }
                                        }
                                        $brandTypeUrl = $brandData->getUrl();
                                        ?>
                                        <a title="<?php echo $brandData->getTitle(); ?>" href="<?php echo $brandTypeUrl; ?>">
                                            <img title="<?php echo $brandData->getTitle(); ?>" class="member_avatar img-resp center-b" src="<?php echo $imageURL; ?>" alt="<?php echo $brandData->getTitle(); ?>" width="190" height="190"/>
                                        </a>
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        <?php else : ?>
            <?php echo __('There are no brand found at this moment'); ?>
        <?php endif; ?>
        <script>
            require(['jquery', 'cpowlcarousel'], function ($) {
                $(document).ready(function () {
                    $(".brh-inner-main").owlCarousel({
                        items: 5,
                        itemsDesktop: [1080, 4],
                        itemsDesktopSmall: [860, 3],
                        itemsTablet: [768, 3],
                        itemsTabletSmall: [639, 2],
                        itemsMobile: [360, 1],
                        pagination: false,
                        navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></div>"],
                        navigation: true,
                    });
                });
            });
        </script>
    <?php } ?>
<?php } ?>