<?php
$helper = $this->helper('Solwin\Testimonial\Helper\Data');
$enable = $helper->getEnableModule();
if ($enable) {
    ?>
    <li>  
        <a <?php echo $block->getLinkAttributes() ?>><?php echo $block->escapeHtml($block->getLabel()) ?>  
            <?php echo($block->getCounter()) ? '<span class="counter qty">' . $block->escapeHtml($block->getCounter()) . '</span>' : ''; ?>  
        </a>  
    </li>  
<?php } ?>