<?php
$enable = $this->getEnableModule();
$baseUrl = $this->getBaseUrl();
$redirectPath = $baseUrl . 'testimonial/index/index';
$mediaPath = $this->getMediaPath();
$mediaUrl = $this->getBaseUrl() . 'pub/media/';
$currId = $this->getRequest()->getParam('id');

$defImage = $this->getDefaultImage();
$facebookImage = $this->getFacebookImage();
$googleImage = $this->getGoogleImage();
$twitterImage = $this->getTwitterImage();
$emailImage = $this->getEmailImage();
?>
<?php
if ($enable) {
    if ($currId != '') {
        // load testim collection by testimonial_id
        $collection = $this->getSingleTestimCollection($currId);
        $name = $collection->getName();
        $designation = $collection->getDesignation();
        $description = $collection->getDescription();
        $facebookurl = $collection->getFacebookurl();
        $googleurl = $collection->getGoogleurl();
        $twitterurl = $collection->getTwitterurl();
        $email = $collection->getEmail();

        /* config options */
        $detdisplayimage = $this->getShowtestimonialdetimage();
        $detdisplayname = $this->getShowtestimonialdetname();
        $detdisplaycompnay = $this->getShowtestimonialdetcompany();
        $detdisplayemail = $this->getShowtestimonialdetemail();
        $detdisplaywebsite = $this->getShowtestimonialdetwebsite();
        ?>
        <div class = "tdet-wrapper">
            <div class="tdet-main">
                <?php if ($detdisplayimage) { ?>
                    <div class="tdet-img">
                        <?php
                        $imageURL = $defImage;
                        $imageName = $collection->getImage();
                        if ($imageName != '') {
                            $imagePath = $mediaPath . $imageName;
                            if (file_exists($imagePath)) {
                                $imageURL = $mediaUrl . $imageName;
                            }
                        }
                        ?>
                        <img src="<?php echo $imageURL; ?>" alt="<?php echo $collection->getName(); ?>" height="300" width="300" />
                    </div>
                <?php } ?>
                <?php if ($detdisplayname) { ?>
                    <?php if ($name != ''): ?>
                        <div class="tdet-name">
                            <?php echo $collection->getName(); ?>
                        </div>
                    <?php endif; ?>
                <?php } ?>
                <div class="tdet-info">
                    <?php if ($description != ''): ?>
                        <div class="tdet-desc">
                            <i class="fa fa-quote-left"></i>
                            <span><?php echo __($collection->getDescription()); ?></span>
                        </div>
                    <?php endif; ?>
                    <?php if ($detdisplaycompnay) { ?>
                        <?php if ($name != ''): ?>
                            <div class="tdet-company">
                                <span>
                                    <i class="fa fa-building-o"></i>
                                </span>
                                <?php echo $collection->getCompany(); ?>
                            </div>
                        <?php endif; ?>
                    <?php } ?>
                    <?php if ($detdisplayemail) { ?>
                        <?php if ($email != ''): ?>
                            <div class="tdet-email">
                                <span>
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                <a href="mailto:<?php echo $collection->getEmail(); ?>">
                                    <?php echo $collection->getEmail(); ?>
                                </a>
                            </div>
                        <?php endif; ?>
                    <?php } ?>
                    <?php if ($detdisplaywebsite) { ?>
                        <?php if ($email != ''): ?>
                            <div class="tdet-website">
                                <span>
                                    <i class="fa fa-link"></i>
                                </span>
                                <a href="<?php echo $collection->getWebsite(); ?>" target="_blank">
                                    <?php echo $collection->getWebsite(); ?>
                                </a>
                            </div>
                        <?php endif; ?>
                    <?php } ?>
                    <div style="margin-top: 20px;float: left;margin-bottom: 10px;" class="back-btn">
                        <a class="read-more action primary" href="<?php echo $baseUrl . 'testimonial'; ?>" title="Back">
                            <?php echo __('Back'); ?>	
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <?php
    } else {
        $i = 1;
        //get all testim collection
        $collection = $this->getCollection();
        $size = $collection->getSize();

        /* config options */
        $displayimage = $this->getShowtestimonialimage();
        $displayname = $this->getShowtestimonialname();
        $displaycompnay = $this->getShowtestimonialcompany();
        $displayemail = $this->getShowtestimonialemail();
        $displaywebsite = $this->getShowtestimonialwebsite();

        if ($size > 0):
            ?>
            <div class="tdet-wrapper-main">
                <?php //echo $this->getPagerHtml();      ?>
                <ul class="tdet-wrapper">
                    <?php foreach ($collection as $testimData): ?>
                        <li class="tdet-main">
                            <?php if ($displayimage) { ?>
                                <div class="tdet-img">
                                    <?php
                                    $imageURL = $defImage;
                                    $imageName = $testimData->getImage();
                                    if ($imageName != '') {
                                        $imagePath = $mediaPath . $imageName;
                                        if (file_exists($imagePath)) {
                                            $imageURL = $mediaUrl . $imageName;
                                        }
                                    }
                                    $testimMemberUrl = $redirectPath . '/id/' . $testimData->getTestimonialId();
                                    ?>
                                    <a href="<?php echo $testimMemberUrl; ?>">
                                        <img class="member_avatar img-responsive" src="<?php echo $imageURL; ?>" alt="<?php echo $testimData->getName(); ?>" width="100" height="100"/>
                                    </a>
                                </div>
                            <?php } ?>
                            <?php if ($displayname) { ?>
                                <?php if ($testimData->getName() != '') { ?>
                                    <div class="tdet-name">
                                        <?php echo $testimData->getName(); ?>
                                    </div>
                                <?php } ?>
                            <?php } ?>
                            <div class="tdet-info">
                                <?php if ($testimData->getDescription() != '') { ?>
                                    <div class="tdet-desc">
                                        <i class="fa fa-quote-left"></i>
                                        <span>
                                            <?php
                                            if (strlen($testimData->getDescription()) > 300) {
                                                echo substr($testimData->getDescription(), 0, 300) . '...';
                                            } else {
                                                echo $testimData->getDescription();
                                            }
                                            ?>
                                        </span>
                                    </div>
                                <?php } ?>
                                <?php if ($displaycompnay) { ?>
                                    <?php if ($testimData->getCompany() != '') { ?>
                                        <div class="tdet-company">
                                            <span>
                                                <i class="fa fa-building-o"></i>
                                            </span>
                                            <?php echo $testimData->getCompany(); ?>
                                        </div>
                                    <?php } ?>
                                <?php } ?>
                                <?php if ($displayemail) { ?>
                                    <?php if ($testimData->getEmail() != ''): ?>
                                        <div class="tdet-email">
                                            <span>
                                                <i class="fa fa-envelope-o"></i>
                                            </span>
                                            <a href="mailto:<?php echo $testimData->getEmail(); ?>">
                                                <?php echo $testimData->getEmail(); ?>
                                            </a>
                                        </div>
                                    <?php endif; ?>
                                <?php } ?>
                                <?php if ($displaywebsite) { ?>
                                    <?php if ($testimData->getWebsite() != ''): ?>
                                        <div class="tdet-website">
                                            <span>
                                                <i class="fa fa-link"></i>
                                            </span>
                                            <a href="<?php echo $testimData->getWebsite(); ?>" target="_blank">
                                                <?php echo $testimData->getWebsite(); ?>
                                            </a>
                                        </div>
                                    <?php endif; ?>
                                <?php } ?>
                                <?php if ($testimData->getDescription()): ?>
                                    <a style="margin-top: 10px;float: left;" class="read-more action primary" href="<?php echo $redirectPath . '/id/' . $testimData->getTestimonialId(); ?>" title="<?php echo $testimData->getName() ?>">
                                        <?php echo __('Read More'); ?>	
                                    </a>
                                <?php endif; ?>
                            </div>
                        </li>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                    <?php ?>
                </ul>
                <?php if ($this->getPagerHtml()) { ?> 
                    <div class="t-pager">
                        <?php echo $this->getPagerHtml(); ?>
                    </div>
                <?php } ?>
            </div>
        <?php else : ?>
            <?php echo __('There are no testimonial found at this moment'); ?>
        <?php
        endif;
    }
}
?>
