<?php
$enable = $this->getEnableModule();
?>
<?php
if ($enable) {
    $helper = $this->helper('Solwin\Cpanel\Helper\Data');
    $ishome = $helper->getIsHomePage();
    if ($ishome) {
        $enablehome = $this->getShowonhome();
        if ($enablehome) {
            $baseUrl = $this->getBaseUrl();
            $redirectPath = $baseUrl . 'testimonial/index/index';
            $mediaPath = $this->getMediaPath();
            $mediaUrl = $this->getBaseUrl() . 'pub/media/';
            $currId = $this->getRequest()->getParam('id');
            $defImage = $this->getDefaultImage();

            $i = 1;
            $class = '';
            //get all testim collection
            $collection = $this->getTestimonialData();
            $size = $collection->getSize();

            /* config options */
            $hometestimonialtitle = $this->getTestimonialhometitle();
            $showimage = $this->getShowhomeimage();
            $showname = $this->getShowhomename();
            $showcompnay = $this->getShowhomecompany();
            $showwebsite = $this->getShowhomewebsite();
            $showemail = $this->getShowhomeemail();

            if ($size > 0):
                ?>
                <div class="t-wrapper pad-main-bottom">
                    <div>
                        <div class="block-title-main">
                            <h2><?php echo __($hometestimonialtitle); ?></h2>
                            <div class="title-border"></div>
                        </div>
                        <div class="t-main-outer">
                            <ul class="t-main t-slider">
                                <?php foreach ($collection as $testimData): ?>
                                    <li class="t-item">
                                        <div class="t-item-inner">
                                            <?php if ($showimage) { ?>
                                                <div class="t-avtar">
                                                    <?php
                                                    $imageURL = $defImage;
                                                    $imageName = $testimData->getImage();
                                                    if ($imageName != '') {
                                                        $imagePath = $mediaPath . $imageName;
                                                        if (file_exists($imagePath)) {
                                                            $imageURL = $mediaUrl . $imageName;
                                                        }
                                                    }
                                                    $testimMemberUrl = $redirectPath . '/id/' . $testimData->getTestimonialId();
                                                    ?>
                                                    <a href="<?php echo $testimMemberUrl; ?>">
                                                        <img class="member_avatar img-responsive" src="<?php echo $imageURL; ?>" alt="<?php echo $testimData->getName(); ?>"/>
                                                    </a>
                                                </div>
                                            <?php } ?>
                                            <div class="t-sept">
                                                <div class="t-vert"></div>
                                                <div class="t-horz"></div>
                                            </div>
                                            <div class="t-content">
                                                <div class="t-info">
                                                    <?php if ($showname) { ?>
                                                        <div class="th-name">
                                                            <span>
                                                                <a href="<?php echo $testimMemberUrl; ?>">
                                                                    <?php echo $testimData->getName(); ?>
                                                                </a>
                                                            </span>
                                                            <div class="t-bottom"></div>
                                                        </div>
                                                    <?php } ?>
                                                    <?php if ($showcompnay) { ?>
                                                        <span class="th-company"><?php echo $testimData->getCompany(); ?></span>
                                                    <?php } ?>
                                                    <div class="th-links">
                                                        <?php if ($showwebsite) { ?>
                                                            <?php if ($testimData->getWebsite() != ''): ?>
                                                                <span class="th-website">
                                                                    <a href="<?php echo $testimData->getWebsite(); ?>" title="Website"><i class="fa fa-link"></i></a>
                                                                </span>
                                                            <?php endif; ?>
                                                        <?php } ?>
                                                        <?php if ($showemail) { ?>
                                                            <?php if ($testimData->getEmail() != ''): ?>
                                                                <span class="th-email">
                                                                    <a href="mailto:<?php echo $testimData->getEmail(); ?>" title="Email"><i class="fa fa-envelope-o"></i></a>
                                                                </span>
                                                            <?php endif; ?>
                                                        <?php } ?>
                                                    </div>
                                                    <div class="th-desc">
                                                        <div class="th-desc-inner">
                                                            <?php
                                                            if (strlen($testimData->getDescription()) > 300) {
                                                                echo __(substr($testimData->getDescription(), 0, 300)) . '...';
                                                            } else {
                                                                echo __($testimData->getDescription());
                                                            }
                                                            ?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <?php $i++; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </div>
                </div>
            <?php else : ?>
                <?php echo __('There are no testimonial found at this moment'); ?>
            <?php endif; ?>
            <script>
                require(['jquery', 'cpowlcarousel'], function ($) {
                    $(document).ready(function () {
                        $(".t-slider").owlCarousel({
                            items: 1,
                            itemsDesktop: [1080, 1],
                            itemsDesktopSmall: [860, 1],
                            itemsTablet: [768, 1],
                            itemsTabletSmall: [639, 1],
                            itemsMobile: [360, 1],
                            pagination: false,
                            navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></div>"],
                            navigation: true,
                            autoPlay: false
                        });
                    });
                });
            </script>
            <?php
        }
    }
}
?>
