<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block Needsaf\Membership\Block\Adminhtml\Vendormembershipdetails\Edit\Tab\Main
 */


?>

<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('Membership Information') ?></span>
    </div>
    <table class="admin__table-secondary">
        <tbody>
        <?php
        $id = $this->getRequest()->get('id');
        $vendormembership = $block->getMembershipCollection();
        foreach ($vendormembership as $membership){
        if ($id == $membership->getId()){
        $membershipdetails = unserialize($membership->getMembershipData());
        $paypaldata = unserialize($membership->getPaymentData());
        ?>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Vendor Name:') ?></th>
            <td><?php /* @escapeNotVerified */ echo $membership['name'];?> </td>
        </tr>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Vendor Address:') ?></th>
            <td><?php /* @escapeNotVerified */ echo $membership['address']; ?> </td>
        </tr>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Membership Type:') ?></th>
            <td><?php /* @escapeNotVerified */
                echo $membershipdetails['membership_type']; ?> </td>
        </tr>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Swiss Price:') ?></th>
            <td><?php /* @escapeNotVerified */
                echo $membershipdetails['swiss_price']; ?> </td>
        </tr>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Months: ') ?></th>
            <td><?php /* @escapeNotVerified */
                echo $membershipdetails['months']; ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Days:') ?></th>
            <td><?php /* @escapeNotVerified */
               
                $weekdays = explode(",", $membershipdetails['days']);
                $days = array("", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun");
                foreach ($weekdays as $key1 => $value) {
                    foreach ($days as $key2 => $value2) {
                        if ($value == $key2) {
                            echo $value2 . " ";
                        }
                    }
                } ?></td>
        </tr>


        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Membership Status:') ?></th>
            <td><?php /* @escapeNotVerified */
                if ($membershipdetails['is_active'] == 1) {
                    echo __('Active');
                } else {
                    echo __('Inactive');
                } ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Description:') ?></th>
            <td><?php /* @escapeNotVerified */
                echo $membershipdetails['description']; ?></td>
        </tr>


        </tbody>
    </table>


</div>

<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('Payment Information') ?></span>
    </div>

    <table class="admin__table-secondary">
        <tbody>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Token:') ?></th>
            <td><?php /* @escapeNotVerified */  echo $paypaldata['token'];
                ?> </td>
        </tr>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Payer Id:') ?></th>
            <td> <?php /* @escapeNotVerified */ echo $paypaldata['payer_id'];
                ?></td>
        </tr>

        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Amount:') ?></th>
            <td> <?php /* @escapeNotVerified */echo $paypaldata['amount'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Total:') ?></th>
            <td> <?php /* @escapeNotVerified */ echo $paypaldata['total'];
                ?></td>
        </tr>


        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Payment Action:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['payment_action'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Notify Url:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['notify_url'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Inv Num:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['inv_num'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Currency Code:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['currency_code'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Correlation Id:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['correlation_id'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Payment Status:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['payment_status'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Pending Reason:') ?></th>
            <td> <?php /* @escapeNotVerified */  echo $paypaldata['pending_reason'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Protection Eligibility:') ?></th>
            <td><?php /* @escapeNotVerified */  echo $paypaldata['protection_eligibility'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Transaction Id:') ?></th>
            <td><?php /* @escapeNotVerified */  echo $paypaldata['transaction_id'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Payer Status:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['payer_status'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Address Status:') ?></th>
            <td>  <?php /* @escapeNotVerified */  echo $paypaldata['address_status'];
                ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Email:') ?></th>
            <td>   <?php /* @escapeNotVerified */  echo $paypaldata['email'];
                ?></td>
        </tr>

        </tbody>
    </table>

    <?php }
    } ?>

</div>
