<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
$image = 'category_page_list';
$hover_img = 'category_page_list_hover';
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$cpanel_helper = $this->helper('Solwin\Cpanel\Helper\Data');
$Enable_aspect_ratio = $cpanel_helper->getImageaspectratio();
$img_width = $cpanel_helper->getProductimageweight();
$img_height = $cpanel_helper->getProductimageheight();
$show_alternative_image = $cpanel_helper->getDiaplyalternativeimage();
?>
<?php if (($_products = $block->getProductCollection()) && $_products->getSize()): ?>
    <div class="block-title-main">
        <h2><?php /* @escapeNotVerified */ echo __('New Products') ?></h2>
        <div class="title-border"></div>
    </div>
    <div style="float: left;width:100%;" class="block pad-main-bottom widget block-new-products-images">
        <div class="block-content">
            <?php $suffix = $block->getNameInLayout(); ?>
            <ol style="margin: 30px 0 0;" id="widget-new-products-<?php /* @escapeNotVerified */ echo $suffix; ?>" class="product-slider product-items product-items-images">
                <?php foreach ($_products->getItems() as $_product): ?>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-img-outer">
                                <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                                    <?php
                                    if ($Enable_aspect_ratio) {
                                        $productImage = $_imagehelper->init($_product, $image)
                                                ->constrainOnly(FALSE)
                                                ->keepAspectRatio(TRUE)
                                                ->keepFrame(FALSE)
                                                ->resize($img_width);
                                    } else {
                                        $productImage = $_imagehelper->init($_product, $image)
                                                ->resize($img_width, $img_height);
                                    }
                                    $productImageUrl = $productImage->getUrl();
                                    ?>
                                    <img class="product-image-photo pd-img" src="<?php echo $productImageUrl; ?>" alt="<?php echo $productImage->getLabel(); ?>"/>

                                    <?php if ($show_alternative_image) { ?>
                                        <?php
                                        if ($Enable_aspect_ratio) {
                                            $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                    ->constrainOnly(FALSE)
                                                    ->keepAspectRatio(TRUE)
                                                    ->keepFrame(FALSE)
                                                    ->resize($img_width);
                                        } else {
                                            $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                    ->resize($img_width, $img_height);
                                        }
                                        $productHoverImageUrl = $productHoverImage->getUrl();
                                        ?>
                                        <img  class="product-image-photo ph_img" src="<?php echo $productHoverImageUrl; ?>" alt="<?php echo $productHoverImage->getLabel(); ?>"/>
                                    <?php } ?>
                                    <?php // echo 'nimesh';exit; ?>
                                </a>
                                <?php
                                $isNewLabel = $cpanel_helper->getShowproductnewlabel();
                                $isSaleLabel = $cpanel_helper->getShowproductsalelabel();

                                /**
                                 * Check if "new" label is enabled and if product has from new date & to new date
                                 */
                                if ($isNewLabel) {
                                    $fromDate = $_product->getNewsFromDate();
                                    $toDate = $_product->getNewsToDate();

                                    if (isset($fromDate) && isset($toDate)) {
                                        $fromDate = strtotime($fromDate);
                                        $toDate = strtotime($toDate);
                                        $now = strtotime(date("Y-m-d h:m:s"));

                                        if ($fromDate <= $now && $now <= $toDate) {
                                            ?>
                                            <span class="new-lbl"><?php echo __('New'); ?></span>
                                            <?php
                                        }
                                    }
                                }
                                ?>

                                <?php
                                /**
                                 * Check if "sale" label is enabled and if product has special price with from & to special price
                                 */
                                if ($isSaleLabel) {
                                    $special_price = number_format($_product->getSpecialPrice(), 2);
                                    $regular_price = number_format($_product->getPrice(), 2);
                                    if (isset($special_price) && $special_price > 0) {
                                        if ($special_price < $regular_price) {
                                            $fromSpecialDate = $_product->getSpecialFromDate();
                                            $toSpecialDate = $_product->getSpecialToDate();

                                            if (isset($fromSpecialDate) && isset($toSpecialDate)) {
                                                $fromSpecialDate = strtotime($fromSpecialDate);
                                                $toSpecialDate = strtotime($toSpecialDate);
                                                $now = strtotime(date("Y-m-d h:m:s"));

                                                if ($fromSpecialDate <= $now && $now <= $toSpecialDate) {
                                                    ?>
                                                    <span class="sale-lbl"><?php echo __('Sale'); ?></span>
                                                    <?php
                                                }
                                            }
                                        }
                                    }
                                }
                                ?>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
    <script>
        require(['jquery', 'cpowlcarousel'], function ($) {
            $(document).ready(function () {
                $(".product-slider").owlCarousel({
                    items: 5,
                    itemsDesktop: [1080, 4],
                    itemsDesktopSmall: [860, 3],
                    itemsTablet: [768, 3],
                    itemsTabletSmall: [639, 2],
                    itemsMobile: [360, 2],
                    pagination: false,
                    navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></div>"],
                    navigation: true,
                });
            });
        });
    </script>
<?php endif; ?>
