<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var  $block \Magento\Sales\Block\Order\View*/?>
<div class="order-details-items ordered">
    <?php $_order = $block->getOrder() ?>

    <div class="order-title">
        <strong><?php /* @escapeNotVerified */ echo __('Items Ordered') ?></strong>
        <?php if ($_order->getTracksCollection()->count()) : ?>
            <?php echo $block->getChildHtml('tracking-info-link') ?>
        <?php endif; ?>
    </div>

    <?php echo $block->getChildHtml('order_items') ?>

    <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order) && $_order->getGiftMessageId()): ?>
    <div class="block block-order-details-gift-message">
        <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Gift Message for This Order') ?></strong></div>
        <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessageForEntity($_order); ?>
        <div class="block-content">
            <dl class="item-options">
                <dt class="item-sender"><strong class="label"><?php /* @escapeNotVerified */ echo __('From') ?></strong><?php echo $block->escapeHtml($_giftMessage->getSender()) ?></dt>
                <dt class="item-recipient"><strong class="label"><?php /* @escapeNotVerified */ echo __('To') ?></strong><?php echo $block->escapeHtml($_giftMessage->getRecipient()) ?></dt>
                <dd class="item-message"><?php /* @escapeNotVerified */ echo $this->helper('Magento\GiftMessage\Helper\Message')->getEscapedGiftMessage($_order) ?></dd>
            </dl>
        </div>
    </div>
    <?php endif; ?>

    <div class="actions-toolbar">
        <div class="secondary">
            <a class="action back" href="<?php /* @escapeNotVerified */ echo $block->getBackUrl() ?>">
                <span><?php /* @escapeNotVerified */ echo $block->getBackTitle() ?></span>
            </a>
        </div>
    </div>
</div>

<?php if($block->getOrder()->getStatus() == 'complete' && !$block->getPreviousRatings($block->getOrder()->getId())):?>
    <form action="<?php echo $block->getVendorRatingUrl();?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">
    <input type="hidden" name="order_id" value="<?php echo $block->getOrder()->getId();?>"/>
    <input type="hidden" name="vendor_id" value="<?php echo $block->getOrder()->getVendorId();?>"/>
    <input type="hidden" name="customer_id" value="<?php echo $block->getOrder()->getCustomerId();?>"/>
        <fieldset class="fieldset review-fieldset" data-hasrequired="">
            <legend class="legend review-legend"><span><?php echo __('You\'re reviewing Vendor:');?></span>
                <strong>
                    <?php echo $block->getVendorName($block->getOrder()->getVendorId());?>
                </strong>
            </legend>
            <br />
            <span id="input-message-box"></span>
            <fieldset class="field required review-field-ratings">
                <div class="control">
                    <div class="nested" id="product-review-table">
                        <div class="field choice review-field-rating">
                            <label class="label" id="Overall_rating_label"><span><?php echo __('Over All Rating');?></span></label>
                            <div class="control review-control-vote">
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_1"
                                        value="1"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_1_label" />
                                <label
                                        class="rating-1"
                                        for="Overall_1"
                                        title="1 star"
                                        id="Overall_1_label">
                                    <span>1 star</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_2"
                                        value="2"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_2_label" />
                                <label
                                        class="rating-2"
                                        for="Overall_2"
                                        title="2 stars"
                                        id="Overall_2_label">
                                    <span>2 stars</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_3"
                                        value="3"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_3_label" />
                                <label
                                        class="rating-3"
                                        for="Overall_3"
                                        title="3 stars"
                                        id="Overall_3_label">
                                    <span>3 stars</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_4"
                                        value="4"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_4_label" />
                                <label
                                        class="rating-4"
                                        for="Overall_4"
                                        title="4 stars"
                                        id="Overall_4_label">
                                    <span>4 stars</span>
                                </label>
                                <input
                                        type="radio"
                                        name="ratings"
                                        id="Overall_5"
                                        value="5"
                                        class="radio"
                                        data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                        aria-labelledby="Overall_rating_label Overall_5_label" />
                                <label
                                        class="rating-5"
                                        for="Overall_5"
                                        title="5 stars"
                                        id="Overall_5_label">
                                    <span>5 stars</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                </div>
            </fieldset>
            <div class="field review-field-text required">
                <label for="rating_description" class="label"><span><?php echo __('Review');?></span></label>
                <div class="control">
                    <textarea name="rating_description" id="rating_description" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar review-form-actions">
            <div class="primary actions-primary">
                <button type="submit" class="action submit primary"><span><?php echo __('Submit Review');?></span></button>
            </div>
        </div>
    </form>
    <script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": {"components":{"review-form":{"component":"Magento_Review\/js\/view\/review"}}}    },
    "#review-form": {
        "Magento_Review/js/error-placement": {}
    }
}
</script>
<?php else:?>
    <?php $vendorRating = $block->getVendorRating($_order->getId());?>
<fieldset class="fieldset review-fieldset" data-hasrequired="">
    <legend class="legend review-legend"><span><?php echo __('You review for Vendor:');?></span>
        <strong>
            <?php echo $block->getVendorName($block->getOrder()->getVendorId());?>
        </strong>
    </legend>
    <h3><?php echo __('Your Rating');?></h3>
    <div class="rating-summary">
        <?php $vendorRatingValue =  $vendorRating['rating_value'] * 2 * 10;?>
        <div class="rating-result" title="<?php echo $vendorRatingValue;?>%">
            <span style="width:<?php echo $vendorRatingValue;?>%"><span><?php echo $vendorRatingValue;?>%</span></span>
        </div>
    </div>
    <h3><?php echo __('Your Review');?></h3><br/>
    <div class="review-content" itemprop="description">
        <?php echo $vendorRating['rating_description'];?>
    </div>
</fieldset>
<?php endif;?>
