<?php

/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
$enableModule = $block->getSectionStatus();
if ($enableModule) {
    $helper = $this->helper('Solwin\Cpanel\Helper\Data');
    $ishome = $helper->getIsHomePage();
    if ($ishome) {
        $block_title = $block->getPageTitle();

        $_productCollection = $block->getLoadedProductCollection();
        $_helper = $this->helper('Magento\Catalog\Helper\Output');
        $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
        $cpanel_helper = $this->helper('Solwin\Cpanel\Helper\Data');
        $Enable_aspect_ratio = $cpanel_helper->getImageaspectratio();
        $img_width = $cpanel_helper->getProductimageweight();
        $img_height = $cpanel_helper->getProductimageheight();
        $show_alternative_image = $cpanel_helper->getDiaplyalternativeimage();
        $showproducteffect = $cpanel_helper->getShowproducteffect();
        $imageBlock = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
        ?>
        <?php if (!$_productCollection->count()): ?>
            <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
        <?php else: ?>
            <?php
            if ($block->getMode() == 'grid') {
                $viewMode = 'grid';
                $image = 'category_page_grid';
                $hover_img = 'category_page_grid_hover';
                $showDescription = false;
                $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            } else {
                $viewMode = 'list';
                $image = 'category_page_list';
                $hover_img = 'category_page_list_hover';
                $showDescription = true;
                $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
            }
            $pos = $block->getPositioned();
            $position = '';
            if ($pos != null) {
                $position = ' style="left:' . $block->getVar("{$image}:width") . 'px;'
                        . 'top:' . $block->getVar("{$image}:height") . 'px;"';
            }
            ?>
            <div style="float: left;width:100%;" class="pad-main-bottom wrapper <?php echo $viewMode; ?> products-<?php echo $viewMode; ?>">
                <div class="sl-row">
                    <div class="block-title-main">
                        <h2><?php echo __($block_title); ?></h2>
                        <div class="title-border"></div>
                    </div>
                    <?php $iterator = 1; ?>
                    <ol class="products list items product-items featuredproduct">
                        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                        <?php foreach ($_productCollection as $_product): ?>
                            <?php echo($iterator++ == 1) ? '<li style="margin-top:20px;" class="item product product-item">' : '</li><li style="margin-top:20px;" class="item product product-item">' ?>
                            <div class="product-item-info" data-container="product-grid">
                                <?php // Product Image    ?>
                                <div class="product-img-outer">
                                    <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                                        <?php
                                        if ($Enable_aspect_ratio) {
                                            $productImage = $_imagehelper->init($_product, $image)
                                                    ->constrainOnly(FALSE)
                                                    ->keepAspectRatio(TRUE)
                                                    ->keepFrame(FALSE)
                                                    ->resize($img_width);
                                        } else {
                                            $productImage = $_imagehelper->init($_product, $image)
                                                    ->resize($img_width, $img_height);
                                        }
                                        $productImageUrl = $productImage->getUrl();
                                        ?>
                                        <img class="product-image-photo pd-img" src="<?php echo $productImageUrl; ?>" alt="<?php echo $productImage->getLabel(); ?>"/>

                                        <?php if ($show_alternative_image) { ?>
                                            <?php
                                            if ($Enable_aspect_ratio) {
                                                $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                        ->constrainOnly(FALSE)
                                                        ->keepAspectRatio(TRUE)
                                                        ->keepFrame(FALSE)
                                                        ->resize($img_width);
                                            } else {
                                                $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                        ->resize($img_width, $img_height);
                                            }
                                            $productHoverImageUrl = $productHoverImage->getUrl();
                                            ?>
                                            <img  class="product-image-photo ph_img" src="<?php echo $productHoverImageUrl; ?>" alt="<?php echo $productHoverImage->getLabel(); ?>"/>
                                        <?php } ?>
                                        <?php // echo 'nimesh';exit; ?>
                                    </a>
                                    <?php
                                    $isNewLabel = $cpanel_helper->getShowproductnewlabel();
                                    $isSaleLabel = $cpanel_helper->getShowproductsalelabel();

                                    /**
                                     * Check if "new" label is enabled and if product has from new date & to new date
                                     */
                                    if ($isNewLabel) {
                                        $fromDate = $_product->getNewsFromDate();
                                        $toDate = $_product->getNewsToDate();

                                        if (isset($fromDate) && isset($toDate)) {
                                            $fromDate = strtotime($fromDate);
                                            $toDate = strtotime($toDate);
                                            $now = strtotime(date("Y-m-d h:m:s"));

                                            if ($fromDate <= $now && $now <= $toDate) {
                                                ?>
                                                <span class="new-lbl"><?php echo __('New'); ?></span>
                                                <?php
                                            }
                                        }
                                    }
                                    ?>

                                    <?php
                                    /**
                                     * Check if "sale" label is enabled and if product has special price with from & to special price
                                     */
                                    if ($isSaleLabel) {
                                        $special_price = number_format($_product->getSpecialPrice(), 2);
                                        $regular_price = number_format($_product->getPrice(), 2);
                                        if (isset($special_price) && $special_price > 0) {
                                            if ($special_price < $regular_price) {
                                                $fromSpecialDate = $_product->getSpecialFromDate();
                                                $toSpecialDate = $_product->getSpecialToDate();

                                                if (isset($fromSpecialDate) && isset($toSpecialDate)) {
                                                    $fromSpecialDate = strtotime($fromSpecialDate);
                                                    $toSpecialDate = strtotime($toSpecialDate);
                                                    $now = strtotime(date("Y-m-d h:m:s"));

                                                    if ($fromSpecialDate <= $now && $now <= $toSpecialDate) {
                                                        ?>
                                                        <span class="sale-lbl"><?php echo __('Sale'); ?></span>
                                                        <?php
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ?>
                                </div>

                                <div class="product details product-item-details">
                                    <div style="padding: 0 2px;"><?php echo $block->getProductDetailsHtml($_product); ?></div>
                                    <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                    ?>
                                    <strong class="product name product-item-name">
                                        <a class="product-item-link"
                                           href="<?php echo $_product->getProductUrl() ?>">
                                               <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                        </a>
                                    </strong>
                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType,TRUE); ?>
                                    <?php echo $block->getProductPrice($_product) ?>

                                    <div class="product-item-inner">
                                        <div class="<?php if(!$showproducteffect){ ?>no-effect <?php } ?>product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                            <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                <?php if ($_product->isSaleable()): ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey') ?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                                class="action tocart primary">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                                    <a href="#"
                                                       class="action towishlist"
                                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                                       data-action="add-to-wishlist"
                                                       role="button">
                                                        <span><?php echo __('Add to Wish List') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php
                                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                                ?>
                                                <a href="#"
                                                   class="action tocompare"
                                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                                   role="button">
                                                    <span><?php echo __('Add to Compare') ?></span>
                                                </a>
                                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>"
                                                   class="action toview"
                                                   title="<?php echo $block->escapeHtml(__('View')); ?>"
                                                   aria-label="<?php echo $block->escapeHtml(__('View')); ?>"
                                                   role="button">
                                                    <span><?php /* @escapeNotVerified */ echo __('View') ?></span>
                                                    <div class="span-hov"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <?php if ($showDescription): ?>
                                            <div class="product description product-item-description">
                                                <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
                                                   class="action more"><?php echo __('Learn More') ?></a>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                            <?php echo($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
                        <?php endforeach; ?>
                    </ol>
                </div>
            </div>
            <?php if (!$block->isRedirectToCartEnabled()) : ?>
                <script type="text/x-magento-init">
                    {
                    "[data-role=tocart-form], .form.map.checkout": {
                    "catalogAddToCart": {}
                    }
                    }
                </script>
            <?php endif; ?>
        <?php endif; ?>

        <script>
            require(['jquery', 'cpowlcarousel'], function () {
                jQuery(document).ready(function () {
                    jQuery(".featuredproduct").owlCarousel({
                        items: 5,
                        itemsDesktop: [1080, 4],
                        itemsDesktopSmall: [860, 3],
                        itemsTablet: [768, 3],
                        itemsTabletSmall: [639, 2],
                        itemsMobile: [360, 2],
                        pagination: false,
                        navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></div>"],
                        navigation: true,
                    });
                });
            });
        </script>
        <?php
    }
}
?>
