<?php
use Magento\Framework\App\Action\Action;
?>
<?php
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$cpanelHelper = $this->helper('Solwin\Cpanel\Helper\Data');
$enableAspectRatio = $cpanelHelper->getImageaspectratio();
$imgWidth = $cpanelHelper->getProductimageweight();
$imgHeight = $cpanelHelper->getProductimageheight();
$showAlternativeImage = $cpanelHelper->getDiaplyalternativeimage();
?>
<div class="deal-wrapper pad-main-bottom">
    <?php $dealsTitle = $this->getData('bestdeals_title'); ?>
    <div class="block-title-main">
        <h2><?php echo __($dealsTitle); ?></h2>
        <div class="title-border"></div>
    </div>
    <?php
    $_productCollection = $block->getHotDealsLoadedProductCollection();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $imageBlock = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
    ?>
    <?php if (!$_productCollection->count()): ?>
        <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
    <?php else: ?>
        <?php
        if ($block->getMode() == 'grid') {
            $viewMode = 'grid';
            $image = 'category_page_grid';
            $hover_img = 'category_page_grid_hover';
            $showDescription = false;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        } else {
            $viewMode = 'list';
            $image = 'category_page_list';
            $hover_img = 'category_page_list_hover';
            $showDescription = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
        }
        $pos = $block->getPositioned();
        $position = '';
        if ($pos != null) {
            $position = ' style="left:' . $block->getVar("{$image}:width") . 'px;'
                    . 'top:' . $block->getVar("{$image}:height") . 'px;"';
        }
        ?>
        <div class="block-content">
            <div class="page-main">
                <?php $iterator = 1; ?>
                <?php $procount = 1; ?>
                <div class="deal-row">
                    <ol class="deal-product bestdeals-slider">
                        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                        <?php foreach ($_productCollection as $_product): ?>
                            <?php
                            $todaydate = strtotime(date('Y-m-d'));
                            $start_date = strtotime($_product['special_from_date']);
                            $end_date = strtotime($_product['special_to_date']);
                            $price = $_product['price'];
                            $sp_price = $_product['special_price'];
                            ?>
                            <?php if (($sp_price < $price) && ($todaydate >= $start_date) && ($todaydate <= $end_date)) { ?>
                                <?php //if ($procount <= $ProductLimit) { ?>
                                <?php echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                                <div class="product-item-info" data-container="product-grid">
                                    <?php // Product Image         ?>
                                    <div class="deal-img">
                                        <a href="<?php echo $_product->getProductUrl(); ?>" tabindex="-1">
                                            <?php
                                            if ($enableAspectRatio) {
                                                $productImage = $_imagehelper->init($_product, $image)
                                                        ->constrainOnly(FALSE)
                                                        ->keepAspectRatio(TRUE)
                                                        ->keepFrame(FALSE)
                                                        ->resize(270);
                                            } else {
                                                $productImage = $_imagehelper->init($_product, $image)
                                                        ->resize(270, 371);
                                            }
                                            $productImageUrl = $productImage->getUrl();
                                            ?>
                                            <img class="product-image-photo pd-img" src="<?php echo $productImageUrl; ?>" alt="<?php echo $productImage->getLabel(); ?>"/>
                                            <?php if ($showAlternativeImage) { ?>
                                                <?php
                                                if ($enableAspectRatio) {
                                                    $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                            ->constrainOnly(FALSE)
                                                            ->keepAspectRatio(TRUE)
                                                            ->keepFrame(FALSE)
                                                            ->resize(270);
                                                } else {
                                                    $productHoverImage = $_imagehelper->init($_product, $hover_img)
                                                            ->resize(270, 371);
                                                }
                                                $productHoverImageUrl = $productHoverImage->getUrl();
                                                ?>
                                                <img class="product-image-photo ph_img" src="<?php echo $productHoverImageUrl; ?>" alt="<?php echo $productHoverImage->getLabel(); ?>"/>
                                            <?php } ?>
                                        </a>
                                    </div>
                                    <div class="deal-content">
                                        <?php
                                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                        ?>
                                        <strong class="product name product-item-name">
                                            <a class="product-item-link"
                                               href="<?php echo $_product->getProductUrl() ?>">
                                                   <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                            </a>
                                        </strong>
                                        <?php $descLength = strlen($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description')) ?>
                                        <?php /* @escapeNotVerified */ echo substr($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'), 0, 140); ?>
                                        <?php
                                        if ($descLength > 150) {
                                            echo '...';
                                        }
                                        ?>
                                        <?php echo $block->getProductPrice($_product) ?>
                                        <div data-countdown="<?php echo date('Y/m/d', strtotime($_product->getSpecialToDate())); ?>" class="timer"></div>
                                        <script>
                                            require(['jquery', 'cpplugin', 'cpcountdown'], function () {
                                                jQuery(document).ready(function () {
                                                    jQuery('[data-countdown]').each(function () {
                                                        var $this = jQuery(this), finaldate = jQuery(this).data('countdown');
                                                        finaldate = new Date(finaldate);
                                                        jQuery(this).countdown({until: finaldate, padZeroes: true});
                                                    });
                                                });
                                            });
                                        </script>
                                        <a class="primary action" href="<?php echo $_product->getProductUrl(); ?>">
                                            <?php echo __('Shop Now'); ?>
                                        </a>
                                    </div>
                                </div>
                                <?php echo($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
                                <?php //}  ?>
                                <?php //$procount++; ?>
                            <?php } ?>
                        <?php endforeach; ?>
                    </ol>
                </div>
            </div>
        </div>
        <?php if (!$block->isRedirectToCartEnabled()) : ?>
            <script type="text/x-magento-init">
                {
                "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
                }
                }
            </script>
        <?php endif; ?>
    <?php endif; ?>
    <script>
        require(['jquery', 'cpowlcarousel'], function () {
            jQuery(document).ready(function () {
                jQuery(".bestdeals-slider").owlCarousel({
                    items: 2,
                    itemsDesktop: [1198, 2],
                    itemsDesktopSmall: [1023, 2],
                    itemsTablet: [768, 2],
                    itemsTabletSmall: [639, 1],
                    itemsMobile: [479, 1],
                    pagination: false,
                    navigationText: ["<div class='lft-btn'><i class='fa fa-angle-left'></i></div>", "<div class='rgt-btn'><i class='fa fa-angle-right'></div>"],
                    navigation: true,
                });
            });
        });
    </script>
</div>    