<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<!--[if IE ]>
  <link href="iecss.css" rel="stylesheet" type="text/css">
<![endif]-->
<?php
$helper = $this->helper('Solwin\Cpanel\Helper\Data');
$showsocial = $helper->getShowsocialicons();

$baseUrl = $helper->getBaseUrl();
$mediaurl = $helper->getMediaUrl() . 'social/';
$f_logo = $helper->getFooterlogo();
$footer_logo = $mediaurl . $helper->getFooterlogo();
$getFooteraboutstaticblock = $helper->getFooteraboutstaticblock();

$Enablefooterlinks = $helper->getEnablefooterlinks();

$Footercolumnone = $helper->getFootercolumnone();
$Columnonestatic = $helper->getColumnonestatic();
$Columnonewidth = $helper->getColumnonewidth();

$Footercolumntwo = $helper->getFootercolumntwo();
$Columntwostatic = $helper->getColumntwostatic();
$Columntwowidth = $helper->getColumntwowidth();

$Footercolumnthree = $helper->getFootercolumnthree();
$Columnthreestatic = $helper->getColumnthreestatic();
$Columnthreewidth = $helper->getColumnthreewidth();

$Footercolumnfour = $helper->getFootercolumnfour();
$Columnfourstatic = $helper->getColumnfourstatic();
$Columnfourwidth = $helper->getColumnfourwidth();

$enablefmap = $helper->getEnablefmap();
$fembedcode = $helper->getFembedcode();

$newsletterTitle = $helper->getFooternewslettertitle();
$newsletterText = $helper->getFooternewslettertext();
?>
<?php if ($enablefmap) { ?>
    <div class="f-map">
        <iframe style="border: 0;" src="<?php echo $fembedcode; ?>" frameborder="0" width="100%" height="350px"></iframe>
    </div>
    <script>
        require([
            'jquery',
        ], function () {
            jQuery(document).ready(function () {
                jQuery('#sgmap').click(function () {
                    jQuery('.f-map').toggleClass('fm-open');
                });
            });
        });
    </script>
<?php } ?>
<?php if ($Enablefooterlinks) { ?>
    <div class="page-footer">
        <?php if ($enablefmap) { ?>
            <div class="fm-btn">
                <span id="sgmap"></span>
            </div>
        <?php } ?>
        <div class="page-main">
            <div class="cp-footer-container">
                <?php if ($Footercolumnone != '') { ?>
                    <div class="cp-footer-main col-large-<?php echo $Columnonewidth; ?> col-medium-<?php echo $Columnonewidth; ?> col-small-<?php echo $Columnonewidth; ?> col-xsmall-12">
                        <?php if ($Footercolumnone == 'social') { ?>
                            <div class="cp-fblock">
                                <div class="cp-fcontent">
                                    <?php if ($f_logo != '') { ?>
                                        <a class="logo" href="<?php echo $baseUrl; ?>">
                                            <img src="<?php echo $footer_logo; ?>" alt="Logo">
                                        </a>
                                    <?php } ?>
                                    <?php if ($getFooteraboutstaticblock != '') { ?>
                                        <div class="f-info">
                                            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($getFooteraboutstaticblock)->toHtml(); ?>
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if ($showsocial) {
                                        $showfacebook = $helper->getShowfacebook();
                                        $showtwitter = $helper->getShowtwitter();
                                        $showlinkedin = $helper->getShowlinkedin();
                                        $showgoogle = $helper->getShowgoogle();
                                        $showpinterest = $helper->getShowpinterest();
                                        $Showyoutube = $helper->getShowyoutube();
                                        $Showflickr = $helper->getShowflickr();
                                        $Showvimeo = $helper->getShowvimeo();
                                        $Showinstagram = $helper->getShowinstagram();
                                        ?>
                                        <ul class="cp-social">
                                            <?php if ($showfacebook) { ?>
                                                <li><a href="<?php echo $helper->getFacebookurl(); ?>" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showtwitter) { ?>
                                                <li><a href="<?php echo $helper->getTwitterurl(); ?>" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showlinkedin) { ?>
                                                <li><a href="<?php echo $helper->getLinkdnurl(); ?>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showgoogle) { ?>
                                                <li><a href="<?php echo $helper->getGoogleurl(); ?>" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showpinterest) { ?>
                                                <li><a href="<?php echo $helper->getPinteresturl(); ?>" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showyoutube) { ?>
                                                <li><a href="<?php echo $helper->getYoutubeurl(); ?>" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showflickr) { ?>
                                                <li><a href="<?php echo $helper->getFlickrurl(); ?>" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showvimeo) { ?>
                                                <li><a href="<?php echo $helper->getVimeourl(); ?>" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showinstagram) { ?>
                                                <li><a href="<?php echo $helper->getInstagramurl(); ?>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnone == 'info') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <?php echo $this->getChildHtml('footer_links'); ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnone == 'contact') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Contact Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <ul>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-map-marker"></i></span>
                                                <div><b><?php echo __('Address'); ?></b></div>
                                                <div><?php echo $helper->getContactstoreaddress(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-phone"></i></span>
                                                <div><b><?php echo __('Phone'); ?></b></div>
                                                <div><?php echo $helper->getStorecontactno(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-envelope"></i></span>
                                                <div><b><?php echo __('Email'); ?></b></div>
                                                <div><a href="mailto:<?php echo $helper->getStorecontactemail(); ?>"><?php echo $helper->getStorecontactemail(); ?></a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnone == 'static') { ?>
                            <div class="cp-fblock">
                                <?php if ($Columnonestatic != '') { ?>
                                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($Columnonestatic)->toHtml(); ?>
                                <?php } ?>
                            </div>
                        <?php } else if ($Footercolumnone == 'flickr') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('flickr_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumnone == 'instagram') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('instagram_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumnone == 'news') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __($newsletterTitle); ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <p>
                                        <?php echo __($newsletterText); ?>
                                    </p>
                                    <?php echo $this->getChildHtml('footer.subscribe'); ?>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                <?php } ?>
                <?php if ($Footercolumntwo != '') { ?>
                    <div class="cp-footer-main col-large-<?php echo $Columntwowidth; ?> col-medium-<?php echo $Columntwowidth; ?> col-small-<?php echo $Columntwowidth; ?> col-xsmall-12">
                        <?php if ($Footercolumntwo == 'social') { ?>
                            <div class="cp-fblock">
                                <div class="cp-fcontent">
                                    <?php if ($f_logo != '') { ?>
                                        <a class="logo" href="<?php echo $baseUrl; ?>">
                                            <img src="<?php echo $footer_logo; ?>" alt="Logo">
                                        </a>
                                    <?php } ?>
                                    <?php if ($getFooteraboutstaticblock != '') { ?>
                                        <div class="f-info">
                                            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($getFooteraboutstaticblock)->toHtml(); ?>
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if ($showsocial) {
                                        $showfacebook = $helper->getShowfacebook();
                                        $showtwitter = $helper->getShowtwitter();
                                        $showlinkedin = $helper->getShowlinkedin();
                                        $showgoogle = $helper->getShowgoogle();
                                        $showpinterest = $helper->getShowpinterest();
                                        $Showyoutube = $helper->getShowyoutube();
                                        $Showflickr = $helper->getShowflickr();
                                        $Showvimeo = $helper->getShowvimeo();
                                        $Showinstagram = $helper->getShowinstagram();
                                        ?>
                                        <ul class="cp-social">
                                            <?php if ($showfacebook) { ?>
                                                <li><a href="<?php echo $helper->getFacebookurl(); ?>" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showtwitter) { ?>
                                                <li><a href="<?php echo $helper->getTwitterurl(); ?>" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showlinkedin) { ?>
                                                <li><a href="<?php echo $helper->getLinkdnurl(); ?>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showgoogle) { ?>
                                                <li><a href="<?php echo $helper->getGoogleurl(); ?>" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showpinterest) { ?>
                                                <li><a href="<?php echo $helper->getPinteresturl(); ?>" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showyoutube) { ?>
                                                <li><a href="<?php echo $helper->getYoutubeurl(); ?>" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showflickr) { ?>
                                                <li><a href="<?php echo $helper->getFlickrurl(); ?>" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showvimeo) { ?>
                                                <li><a href="<?php echo $helper->getVimeourl(); ?>" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showinstagram) { ?>
                                                <li><a href="<?php echo $helper->getInstagramurl(); ?>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumntwo == 'info') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <?php echo $this->getChildHtml('footer_links'); ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumntwo == 'contact') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Contact Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <ul>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-map-marker"></i></span>
                                                <div><b><?php echo __('Address'); ?></b></div>
                                                <div><?php echo $helper->getContactstoreaddress(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-phone"></i></span>
                                                <div><b><?php echo __('Phone'); ?></b></div>
                                                <div><?php echo $helper->getStorecontactno(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-envelope"></i></span>
                                                <div><b><?php echo __('Email'); ?></b></div>
                                                <div><a href="mailto:<?php echo $helper->getStorecontactemail(); ?>"><?php echo $helper->getStorecontactemail(); ?></a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <?php } else if ($Footercolumntwo == 'static') { ?>
                            <div class="cp-fblock">
                                <?php if ($Columntwostatic != '') { ?>
                                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($Columntwostatic)->toHtml(); ?>
                                <?php } ?>
                            </div>
                        <?php } else if ($Footercolumntwo == 'flickr') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('flickr_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumntwo == 'instagram') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('instagram_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumntwo == 'news') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __($newsletterTitle); ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <p>
                                        <?php echo __($newsletterText); ?>
                                    </p>
                                    <?php echo $this->getChildHtml('footer.subscribe'); ?>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                <?php } ?>

                <?php if ($Footercolumnthree != '') { ?>
                    <div class="cp-footer-main col-large-<?php echo $Columnthreewidth; ?> col-medium-<?php echo $Columnthreewidth; ?> col-small-<?php echo $Columnthreewidth; ?> col-xsmall-12">
                        <?php if ($Footercolumnthree == 'social') { ?>
                            <div class="cp-fblock">
                                <div class="cp-fcontent">
                                    <?php if ($f_logo != '') { ?>
                                        <a class="logo" href="<?php echo $baseUrl; ?>">
                                            <img src="<?php echo $footer_logo; ?>" alt="Logo">
                                        </a>
                                    <?php } ?>
                                    <?php if ($getFooteraboutstaticblock != '') { ?>
                                        <div class="f-info">
                                            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($getFooteraboutstaticblock)->toHtml(); ?>
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if ($showsocial) {
                                        $showfacebook = $helper->getShowfacebook();
                                        $showtwitter = $helper->getShowtwitter();
                                        $showlinkedin = $helper->getShowlinkedin();
                                        $showgoogle = $helper->getShowgoogle();
                                        $showpinterest = $helper->getShowpinterest();
                                        $Showyoutube = $helper->getShowyoutube();
                                        $Showflickr = $helper->getShowflickr();
                                        $Showvimeo = $helper->getShowvimeo();
                                        $Showinstagram = $helper->getShowinstagram();
                                        ?>
                                        <ul class="cp-social">
                                            <?php if ($showfacebook) { ?>
                                                <li><a href="<?php echo $helper->getFacebookurl(); ?>" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showtwitter) { ?>
                                                <li><a href="<?php echo $helper->getTwitterurl(); ?>" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showlinkedin) { ?>
                                                <li><a href="<?php echo $helper->getLinkdnurl(); ?>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showgoogle) { ?>
                                                <li><a href="<?php echo $helper->getGoogleurl(); ?>" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showpinterest) { ?>
                                                <li><a href="<?php echo $helper->getPinteresturl(); ?>" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showyoutube) { ?>
                                                <li><a href="<?php echo $helper->getYoutubeurl(); ?>" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showflickr) { ?>
                                                <li><a href="<?php echo $helper->getFlickrurl(); ?>" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showvimeo) { ?>
                                                <li><a href="<?php echo $helper->getVimeourl(); ?>" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showinstagram) { ?>
                                                <li><a href="<?php echo $helper->getInstagramurl(); ?>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnthree == 'info') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <?php echo $this->getChildHtml('footer_links'); ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnthree == 'contact') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Contact Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <ul>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-map-marker"></i></span>
                                                <div><b><?php echo __('Address'); ?></b></div>
                                                <div><?php echo $helper->getContactstoreaddress(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-phone"></i></span>
                                                <div><b><?php echo __('Phone'); ?></b></div>
                                                <div><?php echo $helper->getStorecontactno(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-envelope"></i></span>
                                                <div><b><?php echo __('Email'); ?></b></div>
                                                <div><a href="mailto:<?php echo $helper->getStorecontactemail(); ?>"><?php echo $helper->getStorecontactemail(); ?></a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnthree == 'static') { ?>
                            <div class="cp-fblock">
                                <?php if ($Columnthreestatic != '') { ?>
                                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($Columnthreestatic)->toHtml(); ?>
                                <?php } ?>
                            </div>
                        <?php } else if ($Footercolumnthree == 'flickr') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('flickr_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumnthree == 'instagram') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('instagram_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumnthree == 'news') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __($newsletterTitle); ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <p>
                                        <?php echo __($newsletterText); ?>
                                    </p>
                                    <?php echo $this->getChildHtml('footer.subscribe'); ?>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                <?php } ?>

                <?php if ($Footercolumnfour != '') { ?>
                    <div class="cp-footer-main col-large-<?php echo $Columnfourwidth; ?> col-medium-<?php echo $Columnfourwidth; ?> col-small-<?php echo $Columnfourwidth; ?> col-xsmall-12">
                        <?php if ($Footercolumnfour == 'social') { ?>
                            <div class="cp-fblock">
                                <div class="cp-fcontent">
                                    <?php if ($f_logo != '') { ?>
                                        <a class="logo" href="<?php echo $baseUrl; ?>">
                                            <img src="<?php echo $footer_logo; ?>" alt="Logo">
                                        </a>
                                    <?php } ?>
                                    <?php if ($getFooteraboutstaticblock != '') { ?>
                                        <div class="f-info">
                                            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($getFooteraboutstaticblock)->toHtml(); ?>
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if ($showsocial) {
                                        $showfacebook = $helper->getShowfacebook();
                                        $showtwitter = $helper->getShowtwitter();
                                        $showlinkedin = $helper->getShowlinkedin();
                                        $showgoogle = $helper->getShowgoogle();
                                        $showpinterest = $helper->getShowpinterest();
                                        $Showyoutube = $helper->getShowyoutube();
                                        $Showflickr = $helper->getShowflickr();
                                        $Showvimeo = $helper->getShowvimeo();
                                        $Showinstagram = $helper->getShowinstagram();
                                        ?>
                                        <ul class="cp-social">
                                            <?php if ($showfacebook) { ?>
                                                <li><a href="<?php echo $helper->getFacebookurl(); ?>" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showtwitter) { ?>
                                                <li><a href="<?php echo $helper->getTwitterurl(); ?>" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showlinkedin) { ?>
                                                <li><a href="<?php echo $helper->getLinkdnurl(); ?>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showgoogle) { ?>
                                                <li><a href="<?php echo $helper->getGoogleurl(); ?>" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                            <?php } ?>
                                            <?php if ($showpinterest) { ?>
                                                <li><a href="<?php echo $helper->getPinteresturl(); ?>" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showyoutube) { ?>
                                                <li><a href="<?php echo $helper->getYoutubeurl(); ?>" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showflickr) { ?>
                                                <li><a href="<?php echo $helper->getFlickrurl(); ?>" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showvimeo) { ?>
                                                <li><a href="<?php echo $helper->getVimeourl(); ?>" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                            <?php if ($Showinstagram) { ?>
                                                <li><a href="<?php echo $helper->getInstagramurl(); ?>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnfour == 'info') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <?php echo $this->getChildHtml('footer_links'); ?>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnfour == 'contact') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __('Contact Information') ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <ul>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-map-marker"></i></span>
                                                <div><b><?php echo __('Address'); ?></b></div>
                                                <div><?php echo $helper->getContactstoreaddress(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-phone"></i></span>
                                                <div><b><?php echo __('Phone'); ?></b></div>
                                                <div><?php echo $helper->getStorecontactno(); ?></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cp-fcontact">
                                                <span><i class="fa fa-envelope"></i></span>
                                                <div><b><?php echo __('Email'); ?></b></div>
                                                <div><a href="mailto:<?php echo $helper->getStorecontactemail(); ?>"><?php echo $helper->getStorecontactemail(); ?></a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <?php } else if ($Footercolumnfour == 'static') { ?>
                            <div class="cp-fblock">
                                <?php if ($Columnfourstatic != '') { ?>
                                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($Columnfourstatic)->toHtml(); ?>
                                <?php } ?>
                            </div>
                        <?php } else if ($Footercolumnfour == 'flickr') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('flickr_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumnfour == 'instagram') { ?>
                            <div class="cp-fblock">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('instagram_block')->toHtml(); ?>
                            </div>
                        <?php } else if ($Footercolumnfour == 'news') { ?>
                            <div class="cp-fblock">
                                <div class="cp-ftitle">
                                    <h3>
                                        <?php echo __($newsletterTitle); ?>
                                    </h3>
                                </div>
                                <div class="cp-fcontent">
                                    <p>
                                        <?php echo __($newsletterText); ?>
                                    </p>
                                    <?php echo $this->getChildHtml('footer.subscribe'); ?>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
<?php } ?>
<?php
$enable = $helper->getShowsharingaddon();
$pubid = $helper->getAddthispubid();

if ($enable) {
    ?>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<?php echo $pubid; ?>" async="async"></script>
<?php } ?>
