<?php

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\AdminGws\Block\Adminhtml\Permissions\Tab\Rolesedit\Gws */ ?>
<div class="entry-edit form-inline">
    <fieldset class="fieldset">
        <legend class="legend">
            <span><?php /* @escapeNotVerified */ echo __('Role Scopes') ?></span>
        </legend><br />
        <div class="field">
            <label class="label" for="gws_is_all"><span><?php /* @escapeNotVerified */ echo __('Role Scopes') ?></span></label>
            <div class="control">
                <select id="gws_is_all" name="gws_is_all" onchange="$('gws_container').toggle()" class="select">
                    <option value="0"><?php /* @escapeNotVerified */ echo __('Custom') ?></option>
                    <?php if ($block->canAssignGwsAll()): ?>
                    <option value="1" <?php echo($block->getGwsIsAll() ? 'selected="selected"' : '') ?>><?php /* @escapeNotVerified */ echo __('All') ?></option>
                    <?php endif; ?>
                </select>
            </div>
        </div>
        <div class="field no-label">
            <div class="control">
                <div id="gws_container">
                    <ul>
                        <?php foreach ($block->getWebsites() as $websiteId => $website): ?>
                        <li>
                            <input class="gws_website" type="checkbox" name="gws_websites[]" value="<?php /* @escapeNotVerified */ echo $websiteId ?>" id="gws_website_<?php /* @escapeNotVerified */ echo $websiteId ?>" <?php echo(in_array($websiteId, $block->getGwsWebsites()) ? 'checked="checked" ' : '') ?>/><label for="gws_website_<?php /* @escapeNotVerified */ echo $websiteId ?>">
                            <?php echo $block->escapeHtml($website->getName()) ?>
                        </label>
                            <?php if (count($website->getGroups())): ?>
                            <ul id="gws_website_<?php /* @escapeNotVerified */ echo $websiteId ?>_groups">
                                <?php foreach ($website->getGroups() as $group): ?>
                                <li>
                                    <input class="gws_store_group validate-one-gws-store" type="checkbox" name="gws_store_groups[]" value="<?php /* @escapeNotVerified */ echo $group->getId() ?>" id="gws_store_group_<?php /* @escapeNotVerified */ echo $group->getId() ?>" <?php echo(in_array($group->getId(), $block->getGwsStoreGroups()) ? 'checked="checked" ' : '') ?>/><label for="gws_store_group_<?php /* @escapeNotVerified */ echo $group->getId() ?>">
                                    <?php echo $block->escapeHtml($group->getName()) ?>
                                </label>
                                </li>
                                <?php endforeach;?>
                            </ul>
                            <?php endif; ?>
                        </li>
                        <?php endforeach;?>
                    </ul>
                    <span id="gws_validation_container"></span>
                </div>
            </div>
        </div>

        <script>
require([
    "jquery",
    "prototype",
    "mage/mage",
    'Magento_AdminGws/permissions/rolesedit/validation-rules'
], function(jQuery){

        // checkboxes validation
<?php foreach ($block->getWebsites() as $websiteId => $website): ?>
        $('gws_website_<?php /* @escapeNotVerified */ echo $websiteId ?>').advaiceContainer = 'gws_validation_container';
<?php if (count($website->getGroups())): ?>
<?php foreach ($website->getGroups() as $group): ?>
        $('gws_store_group_<?php /* @escapeNotVerified */ echo $group->getId() ?>').advaiceContainer = 'gws_validation_container';
<?php endforeach;?>
<?php endif; ?>
<?php endforeach;?>
        // checkboxes relation logic
        <?php if ($block->getGwsIsAll()):?>
            $('gws_container').toggle();
        <?php endif;?>
        var gwsController = Class.create();
        gwsController.prototype = {
            isClick : true,
            disallowedStores : <?php /* @escapeNotVerified */ echo $block->getDisallowedStoreGroupsJson() ?>,

            initialize : function() {
                this.websites = [];
                $('gws_container').select('input.gws_website').each(function(website) {
                    this.websites.push(website);
                    Event.observe(website, 'click', this.isWebsiteChecked.bind(this));
                    if ($(website.id + '_groups')) {
                        $(website.id + '_groups').select('input').each(function(storeInput) {
                            storeInput.__website = this;
                        }.bind(website));
                    }
                }.bind(this));

                this.stores = [];
                $('gws_container').select('input.gws_store_group').each(function(store) {
                    this.stores.push(store);
                }.bind(this));
            },

            isWebsiteChecked : function() {
                // disable checkboxes of all stores if any of a website is checked
                for (var k = 0; k < this.websites.length; k++) {
                    if (this.websites[k].checked) {
                        this.disableStores(true);
                        return true;
                    }
                }
                // enable checkboxes of all stores if all of websites are not checked
                this.disableStores(false);
                return false;
            },

            disableStores : function(isDisabled) {
                for (var k = 0; k < this.stores.length; k++) {
                    var storeCheckbox = this.stores[k];
                    if (this.disallowedStores[storeCheckbox.value]) {
                       // storeCheckbox.disabled = true;
                       // storeCheckbox.checked  = false;
                    }
                    // else {
                    //     storeCheckbox.disabled = isDisabled;
                    //     if (isDisabled) {
                    //         storeCheckbox.checked = storeCheckbox.__website.checked;
                    //     }
                    //     else if (this.isClick) {
                    //         storeCheckbox.checked = false;
                    //     }
                    // }
                }
            }
        };

        rwc = new gwsController();
        rwc.isClick = false;
        rwc.isWebsiteChecked();
        rwc.isClick = true;
});
</script>
    </fieldset>
</div>
