<?php
$_helper = $this->helper('Solwin\Cpanel\Helper\Data');
$enableloader = $_helper->getEnableloader();
$mediaurl = $_helper->getMediaUrl() . 'social/';
$loaderimage = $_helper->getLoaderimage();
$Loaderdisplayon = $_helper->getLoaderdisplayon();
$IsHomePage = $_helper->getIsHomePage();
?>
<?php if ($enableloader) { ?>
    <?php if ($Loaderdisplayon == 'homep') { ?>
        <?php if ($IsHomePage) { ?>
            <div class="cus-ajax-loader"></div>
        <?php } ?>
    <?php } else { ?>
        <div class="cus-ajax-loader"></div>
    <?php } ?>
    <?php if ($loaderimage != '') { ?>
        <style>
            .cus-ajax-loader {
                background: #ffffff url("<?php echo $mediaurl . $loaderimage; ?>") no-repeat scroll center center;
            }
        </style>
    <?php } ?>
<?php } ?>
