<!--content for consulting start-->
<?php $consultCategoryId = $block->getConsultId();
$consultCategoryName = $block->getCategoryName($consultCategoryId);
$serviceCategoryId = $block->getCustomCategoryId();
$serviceCategoryName = $block->getCategoryName($serviceCategoryId);
?>


<div class="services-form-tabs">

    <div class="services-form-tabs-nav">
        <ul>
            <li>
                <a id="consult" data-id="consult" href="javascript:;" class="active"><?php echo $consultCategoryName; ?></a></li>
            <li>
                <a id="service" data-id="service" href="javascript:;"><?php echo $serviceCategoryName; ?></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="services-form-tabs-content">
        <div class="services-form-tabs-content-form consult">
            <form method="post" name="consult_form" action="<?php echo $this->getUrl('categories/index/consult') ?>" id="consult_form" enctype="multipart/form-data"  data-mage-init='{"validation":{}}'>
                <div class="zipcode-input">
                    <span class="zip-title"><?php echo __('Enter Zip Code');?></span>
                    <div class="form-group">
                        <input name="zipcode_consulting" class="form-control zipcode" type="text" id="zipcode_consulting" placeholder="<?php echo __('Enter Your Zipcode');?>" data-validate="{required:true}" onFocus="geolocate()" required>
                        <input name="country_consulting" class="form-control" type="hidden" id="country_consulting" placeholder="<?php echo __('Enter Your Country');?>">
                    </div>
                    <div class="form-group required">
                        <?php
                        $categories = $block->getSubCategory($block->getConsultId());
                        ?>
                        <label>Category</label>
                        <select class="form-control custom-category" name="category" data-validate="{'required-entry':true}">
                            <option value="">Please Select</option>
                            <?php
                            foreach($categories as $category):
                                echo '<option value="'.$category->getID().'">'.$category->getName().'</option>'; //close your tags!!
                                $entityId[] = $category->getId();
                            endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <?php
                        foreach ($entityId as $entity):
                            $subcategories =  $block->getSubCategory($entity);
                            if(count($subcategories) > 0):
                                ?>
                                <div class="subcategory" id="<?php echo $entity ?>" style="display: none" >
                                    <label >Object Type</label>
                                    <select class="form-control"  name="subcategory<?php echo $entity ?>" >
                                        <?php
                                        foreach($subcategories as $subcategory):
                                            echo '<option value="'.$subcategory->getID().'">'.$subcategory->getName().'</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            <?php endif; endforeach; ?>
                    </div>
                    <div class="additional-form">
                        <div class="form-group">
                            <label><?php echo __('Budget Description');?></label>
                            <textarea rows="4" cols="50" name="budget_description"></textarea>
                        </div>
                        <div class="form-group required">
                            <label><?php echo __('Budget');?></label>
                            <input type="text" name="budget" id="budget" data-validate="{required:true, 'validate-number':true}" aria-required="true" class="input-text">
                        </div>
                        <div class="form-group">
                            <label for=""><?php /* @escapeNotVerified */ echo __('File'); ?></label>
                            <div class="control">
                                <input type="file" name="image" id="image"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="submit-btn action submit primary" title="<?php /* @escapeNotVerified */ echo __('Next') ?>"><span><?php /* @escapeNotVerified */ echo __('Next') ?></span></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="services-form-tabs-content-form service"><form method="post" name="service_form" action="<?php echo $this->getUrl('categories/index/post') ?>" id="service_form" data-mage-init='{"validation":{}}'>
                <div class="zipcode-input">
                    <span class="zip-title"><?php echo __('Enter Zip Code');?></span>
                    <div class="form-group">
                        <input name="zipcode_service" class="form-control zipcode" type="text" id="zipcode_service" placeholder="<?php echo __('Enter Your Zipcode');?>" data-validate="{required:true}" onFocus="geolocate()" >
                        <input name="country_service" class="form-control" type="hidden" id="country_service" placeholder="<?php echo __('Enter Your Country');?>">
                    </div>
                    <div class="form-group">
                        <?php
                        $categories = $block->getSubCategory($block->getCustomCategoryId());
                        ?>
                        <label>Category</label>
                        <select class="form-control custom-category" name="category" data-validate="{required:true}">
                            <option value="">Please Select</option>
                            <?php
                            foreach($categories as $category):
                                echo '<option value="'.$category->getID().'">'.$category->getName().'</option>'; //close your tags!!
                                $entityId[] = $category->getId();
                            endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="form-group">

                        <?php
                        foreach ($entityId as $entity) :
                            $subcategories =  $block->getSubCategory($entity);
                            if(count($subcategories) > 0):
                                ?>
                                <div class="subcategory" id="<?php echo $entity ?>" style="display: none" >
                                    <label >Package</label>
                                    <select class="form-control"  name="subcategory<?php echo $entity ?>" >
                                        <?php
                                        foreach($subcategories as $subcategory):
                                            echo '<option value="'.$subcategory->getID().'">'.$subcategory->getName().'</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            <?php endif; endforeach; ?>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="submit-btn action submit primary" title="<?php /* @escapeNotVerified */ echo __('Next') ?>"><span><?php /* @escapeNotVerified */ echo __('Next') ?></span></button>
                    </div>
                </div>
            </form></div>
    </div>
</div>


<!--content for consulting end-->
<!--content for services start-->


<!--content for services end-->
<style>
    .zipcode-input{
        max-width: 430px;
        margin: 0 auto;
        border: 10px solid #034C98;
        padding: 15px;
    }
    .zipcode-input .zip-title{
        text-align: center;
        background: #034C98;
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .zipcode-input .form-group{
        margin-bottom: 20px;
    }
    .zipcode-input label{
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    .zipcode-input #zipcode{
        /*height: 100px;
        background: #cccccc;
        text-align: center;
        box-shadow: none;*/
    }
    .zipcode-input .submit-btn{
        background: #034C98;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        height: 45px;
        padding: 0 25px;
        border: 0;
    }
    .text-right{
        text-align: right;
    }
    .clearfix{
        clear: both;
    }

    .services-form-tabs-nav{
        margin-bottom: 30px;
    }

    .services-form-tabs-nav ul{
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: table;
    }

    .services-form-tabs-nav ul li{
        float: left;
        margin-left: -1px;
    }

    .services-form-tabs-nav ul li a{
        display: block;
        padding: 8px 20px;
        font-size: 18px;
        color: #333;
        border: #ccc solid 1px;
    }

    .services-form-tabs-nav ul li a.active{
        background: #034c98;
        color: #fff;
        border: #034c98 solid 1px;
    }

    .services-form-tabs-content-form{
        display: none;
    }

    .services-form-tabs-content-form:nth-child(1){
        display: block;
    }

    select.select-website{
        max-width: 300px;
        float: right;
        margin-left: auto;
        margin-right: 15px;

    }

</style>

<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
    var zipcode;
    var country;

    var componentForm = {
        postal_code: 'short_name'
    };
    function initMap() {
        infoWindow = new google.maps.InfoWindow;
        geocoder = new google.maps.Geocoder;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                var latlng = {lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};
                var contentDisplayed = "<br>";
                contentDisplayed =  contentDisplayed + "<br/>" +"Latitude : "+position.coords.latitude;
                contentDisplayed =  contentDisplayed + "<br/>" + "Longitude : "+position.coords.longitude;

                geocoder.geocode({'location': latlng}, function(results, status) {
                    if (status === 'OK') {
                        if (results[1]) {
                            for (var i = 0; i < results[1].address_components.length; i++) {
                                var addressType = results[1].address_components[i].types[0];
                                if (componentForm[addressType]) {
                                    var val = results[1].address_components[i][componentForm[addressType]];
                                    zipcode = val;
                                }
                            }
                            jQuery('#zipcode_service').val(zipcode);
                            jQuery('#zipcode_consulting').val(zipcode);
                        } else {
                            window.alert('No Address results found');
                        }
                    } else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });
                infoWindow.setPosition(pos);
            }, function() {
            });
        } else {
        }
        initAutocomplete();
    }


    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
    var placeSearch, autocomplete, autocomplete_consulting;
    var componentFormService = { 
        postal_code: ['zipcode_service','short_name'],
        country: ['country_service','short_name']
    };
    var componentFormConsulting = { 
        postal_code: ['zipcode_consulting','short_name'],
        country: ['country_consulting','short_name']
    };
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('zipcode_service')),
            {types: ['geocode'] , componentRestrictions: {country: "ch"}});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddressService);

        autocomplete_consulting = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('zipcode_consulting')),
            {types: ['geocode'] , componentRestrictions: {country: "ch"}});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete_consulting.addListener('place_changed', fillInAddressConsulting);
        //initMap();
    }

    function fillInAddressService() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentFormService) {
            document.getElementById(componentFormService[component][0]).value = '';
            document.getElementById(componentFormService[component][0]).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        if (place.address_components !== undefined) {
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentFormService[addressType]) {
                    var val = place.address_components[i][componentFormService[addressType][1]];
                    document.getElementById(componentFormService[addressType][0]).value = val;
                }
            }
        }    
    }
    
    function fillInAddressConsulting() {
        // Get the place details from the autocomplete object.
        var place = autocomplete_consulting.getPlace();

        for (var component in componentFormConsulting) {
          document.getElementById(componentFormConsulting[component][0]).value = '';
          document.getElementById(componentFormConsulting[component][0]).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        if (place.address_components !== undefined) {
            for (var i = 0; i < place.address_components.length; i++) {
              var addressType = place.address_components[i].types[0];
              if (componentFormConsulting[addressType]) {
                var val = place.address_components[i][componentFormConsulting[addressType][1]];
                document.getElementById(componentFormConsulting[addressType][0]).value = val;
              }
            }
        }    
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAOvK2K3j64PloOsoXFc9Ugby2q6Wv63Y&libraries=places&callback=initMap">
</script>
<script type="text/javascript">
    require(['jquery'], function ($) {
        jQuery(document).ready(function () {
            jQuery('#consult_form')[0].reset();
            jQuery('#service_form')[0].reset();
            jQuery(".additional-form").hide();
            jQuery('.custom-category').on("change",function (event) {
                var categoryId = jQuery(this).val();
                jQuery('.subcategory').hide();
                if(categoryId != '' || categoryId!= null){
                    jQuery('#'+categoryId).show();
                }
                if(jQuery('#'+categoryId).length == 0){
                    jQuery(".additional-form").hide();
                }else{
                    jQuery(".additional-form").show();
                }
            })
            var input_consulting = document.getElementById('zipcode_consulting');
            google.maps.event.addDomListener(input_consulting, 'keydown', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                }
            });
            var input_service = document.getElementById('zipcode_service');
            google.maps.event.addDomListener(input_service, 'keydown', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                }
            });
        });
    });
</script>

<script type="text/javascript">
    require(['jquery'], function ($) {
        jQuery(document).ready(function () {
            jQuery(".services-form-tabs-nav ul li a").click(function () {
                jQuery(".services-form-tabs-nav ul li a").removeClass("active");
                jQuery('.services-form-tabs-content-form').hide().removeClass("active");
                jQuery(this).addClass("active");  jQuery(".services-form-tabs-content-form." + jQuery(this).data('id')).addClass("active").fadeIn("slow");
            });
        });
    });
</script>