<?php $vendorList = $block->getVendorList(); ?>
<?php if (!$vendorList->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find vendors matching the selection.') ?></div></div>
<?php endif; ?>
<div class="product-listing-wrap vendorlist">
    <ul>
        <?php
        foreach ($vendorList as $vendor): ?>
            <li>
                <div class="product-block">
                    <img src="<?php echo $block->getMediaPath().'vendorImage/'.$vendor->getVendorImage(); ?>" alt="<?php echo $vendor->getFirstName();?>">
                    <div class="product-info-wrap">
                        <h4><?php echo $vendor->getFirstName()." ".$vendor->getLastname(); ?></h4>
                        <div class="rating-summary">
                            <?php $vendorRating =  $vendor->getVendorRating() * 2 * 10;?>
                            <div class="rating-result" title="<?php echo $vendorRating?>%">
                                <span style="width:<?php echo $vendorRating;?>%"><span><?php echo $vendorRating;?>%</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="hover-box">
                        <div class="view-product">
                            <a href="<?php echo $this->getUrl('categories/index/view',array('order_id'=>$vendor->getId()))?>"><?php echo __('View') ?></a>
                        </div>
                        <div class="select-option">
                            <form name="vendor_list" method="post" action="<?php echo $this->getUrl('categories/index/Save') ?>"><input type="hidden" name="order_id" value="<?php echo $vendor->getId();?>"><input type="submit" value="select"></form>
                        </div>
                    </div>
                </div>
            </li>
        <?php   endforeach;?>
    </ul>
</div>

<style>
    .product-listing-wrap {
        padding: 0 15px;
        max-width: 1170px;
        margin: 100px auto;
        width: 100%;
    }
    .product-listing-wrap ul {
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        padding: 0;
        margin: 0 -15px;
        list-style-type: none;
        width: calc(100% - 30px);
    }
    .product-listing-wrap ul:before,
    .product-listing-wrap ul:after {
        width: 0;
    }
    .product-listing-wrap ul li {
        float: left;
        margin: 0 0 30px;
        width: calc(25% - 30px);
        padding: 0 15px;
    }
    .product-listing-wrap .product-block {
        display: block;
        overflow: hidden;
        position: relative;
    }
    .product-block .product-info-wrap {
        display: block;
        position: relative;
        padding: 10px 15px;
    }
    .product-block .product-info-wrap h4 {
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 10px;
    }
    .product-listing-wrap .product-block .hover-box {
        background: #fff;
        display: inline-block;
        position: absolute;
        padding: 20px 15px;
        bottom: -60px;
        width: calc(100% - 30px);
        z-index: 12;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .product-listing-wrap .product-block:hover .hover-box {
        bottom: 0;
    }
    .product-block .hover-box .view-product {
        float: left;
    }
    .product-block .hover-box .view-product a,
    .product-block .hover-box .select-option input[type="submit"] {
        background: #0088cd;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: 1px solid #0088cd;
        color: #ffffff;
        display: block;
        font-size: 1.3rem;
        line-height: 1;
        padding: 7.5px 15px;
        white-space: nowrap;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .product-block .hover-box .view-product a:hover,
    .product-block .hover-box .select-option input[type="submit"]:hover,
    .product-block .hover-box .view-product a:focus,
    .product-block .hover-box .select-option input[type="submit"]:focus
    .product-block .hover-box .view-product a:active,
    .product-block .hover-box .select-option input[type="submit"]:active {
        background: #009ddc;
        border: 1px solid #009ddc;
        color: #ffffff;
    }
    .product-block .hover-box .select-option {
        float: right;
    }
</style>

