<?php
$vendorData = $block->getVendorDetails();?>
<?php $previousInquiries = $block->getPreviousInquiries($vendorData->getId());?>
<div class="product-detail-wrap">
    <div class="product-top">
        <div class="product-info">
            <h2 class="title"><?php echo $vendorData->getFirstname()." ".$vendorData->getLastname(); ?></h2>
            <div class="rating-summary">
                <?php $vendorRating =  $vendorData->getVendorRating() * 2 * 10;?>
                <div class="rating-result" title="<?php echo $vendorRating?>%">
                    <span style="width:<?php echo $vendorRating;?>%">
                        <span><?php echo $vendorRating;?>%</span>
                    </span>
                </div>
            </div>
            <div class="review-content"></div>
            <form name="vendor_detail" method="post" action="<?php echo $this->getUrl('categories/index/Save') ?>"><input type="hidden" name="order_id" value="<?php echo $vendorData->getOrderId();?>">
                <input type="submit" value="<?php echo __('Select');?>">
            </form>
        </div>
        <div class="product-image">
            <img src="<?php echo $block->getMediaPath().'vendorImage/'.$vendorData->getVendorImage(); ?>" alt="<?php echo $vendorData->getFirstName();?>">
        </div>
    </div>
    <div class="product info detailed">
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <div class="data item title"
                 aria-labeledby="tab-label-additional-title"
                 data-role="collapsible" id="tab-label-additional">
                <a class="data switch"
                   tabindex="-1"
                   data-toggle="switch"
                   href="#additional"
                   id="tab-label-additional-title">
                    Vendor Details
                </a>
            </div>
            <div class="data item content" id="additional" data-role="content">
                <div class="additional-attributes-wrapper table-wrapper">
                    <table class="data table additional-attributes" id="product-attribute-specs-table">
                        <caption class="table-caption">Vendor Details</caption>
                        <tbody>
                        <tr>
                            <th class="col label" scope="row"><?php echo __('Description'); ?></th>
                            <td class="col data" data-th="<?php echo __('Description'); ?>"><p><?php echo $vendorData->getVendorDescription(); ?></p></td>
                        </tr>
                        <tr>
                            <th class="col label" scope="row"><?php echo __('Email') ?></th>
                            <td class="col data" data-th="<?php echo __('Email') ?>"><?php echo $vendorData->getEmail(); ?></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="data item title"
                 aria-labeledby="tab-label-inquiry-title"
                 data-role="collapsible" id="tab-label-inquiry">
                <a class="data switch"
                   tabindex="-1"
                   data-toggle="switch"
                   href="#inquiry"
                   id="tab-label-inquiry-title">
                    Inquiries
                </a>
            </div>
            <div class="data item content" id="inquiry" data-role="content">
                <div class="additional-attributes-wrapper table-wrapper">
                    <table class="data table table-order-items history" id="my-orders-table">
                        <caption class="table-caption">Inquiry</caption>
                        <thead>
                        <tr>
                            <th scope="col" class="col inquiry-id"><?php echo __('Inquiry Number');?></th>
                            <th scope="col" class="col category"><?php echo __('Category');?></th>
                            <th scope="col" class="col budget"><?php echo __('Budget');?></th>
                            <th scope="col" class="col inquiry"><?php echo __('Inquiry Status');?></th>
                            <th scope="col" class="col action"><?php echo __('Inquiry Description');?></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($previousInquiries as $inquiryData):?>
                            <tr>
                                <td data-th="<?php echo __('Inquiry Number');?>" class="col category"><?php echo $inquiryData['id'];?></td>
                                <td data-th="<?php echo __('Category');?>" class="col category"><?php echo $inquiryData['order_conjcat_name'];?></td>
                                <td data-th="<?php echo __('Budget');?>" class="col category"><?php echo $inquiryData['budget'];?></td>
                                <td data-th="<?php echo __('Inquiry Status');?>" class="col category"><?php echo $inquiryData['inquiry_status'];?></td>
                                <td data-th="<?php echo __('Inquiry Description');?>" class="col category"><?php echo $inquiryData['description'];?></td>
                            </tr>
                        <?php endforeach;?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="data item title"
                 aria-labeledby="tab-label-review-title"
                 data-role="collapsible" id="tab-label-review">
                <a class="data switch"
                   tabindex="-1"
                   data-toggle="switch"
                   href="#review"
                   id="tab-label-review-title">
                    Reviews
                </a>
            </div>
            <div class="data item content" id="review" data-role="content">
                <h4><?php echo __('Ratings') ?></h4>
                <?php $vendorRatingData = $block->getVendorRatings($vendorData->getId());?>
                <?php if($vendorRatingData):?>
                    <?php foreach ($vendorRatingData as $data):?>
                        <div class="vendor-ratings">
                            <div class="rating-summary">
                                <?php $vendorRating =  $data['rating_value'] * 2 * 10;?>
                                <div class="rating-result" title="<?php echo $vendorRating?>%">
                                    <span style="width:<?php echo $vendorRating;?>%"><span><?php echo $vendorRating;?>%</span></span>
                                </div>
                            </div>
                            <div class="review-content" itemprop="description">
                                <?php echo $data['rating_description'];?>
                            </div>
                        </div>
                    <?php endforeach;?>
                <?php endif;?>
            </div>

        </div>
    </div>
</div>






<style type="text/css">
    .product-detail-wrap {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
        width: 100%;
    }
    .product-top {
        display: inline-block;
        width: 100%;
    }
    .product-detail-wrap .product-info {
        float: right;
        padding: 0 15px;
        width: calc(50% - 30px);
    }
    .product-detail-wrap .product-image {
        float: left;
        padding: 0 15px;
        width: calc(50% - 30px);
    }
    .product-detail-wrap .product-content {
        display: block;
        margin: 50px 0 0;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 10px #cecece;
        -moz-box-shadow: 0px 0px 10px #cecece;
        box-shadow: 0px 0px 10px #cecece;
    }
    .product-detail-wrap .product-content h3 {
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 20px;
    }
    .product-detail-wrap .product-content h4 {
        font-weight: 600;
        font-size: 14px;
        margin: 20px 0 10px;
    }
    .product-detail-wrap .review-content {
        margin: 15px 0;
    }
    .product-detail-wrap .product-info input[type="submit"] {
        background: #0088cd;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: 1px solid #0088cd;
        color: #ffffff;
        display: block;
        font-size: 1.3rem;
        line-height: 1;
        padding: 7.5px 15px;
        white-space: nowrap;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .product-detail-wrap .product-info input[type="submit"]:hover,
    .product-detail-wrap .product-info input[type="submit"]:focus,
    .product-detail-wrap .product-info input[type="submit"]:active {
        background: #009ddc;
        border: 1px solid #009ddc;
        color: #ffffff;
    }
    .vendor-ratings{
        border-top: 1px solid #555555;
        margin-top: 20px;
        padding-top: 10px;
        display: block;
    }
</style>
