.bh-wrapper {
    float: left;
    width:100%;
    position: relative;
    box-sizing: border-box;
}
.bh-wrapper .bh-main {
    float: left;
    width:100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 15px;
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
}
.bh-wrapper .bh-row {
    margin: 0 -12px;
}
.bh-main .bh-main-inner {
    box-sizing: border-box;
    padding: 0 12px;
    position: relative;
}
.bh-main-inner .bh-img {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.bh-main-inner .bh-img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.bh-main-inner .bh-info {
    float: left;
    width:100%;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    background: #f2f2f2;
    margin-bottom: 30px;
}
.bh-info-b {
    border: 1px solid #dddddd;
    background: transparent !important;
    box-sizing: border-box;
}
.bh-date {
    left: 15px;
    position: absolute;
    top: 0;
    width: 90px;
}
.bh-date .bh-day {
    background: none repeat scroll 0 0 #009788;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -35px;
    width: 70px;
}
.bh-date .bh-monyr {
    color: #444444;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: -25px;
}
.bh-date .bh-cmt-count {
    color: #444444;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: -20px;
}
.bh-other-info {
    box-sizing: border-box;
    float: left;
    padding-left: 100px;
    width: 100%;
}
.bh-other-info .bh-title {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px;
}
.bh-other-info .bh-title a {
    color: #333333;
}
.bh-other-info .bh-desc {
    color: #444444;
    font-size: 13px;
    font-weight: 300;
}
.bh-other-info .bh-desc p {
    color: #444444;
    font-size: 13px;
    font-weight: 300;
}
.bh-tags {
    float: left;
    padding: 10px 0;
    width: 100%;
}
.bh-tags > a {
    border: 1px solid #dddddd;
    color: #333333;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}
.bh-tags > a:hover {
    color: #009788;
}
/*comment block*/
.cm-main .cm-main-title {
    display: block;
    float: left;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    margin: 10px 0 30px;
}
.cm-main .cm-main-inner {
    display: table;
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.cm-main-inner .cm-img:before {
    background: none repeat scroll 0 0 #f2f2f2;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 1;
}
.cm-main-inner .cm-img {
    display: table-cell;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
    width: 90px;
}
.cm-main-inner .cm-content {
    display: table-cell;
    vertical-align: top;
    background: #f2f2f2;
    padding: 20px;
}
.cm-main-inner .cm-img img {
    display: inline-block;
    max-width: 90px;
    width: 90px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 100%;
}
.cm-content .cm-name {
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 10px;
    float: left;
    font-weight: 600;
}
.cm-content .cm-date {
    color: #444444;
    font-size: 12px;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
    float: right;
}
.cm-content .cm-title {
    color: #333333;
    line-height: 26px;
    font-size: 14px;
    display: block;
    clear: left;
}
.cm-content .cm-desc {
    color: #333333;
    line-height: 22px;
    display: block;
    clear: left;
}
.cm-content .cm-desc p {
    color: #333333;
    line-height: 22px;
    display: block;
    clear: left;
}
.fieldset_popup ul {
    padding-left: 0;
}
.fieldset_popup ul li {
    list-style: none;
}
.fieldset_popup {
    padding: 10px;
}
/*blog sidebar*/ 
.bg-side-main {
    display: block;
    padding: 15px 0 0;
}
.bg-side-main .bg-side-inner-main {
     display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.bg-side-inner-main .bh-main-inner {
    display: block;
}
.bh-main-inner .bg-img {
    display: block;
}
.bh-main-inner .bg-info {
    display: block;
    margin-bottom: 15px;
}
.bg-info .bg-date {
    display: inline-block;
    margin-right: 10px;
}
.bg-info .bg-cmt-count {
    display: inline-block;
}
.bg-info .bg-title {
    font-size: 14px;
    line-height: 20px;
}
.bg-info .bg-title a {
    color: #333333;
}
/*blog pagination*/
.bg-pager {
    float: left;
    width:100%;
    position: relative;
    box-sizing: border-box;
}
.bg-pager .pager .toolbar-amount  {
    margin-right: 10px;
}
@media only screen and (max-width:639px) {
    .bg-pager .pager .pages-items , .bg-pager .pager .pages > strong , .bg-pager .pager .pages-items .pages-item-next , .bg-pager .pager .pages-items .pages-item-previous {
        position: static !important;
    }
    .bg-pager .pager .toolbar-amount .toolbar-number {
        display: none;
    }
    .bg-pager .pager .pages .pages-items {
        padding: 2px 0 0;
    }
}
@media only screen and (max-width:479px) {
    .bh-date {
        left: 0;
        margin: 0 auto 10px;
        position: relative;
        top: 0 !important;
        width: 190px;
    }
    .bh-main .bh-main-inner .bh-info .bh-date .bh-day {
        display: inline-block;
        top: 0;
    }
    .bh-date .bh-monyr {
        display: inline;
        top: -5px;
    }
    .bh-date .bh-cmt-count {
        display: inline;
        top: -5px;
    }
    .bh-other-info {
        padding-left: 0;
    }
    .cm-content .cm-date {
        float: left;
        line-height: 24px;
        width: 100%;
    }
}