/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    
    Created on : Aug 24, 2017, 5:03:11 PM
    For:NeedSafe
    Author     : Pratik raval
*/

@charset "UTF-8";
// theme variables
//yellow-700-color
@yellow-700-color : #F7B41C;
@yellow-600-color: #F6B41D; //button
@yellow-500-color: #F5BD3D; //hover
@yellow-200-color: #F2A11B; //pressed
@yellow-color: #FAB821; //border, hover
//white
@white-color : #FFFFFF;
//black-700-color
@black-700-color : #363A3B;
//black-50-color
@black-50-color : #DBDDDD;
//grey
@grey-color : #777C7D;
@grey-500-color: #5E6263;
@grey-700-color: #292B2C;
@grey-100-color: #F1F1F1;
//white-100-color
@white-100-color : #F9F9F9;
//black-500-color
@black-500-color : #F2F2F2;
//gray-600-color
@gray-600-color : #A0A4A5;
//brown-900-color
@brown-900-color : #1E1605;
//brown
@brown-color : #654303;
//pinka-400-color
//sugar-cane
@sugar-cane:#f0f0ec;
@grey-cane:#666;
@pinka-400-color : #EC1641;
@silversand-color : #B9BEBF;
@iron-color : #DBDCDD;
@light-orange-color : #0CAE33;
@greenleaf-color : #417505;
@maroonflush-color : #CC224B;
@zest-color : #E3802F;
@athens-grey-color : #DBDDDD;
@gallery-color : #EEEEEE;
@font-regular: NunitoSans-Regular;
@font-black: NunitoSans-Black;
@font-bold: NunitoSans-Bold;
@font-semibold: NunitoSans-SemiBold;
@font-italic: NunitoSans-Italic;
@transition-sec: 0.4s;
@border-radius-button: 4px;
@border-radius-text: 3px;
@border-button-white-gray : #979797;


 .registeration-main .login-container .fieldset>.field>.control{
        width:100%;
    }
 
 .heading-registration{
        background:@sugar-cane;
        color: @grey-cane;
    }
	
.registeration-main table>tbody>tr>td, table>tfoot>tr>td {
            padding: 11px 230.5px;
	}
        
.tableborder{
	    border: 1px solid #ddd;
}

.questions-top-margin{
        margin-top:15%;
}


a, .alink {
  color:@white-color;
}

