/*=======================
general css
=======================*/
/*media width*/
@width-991: 991px;
@width-767: 767px;
@width-639: 639px;

/*==============================
Theme hyperlink override
================================*/
@link__color: @cpanel-txt-color-theme;
@link__text-decoration: @cpanel-text-decoration-none;
@link__hover__color: @cpanel-txt-color-theme-light;
@link__hover__text-decoration: @cpanel-text-decoration-none;
@link__active__color: @cpanel-txt-color-theme-light;
@link__active__text-decoration: @cpanel-text-decoration-none;
@link__visited__color:  @cpanel-txt-color-theme;
@link__visited__text-decoration: @cpanel-text-decoration-none;


/*==============================
Theme primary button override
================================*/
@button-primary__background: @cpanel-background-color-base-theme;
@button-primary__border: 1px solid @cpanel-border-color-theme;
@button-primary__hover__background: @cpanel-background-color-base-theme-light;
@button-primary__hover__border: 1px solid @cpanel-border-color-theme-light;
@button-primary__active__background: @cpanel-background-color-base-theme-light;
@button-primary__hover__border: 1px solid @cpanel-border-color-theme-light;
@button__border-radius: 0;


/*==============================
from variabels override
================================*/
@form-element-input__border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;


/*==============================
home page main block and title
================================*/
/*home page main block*/
@cpanel-home-main-block-padding-bottom: 80px;
@cpanel-home-main-block-padding-bottom-mobile: 10px;
@cpanel-home-main-block-padding: 80px 0;
@cpanel-home-main-block-padding-mobile: 30px 0;
@cpanel-home-main-block-background: @cpanel-background-color-lightgray;
/*main block title*/
@cpanel-main-block-title-text-align: @cpanel-test-align-center;
@cpanel-main-block-title-color: @cpanel-txt-color-base;
@cpanel-main-block-title-font-size: @cpanel-font-size-title;
@cpanel-main-block-title-font-size-mobile: @cpanel-font-size-title - 6;
@cpanel-main-block-title-line-height: @cpanel-main-title-line-height;
@cpanel-main-block-title-line-height-mobile: @cpanel-main-title-line-height - 6;
@cpanel-main-block-title-margin: 0 auto 15px;
@cpanel-main-block-title-margin-mobile: 0 auto 10px;
@cpanel-main-block-title-text-transform: @cpanel-text-transform-uppercase;
@cpanel-main-block-title-font-weight: @cpanel-font-weight-bold;

/*title bottom border*/
@cpanel-main-title-bottom-block-height: 3px; 
@cpanel-main-title-bottom-block-width: 80px; 
@cpanel-main-title-bottom-block-margin: 0 auto 30px;
@cpanel-main-title-bottom-block-margin-mobile: 0 auto 15px;

/*==============================
theme slider navigation buttons
================================*/
@header-icons-color: @cpanel-txt-color-base;
@header-icons-color-hover: @cpanel-txt-color-theme;



/*==============================
theme slider navigation buttons
================================*/
/*Home page slider btn*/
@cpanel-slider-btn-color: @cpanel-txt-color-white;
@cpanel-slider-btn-background: @cpanel-background-color-base-theme;
@cpanel-slider-btn-font-size: @cpanel-font-slide-btn;
@cpanel-slider-btn-width: 35px;
@cpanel-slider-btn-height: 35px;
@cpanel-slider-btn-line-height: 31px;
@cpanel-slider-btn-text-align: @cpanel-test-align-center;
@cpanel-slider-btn-margin: 0 5px;
/*slider btn hover*/
@cpanel-slider-btn-hover-background: @cpanel-background-color-base-theme-light;


/*=======================
Home Advertisement Block
=======================*/
@cpanel-home-adv-eff-border: @cpanel-border-width-2 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-home-adv-eff-border-mobile: @cpanel-border-width-2 @cpanel-border-style-solid @cpanel-border-color-transparent;


/*=================================
Home Page footer Newsletter Block
======================================*/
/*newsletter main title*/
@cpanel-newsletter-title-color: @cpanel-txt-color-white;

/*newsletter text below title*/
@cpanel-newsletter-text-color: @cpanel-txt-color-white;
@cpanel-newsletter-text-font-size: @cpanel-font-size-base + 1;
@cpanel-newsletter-text-text-align: @cpanel-test-align-center;
@cpanel-newsletter-text-margin: 0 0 15px;

/*newsletter main block*/
@cpanel-newsletter-main-block-width: 550px;
@cpanel-newsletter-main-block-margin: 0 auto;
@cpanel-newsletter-main-block-width-mobile: 100%; /*for mobile */
/*newsletter textbox*/
@cpanel-newsletter-text-box-border: @cpanel-border-width-3 @cpanel-border-style-solid @cpanel-border-color-theme; 
@cpanel-newsletter-text-box-font-size: @cpanel-font-size-base + 3;
@cpanel-newsletter-text-box-height: 45px;
@cpanel-newsletter-text-box-padding: 0 12px;
@cpanel-newsletter-text-box-background: @cpanel-background-color-transparent;
@cpanel-newsletter-text-box-color: @cpanel-txt-color-white;

/*newsletter sbscribe button*/
@cpanel-subscribe-btn-background: @cpanel-background-color-base-theme;
@cpanel-subscribe-btn-color: @cpanel-txt-color-white;
@cpanel-subscribe-btn-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-theme;
@cpanel-subscribe-btn-border-radius: @cpanel-border-radius-0;
@cpanel-subscribe-btn-height: @cpanel-newsletter-text-box-height;
@cpanel-subscribe-btn-font-size: @cpanel-font-size-base + 3;

/*on hover*/
@cpanel-subscribe-btn-hover-background: @cpanel-background-color-base-theme-light;
@cpanel-subscribe-btn-hover-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-theme-light;


/*==============================
Home newsletter popup variables
================================*/
/*newsletter popup block layout*/
@cpanel-popup-newsletter-left-block-width: 50%;
@cpanel-popup-newsletter-left-block-width-mobile: 100%;
@cpanel-popup-newsletter-right-block-width: 50%;
@cpanel-popup-newsletter-right-block-width-mobile: 100%;
@cpanel-popup-newsletter-left-block-padding: 0 20px 0 0;
@cpanel-popup-newsletter-left-block-padding-mobile: 0;
/*newsletter popup title */
@cpanel-popup-newsletter-title-color: @cpanel-txt-color-theme;
@cpanel-popup-newsletter-title-font-size: @cpanel-font-size-base + 11;
@cpanel-popup-newsletter-title-font-weight: @cpanel-font-weight-bold;
@cpanel-popup-newsletter-title-line-height: @cpanel-popup-newsletter-title-font-size + 6;
@cpanel-popup-newsletter-title-text-transform: @cpanel-text-transform-uppercase;
@cpanel-popup-newsletter-title-text-align: @cpanel-test-align-center;
@cpanel-popup-newsletter-title-margin: 30px 0 20px;
/*newsletter popup text content*/
@cpanel-popup-newsletter-text-font-size: @cpanel-font-size-base;
@cpanel-popup-newsletter-text-line-height: @cpanel-popup-newsletter-text-font-size + 7;
@cpanel-popup-newsletter-text-text-align: @cpanel-test-align-center;
@cpanel-popup-newsletter-text-margin: 0 0 15px;
/*newsletter popup socials*/
@cpanel-popup-newsletter-social-text-align: @cpanel-test-align-center;
@cpanel-popup-newsletter-social-font-weight: @cpanel-font-weight-normal;
@cpanel-popup-newsletter-social-title-margin: 0 0 15px;
@cpanel-popup-newsletter-social-img-margin: 0 3px;


/*===============================
footer copyright block variables
===============================*/
@copyright__background-color: @cpanel-background-color-black;


/*======================
footer less variables
=======================*/
@cpanel-cp-footer-container-padding: 70px 0 50px;
/*footer main */
@cpanel-cp-footer-main-width: 25%;
@cpanel-cp-footer-main-width-tablet: 33.3333%;
@cpanel-cp-footer-main-width-mobile: 100%;
@cpanel-cp-footer-main-padding: 0 15px;

/*footer title*/
@cpanel-cp-ftitle-color: @cpanel-theme-footer-title-color;
@cpanel-cp-ftitle-fontsize: @cpanel-font-size-base + 7;
@cpanel-cp-ftitle-lineheight: @cpanel-title-line-height;
@cpanel-cp-ftitle-text-transform: @cpanel-text-transform-capitalize;
@cpanel-cp-ftitle-font-weight: @cpanel-font-weight-normal;
@cpanel-cp-ftitle-margin: 10px 0 20px;
@cpanel-footer-logo-max-width: 125px;

/*footer social block*/
@cpanel-footer-social-outer-block-text-align: @cpanel-test-align-center;
@cpanel-footer-social-outer-block-margin: 20px 0 0;
@cpanel-footer-social-outer-block-padding: 0;
@cpanel-footer-social-block-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-footer-social-block-icon-fontsize: @cpanel-font-size-base;
@cpanel-footer-social-box-height: 35px;
@cpanel-footer-social-box-width: @cpanel-footer-social-box-height;
@cpanel-footer-social-box-line-height: @cpanel-footer-social-box-height;
@cpanel-footer-social-box-padding: 0px;
@cpanel-footer-social-box-margin: 0px 1px 5px;

/*footer links*/
@cpanel-footer-links-color: @cpanel-theme-footer-text-color;
@cpanel-footer-links-margin: 0 0 10px;
@cpanel-footer-links-fontsize: @cpanel-font-size-base + 1;
@cpanel-footer-links-text-decoraation: @cpanel-text-decoration-none;
@cpanel-footer-links-outline: @cpanel-link-outline-none;
@cpanel-footer-links-hover-color: @cpanel-txt-color-theme;
/*contact block*/
@cpanel-footer-contact-block-padding: 0 0 0 20px;



/*=============================================
sidebar and sidebar additional less variables
===============================================*/
/*sidebar and sidebar additional block*/
@cpanel-sidebar-block-background: @cpanel-background-color-lightgray;
@cpanel-sidebar-block-padding: 15px;
/*sidebar title*/
@cpanel-sidebar-block-title-padding: 0 0 10px;
@cpanel-sidebar-block-title-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-sidebar-block-title-color: @cpanel-txt-color-base;
@cpanel-sidebar-block-title-font-size: @cpanel-font-size-base + 1;
@cpanel-sidebar-block-title-font-weight: @cpanel-font-weight-bold;
@cpanel-sidebar-block-title-text-transform: @cpanel-text-transform-uppercase;
/*sidebar sub title*/
@cpanel-sidebar-block-sub-title-padding: 5px 0 15px;
@cpanel-sidebar-block-sub-title-border: none;
@cpanel-sidebar-block-sub-title-color: @cpanel-txt-color-theme;
@cpanel-sidebar-block-sub-title-font-size: @cpanel-font-size-base + 1;
@cpanel-sidebar-block-sub-title-font-weight: @cpanel-font-weight-bold;
@cpanel-sidebar-block-sub-title-text-transform: @cpanel-text-transform-uppercase;
/*sidebar block filter and its options*/
@cpanel-sidebar-filter-options-background: @cpanel-background-color-lightgray;
@cpanel-sidebar-filter-options-margin: 0 0 12px;
@cpanel-sidebar-filter-options-padding: 6px 5px 12px;
@cpanel-sidebar-filter-options-border: none;
/*sidebar block filter and its options title*/
@cpanel-sidebar-filter-options-title-font-weight: @cpanel-font-weight-bold;
@cpanel-sidebar-filter-options-title-font-color: @cpanel-txt-color-base;



/*=======================
top header less variables
=======================*/
/*top header variables*/
@header-panel__background-color: @cpanel-background-color-lightgray;
@font-size__base: @cpanel-font-size-base;
@header-panel__text-color: @cpanel-txt-color-theme;
@header-panel__text-hover-color: @cpanel-txt-color-theme-light;
@header-panel__text-active-color: @cpanel-txt-color-theme-light;
@cpanel-header-notification-color: @cpanel-txt-color-base;
@cpanel-header-notification-text-transform: @cpanel-text-transform-uppercase;
@cpanel-header-panel-border-top: @cpanel-border-width-4 @cpanel-border-style-solid @cpanel-border-color-theme;
@cpanel-header-panel-text-transform: @cpanel-text-transform-uppercase;
@cpanel-header-links-border-left: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-semi-dark-gray;
@cpanel-header-links-margin: 0 0 0 8px;
@cpanel-header-links-padding: 0 0 0 8px;
@cpanel-header-links-font-size: @cpanel-font-size-base - 1;
@cpanel-header-panel-arrow-down-icon: '\f0d7';
@cpanel-header-panel-arrow-up-icon: '\f0d8';
@cpanel-header-panel-arrow-font-family: 'Fontawesome';


/*=======================
top-menu(nav) less variables
=======================*/
/*top menu block start*/
/*override navigation variables*/
@navigation-desktop__background: @cpanel-background-color-base-theme;
@navigation-desktop__background-mobile: @cpanel-background-color-white;
@navigation-desktop-level0-item__color: @cpanel-navigation-desktop-level0-item__color;
@submenu-desktop__box-shadow: none;
@submenu-desktop-item__color: @cpanel-txt-color-base;
@navigation-desktop-level0-item__active__background: @cpanel-navigation-desktop-level0-item__active__background;
@navigation-desktop-level0-item__active__border-width: 0;
@navigation-desktop-level0-item__active__border-color: @cpanel-txt-color-base;
@navigation-desktop-level0-item__hover__background: @cpanel-navigation-desktop-level0-item__hover__background;
@navigation-desktop-level0-item__hover__border: none;
@navigation-desktop-level0-item__hover__color: @cpanel-navigation-desktop-level0-item__hover__color;
@navigation-desktop-level0-item__padding: 0 20px;
@navigation-desktop-level0-item__margin: 0;
@submenu-desktop__background: @cpanel-background-color-lightgray;

@submenu-desktop-item__hover__background: @cpanel-background-color-transparent;
@submenu-desktop-item__hover__color: @cpanel-txt-color-theme;
@submenu-desktop-item__padding: 5px 15px;
@submenu-desktop-block-border-top: @submenu-theme-desktop-block-border-top; 
/*nav level-0(level-top)*/
@cpanel-navigation-background-color: @cpanel-theme-navigation-background-color;
@cpanel-navigation-level-top-font-weight: @cpanel-font-weight-bold;
@cpanel-navigation-level-top-font-size: @cpanel-font-size-base + 1;
@cpanel-navigation-level-top-text-transform: @cpanel-text-transform-uppercase;
@cpanel-navigation-submenu-padding: 0;


/*=======================================
Slider navigation arrows (Prev and next)
=========================================*/
@cpanel-home-bannerslider-navigation-color: @cpanel-txt-color-white;
@cpanel-home-bannerslider-navigation-background: @cpanel-background-color-base-theme;
@cpanel-home-bannerslider-navigation-background-hover: @cpanel-background-color-base-theme-light;



/*=======================
Minicart less variables
=======================*/
/*minicart custom variables*/
@cpanel-minicart-box-height: 40px;
@cpanel-minicart-box-width: 40px;
@cpanel-minicart-box-text-align: @cpanel-test-align-center;
@cpanel-minicart-box-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-cart-qty-background: @cpanel-background-color-base-theme;
@cpanel-minicart-productname-font-size: @cpanel-font-size-base + 1;
@cpanel-minicart-productname-font-weight: @cpanel-font-weight-normal;

/*minicart override variables*/
@minicart-icons-color: @cpanel-txt-color-base;
@minicart-icons-color-hover: @cpanel-txt-color-theme;


/*===========================
Product Detail Page Variables
=============================*/
/*product detail page variables*/
@cpanel-media-block-width: 42%;
@cpanel-product-info-block-width: 58%;
@cpanel-media-padding: 0 30px 0 0;

/*product name on product page variables*/
@cpanel-product-det-name-font-size: (@cpanel-font-size-base * 2) + 4;
@cpanel-product-det-name-font-weight: @cpanel-font-weight-normal;
@cpanel-product-det-name-font-color: @cpanel-txt-color-base;
@color-gray20: @cpanel-txt-color-base;
/*add to buttons variable*/
@addto-color: @cpanel-txt-color-base;
@addto-hover-color: @cpanel-txt-color-theme;

/*product detail page override variables*/
@product-info-price:  @cpanel-txt-color-base;

@cpanel-product-list-page-block-padding: 0 12px;
@cpanel-product-list-page-block-padding-mobile: 0 5px;

/*product list page product name font size*/
@cpanel-product-list-page-product-name-font-size: @cpanel-font-size-base + 1;

/*product description less variables*/
@cpanel-product-detail-page-product-desc-font-size: @cpanel-font-size-base + 1;
@cpanel-product-detail-page-product-desc-line-height: @cpanel-product-detail-page-product-desc-font-size + 10;

 /*product detail page tabs override less variables*/
@tab-control__font-size: @cpanel-font-size-base + 1;
@text__color__muted: @cpanel-txt-color-base-extra-light;
@tab-control__background-color: @cpanel-background-color-lightgray;
@tab-control__line-height: 40px;
@tab-content__margin-top: 43px;
 
 

/*==============================================
Shopping cart and chekout page less varibles
=============================================*/
/*shopping cart less variables*/
@cart-price-color: @cpanel-txt-color-base;

/*checkout page variables*/
@checkout-progress-bar-item__active__background-color: @cpanel-background-color-base-theme;
@checkout-step-title__font-weight: @cpanel-font-weight-normal;
@color-gray80: @cpanel-border-color-base;



/*===========================
Testimonial less Variables
=============================*/
/*testimonial image*/
@cpanel-testimonial-image-border: @cpanel-border-width-8 @cpanel-border-style-solid @cpanel-border-color-theme;
/*testimonial name*/
@cpanel-testimonial-name-font-size: @cpanel-font-size-base + 11;
@cpanel-testimonial-name-font-color: @cpanel-txt-color-theme;
@cpanel-testimonial-name-font-hover-color: @cpanel-txt-color-theme-light;
@cpanel-testimonial-name-font-weight: @cpanel-font-weight-bold;
@cpanel-testimonial-name-text-transform: @cpanel-text-transform-uppercase;
@cpanel-testimonial-name-border: @cpanel-border-color-base;
/*testimonial company name*/
@cpanel-testimonial-company-font-size: @cpanel-font-size-base + 5;
@cpanel-testimonial-company-font-color: @cpanel-txt-color-theme;
/*content*/
@cpanel-testimonial-content-font-size: @cpanel-font-size-base + 3;
@cpanel-testimonial-content-font-color: @cpanel-txt-color-base-semi-light;
@cpanel-testimonial-content-font-weight: @cpanel-font-weight-normal;
@cpanel-testimonial-content-line-height: @cpanel-testimonial-content-font-size + 14;

/*tesimonial link btns*/
@cpanel-testimonial-link-color: @cpanel-txt-color-light-gray;
@cpanel-testimonial-link-hover-color: @cpanel-txt-color-theme;
@cpanel-testimonial-link-height: 30px;
@cpanel-testimonial-link-width: @cpanel-testimonial-link-height;
@cpanel-testimonial-link-line-height: @cpanel-testimonial-link-height;
@cpanel-testimonial-link-border: @cpanel-border-width-2 @cpanel-border-style-solid @cpanel-border-color-base; 
@cpanel-testimonial-link-border-radius: @cpanel-border-radius-round;
@cpanel-testimonial-link-text-align: @cpanel-test-align-center;

/*testimonial detail page*/
/*testimonial name*/
@cpanel-testimonial-det-name-color: @cpanel-txt-color-theme;
@cpanel-testimonial-det-name-font-size: @cpanel-font-size-base + 11;
@cpanel-testimonial-det-name-font-weight: @cpanel-font-weight-normal;
@cpanel-testimonial-det-name-line-height: @cpanel-testimonial-det-name-font-size + 6;
@cpanel-testimonial-det-name-text-transform: @cpanel-text-transform-uppercase;
@cpanel-testimonial-det-name-margin: 20px 0;
/*testimonial description*/
@cpanel-testimonial-det-txt-color: @cpanel-txt-color-base;
@cpanel-testimonial-det-txt-font-size: @cpanel-font-size-base + 1;
@cpanel-testimonial-det-txt-line-height: @cpanel-testimonial-det-txt-font-size + 10;
@cpanel-testimonial-det-txt-font-weight: @cpanel-font-weight-normal;
/*testimonial company and links*/
@cpanel-testimonial-det-link-color: @cpanel-txt-color-base;
@cpanel-testimonial-det-link-color-hover: @cpanel-txt-color-theme;
@cpanel-testimonial-det-link-font-size: @cpanel-font-size-base;
@cpanel-testimonial-det-link-font-weight: @cpanel-font-weight-thin;

@cpanel-testimonial-det-link-logo-color: @cpanel-txt-color-base;
@cpanel-testimonial-det-link-logo-font-size: @cpanel-font-size-base;
@cpanel-testimonial-det-link-logo-border: @cpanel-border-width-2 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-testimonial-det-link-logo-border-radius: @cpanel-border-radius-round;
@cpanel-testimonial-det-link-logo-height: @cpanel-testimonial-det-link-logo-font-size + 17;
@cpanel-testimonial-det-link-logo-width: @cpanel-testimonial-det-link-logo-height;
@cpanel-testimonial-det-link-logo-line-height: @cpanel-testimonial-det-link-logo-height;
@cpanel-testimonial-det-link-logo-text-align: @cpanel-test-align-center;
@cpanel-testimonial-det-link-logo-margin: 0 7px 0 0;



/*===========================
Blog All Pages less Variables
=============================*/
/*blog day*/
@cpanel-blog-day-background: @cpanel-background-color-base-theme;
@cpanel-blog-day-border-radius: @cpanel-border-radius-round;
@cpanel-blog-day-color: @cpanel-txt-color-white;
@cpanel-blog-day-font-size: @cpanel-font-size-base + 17;
@cpanel-blog-day-font-weight: @cpanel-font-weight-bold;
/*blog month and year and comment*/
@cpanel-blog-monyr-color: @cpanel-txt-color-base;
@cpanel-blog-monyr-font-size: @cpanel-font-size-base + 1;
/*blog title*/
@cpanel-blog-title-font-size: @cpanel-font-size-base + 5;
@cpanel-blog-title-color: @cpanel-txt-color-base;
@cpanel-blog-title-hover-color: @cpanel-txt-color-theme;
@cpanel-blog-title-line-height: @cpanel-blog-title-font-size + 14;
/*blog description*/
@cpanel-blog-desc-color: @cpanel-txt-color-base;
@cpanel-blog-desc-font-size: @cpanel-font-size-base + 1;
@cpanel-blog-desc-font-weight: @cpanel-font-weight-normal;
@cpanel-blog-desc-line-height: @cpanel-blog-desc-font-size + 11;
@cpanel-blog-desc-text-align: @cpanel-test-align-justify;
/*blog comment*/
@cpanel-blog-comment-count-color: @cpanel-txt-color-base;
@cpanel-blog-comment-count-font-size: @cpanel-font-size-base + 15;
@cpanel-blog-comment-count-font-weight: @cpanel-font-weight-bold;
@cpanel-blog-comment-count-line-height: @cpanel-blog-comment-count-font-size + 7;
@cpanel-blog-comment-count-margin: 10px 0 20px;
/*comment image*/
@cpanel-blog-comment-img-background: @cpanel-background-color-lightgray;
/*comment user's name'*/
@cpnael-blog-comment-user-name-color: @cpanel-txt-color-base;
@cpnael-blog-comment-user-name-font-size: @cpanel-font-size-base + 3;
@cpnael-blog-comment-user-name-font-weight: @cpanel-font-weight-bold;
@cpnael-blog-comment-user-name-line-height: @cpnael-blog-comment-user-name-font-size + 14;
@cpnael-blog-comment-user-name-margin: 0 0 10px;
/*comment date'*/
@cpnael-blog-comment-date-color: @cpanel-txt-color-base;
@cpnael-blog-comment-date-font-size: @cpanel-font-size-base - 1;
@cpnael-blog-comment-date-font-weight: @cpanel-font-weight-thin;
@cpnael-blog-comment-date-line-height: @cpnael-blog-comment-date-font-size + 14;
/*comment title'*/
@cpnael-blog-comment-title-color: @cpanel-txt-color-base;
@cpnael-blog-comment-title-font-size: @cpanel-font-size-base + 1;
@cpnael-blog-comment-title-font-weight: @cpanel-font-weight-normal;
@cpnael-blog-comment-title-line-height: @cpnael-blog-comment-title-font-size + 16;
/*comment description'*/
@cpnael-blog-comment-description-color: @cpanel-txt-color-base;
@cpnael-blog-comment-description-font-size: @cpanel-font-size-base;
@cpnael-blog-comment-description-font-weight: @cpanel-font-weight-normal;
@cpnael-blog-comment-description-line-height: @cpnael-blog-comment-description-font-size + 9;
/*blog detail page info block*/
@cpanel-blog-det-info-block-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-blog-det-info-block-background: @cpanel-background-color-transparent;
/*blog tags*/
@cpanel-blog-tags-block-padding: 10px 0;
@cpanel-blog-tags-color: @cpanel-txt-color-base;
@cpanel-blog-tags-color-hover: @cpanel-txt-color-theme;
@cpanel-blog-tags-padding: 5px 10px;
@cpanel-blog-tags-margin: 0 5px 5px 0;
@cpanel-blog-tags-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;
/*blog sidebar*/
@cpanel-blog-sidebar-title-font-size: @cpanel-font-size-base + 1;
@cpanel-blog-sidebar-title-line-height: @cpanel-blog-sidebar-title-font-size + 10;
@cpanel-blog-sidebar-title-font-weight: @cpanel-font-weight-bold;
@cpanel-blog-sidebar-title-color: @cpanel-txt-color-base;
@cpanel-blog-sidebar-title-color-hover: @cpanel-txt-color-theme;

/*=======================================
Our Brand Extension Pages less Variables
=========================================*/
/*our brabd list page*/
@cpanel-brand-main-block-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-brand-main-block-text-color: @cpanel-txt-color-theme;
@cpanel-brand-main-block-text-font-size: @cpanel-font-size-base + 3;
@cpanel-brand-main-block-text-font-weight: @cpanel-font-weight-bold;
@cpanel-brand-main-block-text-line-height: @cpanel-brand-main-block-text-font-size + 8;
@cpanel-brand-main-block-text-text-align: @cpanel-test-align-center;
@cpanel-brand-main-block-text-text-transform: @cpanel-text-transform-uppercase;
/*our brabd detail page*/
@cpanel-brand-det-title-color: @cpanel-txt-color-theme;
@cpanel-brand-det-title-font-size: @cpanel-font-size-base + 11;
@cpanel-brand-det-title-font-weight: @cpanel-font-weight-normal;
@cpanel-brand-det-title-line-height: @cpanel-brand-det-title-font-size + 6;
@cpanel-brand-det-title-text-transform: @cpanel-text-transform-uppercase;
/*our brand description*/
@cpanel-brand-det-desc-color: @cpanel-txt-color-base;
@cpanel-brand-det-desc-font-size: @cpanel-font-size-base + 1;
@cpanel-brand-det-desc-font-weight: @cpanel-font-weight-normal;
@cpanel-brand-det-desc-line-height: @cpanel-brand-det-desc-font-size + 11;
@cpanel-brand-det-desc-text-align: @cpanel-test-align-justify;



/*===========================
My Account Pages less Variables
=============================*/
/*My account all pages less variables*/
@color-gray34: @cpanel-txt-color-base;
@sidebar__background-color: @cpanel-background-color-lightgray;
@color-orange-red1: @cpanel-txt-color-theme;
@color-black: @cpanel-txt-color-base-dark;



/*===========================
Contact Us Page less Variables
=============================*/
/*contact us page less varibales*/
/*store title*/
@cpanel-contact-store-name-color: @cpanel-txt-color-theme;
@cpanel-contact-store-name-font-size: @cpanel-font-size-base + 11;
@cpanel-contact-store-name-font-weight: @cpanel-font-weight-normal;
@cpanel-contact-store-name-line-height: 30px;
@cpanel-contact-store-name-margin: 0 0 20px;
@cpanel-contact-store-name-text-transform: @cpanel-text-transform-uppercase;
/*store address title*/
@cpanel-contact-store-add-title-font-size: @cpanel-font-size-base + 3;
@cpanel-contact-store-add-title-text-align: @cpanel-test-align-center;
@cpanel-contact-store-add-title-font-weight: @cpanel-font-weight-bold;
@cpanel-contact-store-add-title-margin: 0 0 5px;
/*store address text*/
@cpanel-contact-store-add-txt-font-size: @cpanel-font-size-base + 1;
@cpanel-contact-store-add-txt-line-height: @cpanel-contact-store-add-txt-font-size + 1;
@cpanel-contact-store-add-txt-margin: 0 0 10px;


/*===========================
New and Sale Label less
=============================*/
@cpanel-new-sale-background: @cpanel-background-color-base-theme;
@cpanel-new-sale-color: @cpanel-txt-color-white;
@cpanel-new-sale-font-size: @cpanel-font-size-base + 1;
@cpanel-new-sale-font-weight: @cpanel-font-weight-normal;
@cpanel-new-sale-height: 45px;
@cpanel-new-sale-width: @cpanel-new-sale-height;
@cpanel-new-sale-line-height: @cpanel-new-sale-height;
@cpanel-new-sale-text-align: @cpanel-test-align-center;
@cpanel-new-sale-text-transfrom: @cpanel-text-transform-uppercase;
@cpanel-new-sale-border-radius: @cpanel-border-radius-round;


/*===========================
category page pagination less Variables
=============================*/
/*pagination less variales*/
/*override toolbar variables*/
@toolbar-element-background: @cpanel-txt-color-white;
@button__shadow:none;
@_pager-current-background: @cpanel-background-color-lightgray;
@cpanel-pager-current-background: @cpanel-background-color-lightgray;
@cpanel-pager-current-color: @cpanel-txt-color-theme;
@cpanel-pager-current-font-weight: @cpanel-font-weight-normal;
@cpanel-pager-min-width: 15px;
@cpanel-pager-color: @cpanel-txt-color-base;
@cpanel-pager-padding: 5px 9px;
@cpanel-pager-border: @cpanel-border-width-1 @cpanel-border-style-solid @cpanel-border-color-base;
@cpanel-pager-prev-next-color: @cpanel-txt-color-base;
@cpanel-pager-prev-next-font-size: @cpanel-font-size-base - 1;


/*===========================
Breadcrumbs less
=============================*/
@breadcrumbs-link__hover__text-decoration: none;
@breadcrumbs-current__color: @cpanel-txt-color-theme;
@breadcrumbs-link__hover__color: @cpanel-txt-color-theme;
@cpanel-breadcrumb-background: @cpanel-theme-breadcrumb-background;
@cpanel-breadcrumb-padding: @cpanel-theme-breadcrumb-padding;