/* theme custom css */

/* theme less variables start */
@base-color: #ee8041;
@base-color-light: #d35913;

/*theme font size*/
@cpanel-font-size-base: 13px;
@cpanel-font-size-title: 30px;
@cpanel-font-slide-btn: 24px;


/*theme line height*/
@cpanel-title-line-height: 24px;
@cpanel-main-title-line-height: 40px;

/*theme text align*/
@cpanel-test-align-center: center;
@cpanel-test-align-right: right;
@cpanel-test-align-left: left;
@cpanel-test-align-justify: justify;

/*theme text transform*/
@cpanel-text-transform-uppercase: uppercase;
@cpanel-text-transform-lowercase: lowercase;
@cpanel-text-transform-capitalize: capitalize;
@cpanel-text-transform-full-width: full-width;
@cpanel-text-transform-unset: unset;
@cpanel-text-transform-initial: initial;
@cpanel-text-transform-inherit: inherit;

/*theme font weight*/

@cpanel-font-weight-thin: 300;
@cpanel-font-weight-normal: 400;
@cpanel-font-weight-semibold: 500;
@cpanel-font-weight-bold: 600;
@cpanel-font-weight-extrabold: 700;

/*theme text decoration*/
@cpanel-text-decoration-none: none;
@cpanel-text-decoration-underline: underline;
@cpanel-text-decoration-overline: overline;
@cpanel-text-decoration-line-through: line-through;
@cpanel-text-decoration-unset: unset;
@cpanel-text-decoration-initial: initial;
@cpanel-text-decoration-inherit: inherit;

/*theme link outline*/
@cpanel-link-outline-none: none;


/* theme text color */
@cpanel-txt-color-base: #333333;
@cpanel-txt-color-base-dark: #222222;
@cpanel-txt-color-base-semi-light: #444444;
@cpanel-txt-color-base-light: #555555;
@cpanel-txt-color-base-extra-light: #666666;
@cpanel-txt-color-base-double-extra-light: #888888;
@cpanel-txt-color-theme: @base-color;
@cpanel-txt-color-theme-light: @base-color-light;
@cpanel-txt-color-white: #ffffff;
@cpanel-txt-color-light-gray: #dddddd;

/* theme background color */
@cpanel-background-color-base-theme: @base-color;
@cpanel-background-color-base-theme-light: @base-color-light;
@cpanel-background-color-lightgray: #f0f0ec;
@cpanel-background-color-white: #ffffff;
@cpanel-background-color-black: #333333;
@cpanel-background-color-black-dark: #222222;
@cpanel-background-color-transparent: transparent;

/* theme border color */
@cpanel-border-color-theme: @base-color;
@cpanel-border-color-theme-light: @base-color-light;
@cpanel-border-color-base: #dddddd;
@cpanel-border-color-semi-dark-gray: #cccccc;
@cpanel-border-color-transparent: transparent;
@cpanel-border-color-black-base: #333333;

/* theme border style */
@cpanel-border-style-solid: solid;
@cpanel-border-style-hidden: hidden;
@cpanel-border-style-dashed: dashed;
@cpanel-border-style-dotted: dotted;
@cpanel-border-style-outset: outset;
@cpanel-border-style-inset: inset;
@cpanel-border-style-ridge: ridge;
@cpanel-border-style-groove: groove;
@cpanel-border-style-hidden: hidden;

/* theme border width */
@cpanel-border-width-1: 1px;
@cpanel-border-width-2: 2px;
@cpanel-border-width-3: 3px;
@cpanel-border-width-4: 4px;
@cpanel-border-width-5: 5px;
@cpanel-border-width-6: 6px;
@cpanel-border-width-7: 7px;
@cpanel-border-width-8: 8px;

/*theme border-radius*/
@cpanel-border-radius-0: 0;
@cpanel-border-radius-round: 50%;

/*theme layout*/ 

@width-1: 8.33333%;
@width-2: 16.6667%;
@width-3: 25%;
@width-4: 33.3333%;
@width-5: 41.6667%;
@width-6: 50%;
@width-7: 58.3333%;
@width-8: 66.6667%;
@width-9: 75%;
@width-10: 83.3333%;
@width-11: 91.6667%;
@width-12: 100%;

/*top menu less variables*/
@cpanel-theme-navigation-background-color: @cpanel-background-color-lightgray;
@cpanel-navigation-desktop-level0-item__color: @cpanel-txt-color-base;
@cpanel-navigation-desktop-level0-item__active__background: @cpanel-background-color-base-theme;
@cpanel-navigation-desktop-level0-item__hover__background: @cpanel-background-color-base-theme;
@cpanel-navigation-desktop-level0-item__hover__color: @cpanel-txt-color-white;
@submenu-theme-desktop-block-border-top: @cpanel-border-width-3 @cpanel-border-style-solid @cpanel-border-color-theme;
@cpanel-theme-breadcrumb-background: @cpanel-background-color-white;
@cpanel-theme-breadcrumb-padding: 20px 0 0;

/*footer less variables*/
@cpanel-footer-background-color: #ffffff;
@cpanel-footer-copyright-background-color: @cpanel-background-color-black;
@cpanel-theme-footer-title-color: @cpanel-txt-color-base;
@cpanel-theme-footer-text-color: @cpanel-txt-color-base-semi-light;
@cpanel-theme-footer-social-border-color: @cpanel-background-color-black;

/* theme less variables end */

@import '_kosmic_variables.less';
@import '_cpanel.less';