<!--content for consulting start-->
<?php $consultCategoryId = $block->getConsultId();
$consultCategoryName = $block->getCategoryName($consultCategoryId);
?>
<label name="<?php echo $consultCategoryName?>" id="<?php echo $consultCategoryId;?>"><?php echo $consultCategoryName; ?></label>
<form method="post" name="consult_form" action="<?php echo $this->getUrl('categories/index/consult') ?>" id="consult_form" enctype="multipart/form-data"  data-mage-init='{"validation":{}}'>
    <div class="zipcode-input">
        <span class="zip-title"><?php echo __('Enter Zip Code');?></span>
        <div class="form-group">
            <input name="zipcode" class="form-control" type="text" id="zipcode1" placeholder="<?php echo __('Enter Your Zipcode');?>" data-validate="{required:true}" onFocus="geolocate()" required>
            <input name="country" class="form-control" type="hidden" id="country1" placeholder="<?php echo __('Enter Your Country');?>">
            <input name="postal_code" class="form-control" type="hidden" id="postal_code1" placeholder="<?php echo __('Enter Your Postal Code');?>">
        </div>
        <div class="form-group required">
            <?php
            $categories = $block->getSubCategory($block->getConsultId());
            ?>
            <label>Category</label>
            <select class="form-control custom-category" name="category" data-validate="{'required-entry':true}">
                <option value="">Please Select</option>
                <?php
                foreach($categories as $category):
                    echo '<option value="'.$category->getID().'">'.$category->getName().'</option>'; //close your tags!!
                    $entityId[] = $category->getId();
                endforeach;
                ?>
            </select>
        </div>
        <div class="form-group">
            <?php
            foreach ($entityId as $entity):
                $subcategories =  $block->getSubCategory($entity);
                if(count($subcategories) > 0):
                ?>
                <div class="subcategory" id="<?php echo $entity ?>" style="display: none" >
                    <label >Object Type</label>
                    <select class="form-control"  name="subcategory<?php echo $entity ?>" >
                        <?php
                        foreach($subcategories as $subcategory):
                            echo '<option value="'.$subcategory->getID().'">'.$subcategory->getName().'</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
            <?php endif; endforeach; ?>
        </div>
        <div class="additional-form">
            <div class="form-group">
                <label><?php echo __('Budget Description');?></label>
                <textarea rows="4" cols="50" name="budget_description"></textarea>
            </div>
            <div class="form-group">
                <label><?php echo __('Budget');?></label>
                <input type="text" name="budget" id="budget">
            </div>
            <div class="form-group">
                <label for=""><?php /* @escapeNotVerified */ echo __('File'); ?></label>
                <div class="control">
                    <input type="file" name="image" id="image"/>
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="submit-btn action submit primary" title="<?php /* @escapeNotVerified */ echo __('Next') ?>"><span><?php /* @escapeNotVerified */ echo __('Next') ?></span></button>
        </div>
    </div>
</form>
<!--content for consulting end-->
<!--content for services start-->
<?php $serviceCategoryId = $block->getCustomCategoryId();
   $serviceCategoryName = $block->getCategoryName($serviceCategoryId);
?>
<label name="services" id="<?php echo $serviceCategoryId;?>"><?php echo $serviceCategoryName; ?></label>
<form method="post" name="service_form" action="<?php echo $this->getUrl('categories/index/post') ?>" id="service_form" data-mage-init='{"validation":{}}'>
    <div class="zipcode-input">
        <span class="zip-title"><?php echo __('Enter Zip Code');?></span>
        <div class="form-group">
            <input name="zipcode" class="form-control" type="text" id="zipcode" placeholder="<?php echo __('Enter Your Zipcode');?>" data-validate="{required:true}" onFocus="geolocate()" >
            <input name="country" class="form-control" type="hidden" id="country" placeholder="<?php echo __('Enter Your Country');?>">
            <input name="postal_code" class="form-control" type="hidden" id="postal_code" placeholder="<?php echo __('Enter Your Postal Code');?>">
        </div>
        <div class="form-group">
            <?php
            $categories = $block->getSubCategory($block->getCustomCategoryId());
            ?>
            <label>Category</label>
            <select class="form-control custom-category" name="category" data-validate="{required:true}">
                <option value="">Please Select</option>
                <?php
                foreach($categories as $category):
                    echo '<option value="'.$category->getID().'">'.$category->getName().'</option>'; //close your tags!!
                    $entityId[] = $category->getId();
                endforeach;
                ?>
            </select>
        </div>
        <div class="form-group">

            <?php
            foreach ($entityId as $entity) :
                $subcategories =  $block->getSubCategory($entity);
                if(count($subcategories) > 0):
                ?>
                <div class="subcategory" id="<?php echo $entity ?>" style="display: none" >
                    <label >Package</label>
                    <select class="form-control"  name="subcategory<?php echo $entity ?>" >
                        <?php
                        foreach($subcategories as $subcategory):
                            echo '<option value="'.$subcategory->getID().'">'.$subcategory->getName().'</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
            <?php endif; endforeach; ?>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="submit-btn action submit primary" title="<?php /* @escapeNotVerified */ echo __('Next') ?>"><span><?php /* @escapeNotVerified */ echo __('Next') ?></span></button>
        </div>
    </div>
</form>
<!--content for services end-->
<style>
    .zipcode-input{
        max-width: 430px;
        margin: 0 auto;
        border: 10px solid #034C98;
        padding: 15px;
    }
    .zipcode-input .zip-title{
        text-align: center;
        background: #034C98;
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .zipcode-input .form-group{
        margin-bottom: 20px;
    }
    .zipcode-input label{
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    .zipcode-input #zipcode{
        height: 100px;
        background: #cccccc;
        text-align: center;
        box-shadow: none;
    }
    .zipcode-input .submit-btn{
        background: #034C98;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        height: 45px;
        padding: 0 25px;
        border: 0;
    }
    .text-right{
        text-align: right;
    }
</style>

<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
    var zipcode;
    var country;

    var componentForm = {
       postal_code: 'short_name'
    };
    var countryForm = {
       country: 'short_name'
    };

    function initMap() {
//        map = new google.maps.Map(document.getElementById('map'), {
//            center: {lat: -34.397, lng: 150.644},
//            zoom: 6
//        });
        infoWindow = new google.maps.InfoWindow;
        geocoder = new google.maps.Geocoder;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };


                var latlng = {lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};
                var contentDisplayed = "<br>";
                contentDisplayed =  contentDisplayed + "<br/>" +"Latitude : "+position.coords.latitude;
                contentDisplayed =  contentDisplayed + "<br/>" + "Longitude : "+position.coords.longitude;

                geocoder.geocode({'location': latlng}, function(results, status) {
                    if (status === 'OK') {
                        if (results[1]) {
//                            map.setZoom(11);

                            //contentDisplayed = contentDisplayed + "<br/>" + "Address : "+results[1].formatted_address;

                            for (var i = 0; i < results[1].address_components.length; i++) {
                                var addressType = results[1].address_components[i].types[0];
                                if (componentForm[addressType]) {
                                    var val = results[1].address_components[i][componentForm[addressType]];
                                    zipcode = val;
                                    //document.getElementById(addressType).value = val;
                                }
                                if (countryForm[addressType]) {
                                    var val = results[1].address_components[i][countryForm[addressType]];
                                    country = val;
                                    //document.getElementById(addressType).value = val;
                                }

                            }
                            jQuery('#zipcode').val(zipcode);
                            jQuery('#postal_code').val(zipcode);
                            jQuery('#country').val(country);
                            jQuery('#zipcode1').val(zipcode);
                            jQuery('#postal_code1').val(zipcode);
                            jQuery('#country1').val(country);
                            //console.log(zipcode);

                        } else {
                            window.alert('No Address results found');
                        }
                    } else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });


                infoWindow.setPosition(pos);

//                map.setCenter(pos);
            }, function() {
               //handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
           //handleLocationError(false, infoWindow, map.getCenter());
        }
        initAutocomplete();
    }


   function handleLocationError(browserHasGeolocation, infoWindow, pos) {
       infoWindow.setPosition(pos);
       infoWindow.setContent(browserHasGeolocation ?
           'Error: The Geolocation service failed.' :
           'Error: Your browser doesn\'t support geolocation.');
       infoWindow.open(map);
   }
   var placeSearch, autocomplete;
      var componentForm = {
        country: 'short_name',
        postal_code: 'short_name'
      };
      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('zipcode')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);

        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('zipcode1')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
        //initMap();
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            console.log(place.address_components);
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
            document.getElementById(addressType+'1').value = val;
            //jQuery('#country').val(val);
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAOvK2K3j64PloOsoXFc9Ugby2q6Wv63Y&libraries=places&callback=initMap">
</script>
<script type="text/javascript">
    require(['jquery'], function ($) {
        jQuery(document).ready(function () {
            jQuery('.custom-category').on("change",function (event) {
                var categoryId = jQuery(this).val();
                jQuery('.subcategory').hide();
                if(categoryId != '' || categoryId!= null){
                    jQuery('#'+categoryId).show();
                }
                if(!jQuery('#'+categoryId)){
                    jQuery(".additional-form").hide();
                }else{
                    jQuery(".additional-form").show();
                }
            })
        });
    });
</script>
