<?php $vendorList = $block->getVendorList(); ?>
<table style="width:50%">
<tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Vendor Image</th>
    <th>Vendor Ratings</th>
    <th>Action</th>
    <th>Select</th>
</tr>
<?php
foreach ($vendorList as $vendor): ?>
    <?php //var_dump($vendor->getData()); die();?>
<tr>
    <td><?php echo $vendor->getFirstName(); ?> </td>
    <td><?php echo $vendor->getLastname(); ?> </td>
    <td><?php echo $vendor->getEmail(); ?> </td>
    <td><img src="<?php echo $block->getMediaPath().$vendor->getVendorImage(); ?>" height="50px" width="50px" alt="<?php echo $vendor->getFirstName();?>"></td>
    <td>
        <div class="rating-summary">
            <?php $vendorRating =  $vendor->getVendorRating() * 2 * 10;?>
            <div class="rating-result" title="<?php echo $vendorRating?>%">
                <span style="width:<?php echo $vendorRating;?>%"><span><?php echo $vendorRating;?>%</span></span>
            </div>
        </div>
    </td>
    <td> <a href="<?php echo $this->getUrl('categories/index/view',array('order_id'=>$vendor->getId()))?>">View Vendor Details</a></td>
    <td><form name="vendor_list" method="post" action="<?php echo $this->getUrl('categories/index/Save') ?>"><input type="hidden" name="order_id" value="<?php echo $vendor->getOrderId();?>"><input type="submit" value="select"></form></td>
</tr>
 <?php   endforeach;?>
</table>
