<?php
$vendorData = $block->getVendorDetails();?>
<table align="center" border="">
    <tr>
        <td>Firstname
        </td>
        <td><?php echo $vendorData->getFirstname(); ?>
        </td>
    </tr>
    <tr>
        <td>Lastname
        </td>
        <td><?php echo $vendorData->getLastname(); ?>
        </td>
    </tr>
    <tr>
        <td>Email
        </td>
        <td><?php echo $vendorData->getEmail(); ?>
        </td>
    </tr>
    <tr>
        <td>Description
        </td>
        <td><?php echo $vendorData->getVendorDescription(); ?>
        </td>
    </tr>
    <tr>
        <td>Image
        </td>
        <td><img src="<?php echo $block->getMediaPath().$vendorData->getVendorImage(); ?>" height="100px" width="100px" alt="<?php echo $vendorData->getFirstName();?>">
        </td>
    </tr>
    <tr>
        <td>Ratings
        </td>
        <td>
            <div class="rating-summary">
                <?php $vendorRating =  $vendorData->getVendorRating() * 2 * 10;?>
                <div class="rating-result" title="<?php echo $vendorRating?>%">
                    <span style="width:<?php echo $vendorRating;?>%"><span><?php echo $vendorRating;?>%</span></span>
                </div>
            </div>
        </td>
    </tr>
    <tr><td>Select for Inquiry</td><td><form name="vendor_detail" method="post" action="<?php echo $this->getUrl('categories/index/Save') ?>"><input type="hidden" name="order_id" value="<?php echo $vendorData->getOrderId();?>"><input type="submit" value="select"></form></td>
    </tr>
</table>
<?php $vendorRatingData = $block->getVendorRatings($vendorData->getId());?>
<?php if($vendorRatingData):?>
<?php foreach ($vendorRatingData as $data):?>
    <div class="rating-summary">
        <?php $vendorRating =  $data['rating_value'] * 2 * 10;?>
        <div class="rating-result" title="<?php echo $vendorRating?>%">
            <span style="width:<?php echo $vendorRating;?>%"><span><?php echo $vendorRating;?>%</span></span>
        </div>
    </div>
    <div class="review-content" itemprop="description">
        <?php echo $data['rating_description'];?>
    </div>
<?php endforeach;?>
<?php endif;?>

