<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$helper = $this->helper('Solwin\Cpanel\Helper\Data');
$Footercopyrightbeforestatic = $helper->getFootercopyrightbeforestatic();
$Footercopyrightafterstatic = $helper->getFootercopyrightafterstatic();
?>
<small class="copyright">
    <div class="page-main">
        <span class="fb-before">
            <?php
            if ($Footercopyrightbeforestatic != '') {
                echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($Footercopyrightbeforestatic)->toHtml();
            }
            ?>
        </span>
        <span><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></span>
        <span class="fb-after">
            <?php
            if ($Footercopyrightafterstatic != '') {
                echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($Footercopyrightafterstatic)->toHtml();
            }
            ?>
        </span>
    </div>
</small>
