<!--@subject {{trans "Inquiry Status has been Expired"}} @-->
{{template config_path="design/email/header_template"}}
	<p>Your inquiry status has been expired.You can now register your new inquiry on our site <a href="{{store url=''}}">Website</a></p>
{{template config_path="design/email/footer_template"}}

