<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php
//initialize variables
$zoomType = $typeShape = $typeSize = $enableGalleryZoom = $enable_gallary = $zoomEffect = $tintEffect = $tintColour = $tintOpacity = $zoomWindowWidth = $zoomWindowHeight = $zoomWindowPosition = $lenseColour = $lenseOpacity = $windowFadeIn = $windowFadeOut = $lensFadeIn = $lensFadeOut = '';
// get product zoom config settings
$helper = $this->helper('Solwin\Productzoom\Helper\Data');
$enable = $helper->getZoomenable();
// $enable = 0;
if ($enable) {
    ?>
    <div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
        <div data-role="loader" class="loading-mask">
            <div class="loader">
                <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                     alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
            </div>
        </div>
    </div>
    <?php
    $zoomType = $helper->getZoomtype();
    $typeShape = $helper->getTypeshape(); //for lense type only
    $typeSize = $helper->getTypesize(); //for lense type only
    //product gallery zooming
    $enableGalleryZoom = $helper->getGalleryenable();
    if ($enableGalleryZoom) {
        $enable_gallary = 'thumbs';
    } else {
        $enable_gallary = 'false';
    }

    $zoomEffect = $helper->getZoomeffects();
    //tint
    $tintEffect = $helper->getTinteffects();
    $tintColour = $helper->getTintcolor();
    $tintOpacity = $helper->getTintopacity();
    //widow size & for basic zoom
    $zoomWindowWidth = $helper->getZoomwindowwidth();
    $zoomWindowHeight = $helper->getZoomwindowheight();
    $zoomWindowPosition = $helper->getZoomwindowposition();
    $lenseColour = $helper->getLensecolor();
    $lenseOpacity = $helper->getLenseopacity();
    //for lense zoom
    //general
    $windowFadeIn = $helper->getWindowfadein();
    $windowFadeOut = $helper->getWindowfadeout();
    $lensFadeIn = $helper->getLensfadein();
    $lensFadeOut = $helper->getLensfadeout();

    $galleryPosition = $helper->getGalleryposition();


    $_product = $block->getProduct();

    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $image = 'product_page_main_image';

    $_resizedWidth = $block->getVar("{$image
                    }:width") ? $block->getVar("{$image
                    }:width") : '480';
    $_resizedHeight = $block->getVar("{$image
                    }:height") ? : $_resizedWidth;

    $_hasImage = ($_product->getImage() && $_product->getImage() != "no_selection") ? true : false;

    $whiteBorders = $block->getVar("product_image_white_borders") ? $block->getVar("product_image_white_borders") : '1';
    $thumbWidth = $block->getVar("product_page_more_views:width") ? $block->getVar("product_page_more_views:width") : '100';
    $thumbHeight = $block->getVar("product_page_more_views:height") ? : $thumbWidth;
    ?>
    <script type="text/x-magento-init">
        {
        "[data-gallery-role=gallery-placeholder]": {
        "mage/gallery/gallery": {
        "mixins":["magnifier/magnify"],
        "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
        "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
        "options": {
        "nav": "<?php /* @escapeNotVerified */ echo $enable_gallary; ?>",
        "navposition": "<?php /* @escapeNotVerified */ echo $galleryPosition; ?>",
        "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
        "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
        "arrows": <?php /* @escapeNotVerified */ echo 'false' ?>,
        "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
        "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
        "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
        "thumbwidth": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>,
        "thumbheight": <?php
        /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
        ? : $block->getImageAttribute('product_page_image_small', 'width');
        ?>,
        "height": <?php
        /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
        ? : $block->getImageAttribute('product_page_image_medium', 'width');
        ?>,
        "transitionduration": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/transition/duration"); ?>,
        "transition": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/transition/effect"); ?>",
        "navarrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/navarrows"); ?>,
        "navtype": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/navtype"); ?>",
        "navdir": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/navdir"); ?>"
        },
        "fullscreen": {
        "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/nav"); ?>",
        "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/loop"); ?>,
        "navdir": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/navdir"); ?>",
        "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/arrows"); ?>,
        "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/caption"); ?>,
        "transitionduration": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
        "transition": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
        },
        "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
        }
        }
        }
    </script>
    <?php
    if ($zoomType == 'basic') {
        ?>
        <script>
            require(['jquery', 'cpelevatezoom'], function () {
                jQuery(document).ready(function () {
                    jQuery('.gallery-placeholder').hover(function () {
                        jQuery('.zoomContainer').remove();
                        jQuery(".fotorama__stage__frame.fotorama__active > .fotorama__img").elevateZoom({
                            zoomWindowWidth: <?php echo $zoomWindowWidth; ?>,
                            zoomWindowHeight: <?php echo $zoomWindowHeight; ?>,
                            zoomWindowPosition: <?php echo $zoomWindowPosition; ?>,
                            tint: <?php echo $tintEffect; ?>,
                            tintColour: '<?php echo $tintColour; ?>',
                            tintOpacity: <?php echo $tintOpacity; ?>,
                            lensColour: '<?php echo $lenseColour; ?>',
                            lenseOpacity: <?php echo $lenseOpacity; ?>,
                            zoomWindowFadeIn: <?php echo $windowFadeIn; ?>,
                            zoomWindowFadeOut: <?php echo $windowFadeOut; ?>,
                            lensFadeIn: <?php echo $lensFadeIn; ?>,
                            lensFadeOut: <?php echo $lensFadeOut; ?>,
                            easing: true,
                            scrollZoom: true,
                            constrainType: "width",
                            constrainSize: 800,
                            cursor: 'pointer'
                        });
                    });
                });
            });
        </script>
    <?php } else if ($zoomType == 'inner') { ?>
        <script>
            require(['jquery', 'cpelevatezoom'], function () {
                jQuery(document).ready(function () {
                    jQuery('.gallery-placeholder').hover(function () {
                        jQuery('.zoomContainer').remove();
                        jQuery(".fotorama__stage__frame.fotorama__active > .fotorama__img").elevateZoom({
                            zoomType: "inner",
                            cursor: "crosshair",
                            zoomWindowFadeIn: <?php echo $windowFadeIn; ?>,
                            zoomWindowFadeOut: <?php echo $windowFadeOut; ?>,
                            lensFadeIn: <?php echo $lensFadeIn; ?>,
                            lensFadeOut: <?php echo $lensFadeOut; ?>,
                            easing: true,
                            scrollZoom: true,
                            constrainType: "width",
                            constrainSize: 800
                        });
                    });
                });
            });
        </script>
    <?php } else if ($zoomType == 'lense') { ?>
        <script>
            require(['jquery', 'cpelevatezoom'], function () {
                jQuery(document).ready(function () {
                    jQuery('.gallery-placeholder').hover(function () {
                        jQuery('.zoomContainer').remove();
                        jQuery(".fotorama__stage__frame.fotorama__active > .fotorama__img").elevateZoom({
                            zoomType: "lens",
                            lensShape: '<?php echo $typeShape; ?>',
                            lensSize: <?php echo $typeSize; ?>,
                            containLensZoom: true,
                            constrainType: "width",
                            constrainSize: 800,
                            zoomWindowFadeIn: <?php echo $windowFadeIn; ?>,
                            zoomWindowFadeOut: <?php echo $windowFadeOut; ?>,
                            lensFadeIn: <?php echo $lensFadeIn; ?>,
                            lensFadeOut: <?php echo $lensFadeOut; ?>,
                            easing: true,
                            scrollZoom: true,
                            cursor: 'pointer'
                        });
                    });
                });
            });
        </script>
    <?php } ?>
    <?php
} else {
    ?>
    <div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
        <div data-role="loader" class="loading-mask">
            <div class="loader">
                <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                     alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
        "[data-gallery-role=gallery-placeholder]": {
        "mage/gallery/gallery": {
        "mixins":["magnifier/magnify"],
        "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
        "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
        "options": {
        "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
        "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
        "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
        "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
        "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
        "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
        "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
        "thumbwidth": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>,
        "thumbheight": <?php
        /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
        ? : $block->getImageAttribute('product_page_image_small', 'width');
        ?>,
        "height": <?php
        /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
        ? : $block->getImageAttribute('product_page_image_medium', 'width');
        ?>,
        "transitionduration": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/transition/duration"); ?>,
        "transition": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/transition/effect"); ?>",
        "navarrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/navarrows"); ?>,
        "navtype": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/navtype"); ?>",
        "navdir": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/navdir"); ?>"
        },
        "fullscreen": {
        "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/nav"); ?>",
        "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/loop"); ?>,
        "navdir": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/navdir"); ?>",
        "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/arrows"); ?>,
        "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/caption"); ?>,
        "transitionduration": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
        "transition": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
        },
        "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
        }
        }
        }
    </script>
    <?php
}
?>