
<?php	$customerData =$block->getCustomerData(); ?>
<fieldset class="fieldset admin__fieldset " id="base_fieldset">
    <legend class="admin__legend legend">
        <span>Customer Information</span>
    </legend><br>
    <p><strong><?php echo __('First Name');?>: </strong> <?php echo $customerData->getFirstname(); ?> </p>
    <p><strong><?php echo __('Last Name');?>: </strong> <?php  echo $customerData->getLastname(); ?> </p>
    <?php
    if($block->getInquiryStatus()=='accepted' || $block->getUserType() == 'Administrators'):?>
        <p><strong><?php echo __('Email');?>: </strong> <?php echo $customerData->getEmail(); ?> </p>

        <?php if($customerData->getDefaultBilling()):?>
            <p><strong><?php echo __('Billing Address');?>: </strong> <?php echo $customerData->getDefaultBilling(); ?> </p>
        <?php endif;?>
        <?php if($customerData->getDefaultShipping()):?>
            <p><strong><?php echo __('Shipping Address');?>: </strong> <?php echo $customerData->getDefaultShipping(); ?> </p>
        <?php endif;?>
    <?php endif; ?>
</fieldset>

<?php echo $block->getForm()->toHtml(); ?>
<!--<script type="text/javascript">
	requirejs(["jquery"], function($){
		jQuery(document).ready(function(){
			var status = $('#inquiry_status').find(":selected").val();
			if(status=='declined'){
				$('.field-reason').show();
				$('#reason').show();
			}
			else
			{
				$('.field-reason').hide();
				$('#reason').hide();
			}
			$('#inquiry_status').on('change', function() {
				var status = $(this).find(":selected").val();
				if(status=='declined'){
					$('.field-reason').show();
					$('#reason').show();
				}
				else
				{
					$('.field-reason').hide();
					$('#reason').hide();
				}
			});
		});
	});
</script>-->
<fieldset class="fieldset admin__fieldset ">
<?php if($block->getInquiryStatus()=='pending'):?>
	<a href="<?php echo $block->getAcceptUrl();?>"><span class="action-default scalable action-save action-secondary"><?php /* @escapeNotVerified */ echo __('Accept & Pay') ?></span></a>
	&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="<?php echo $block->getDeclineUrl();?>"><span class="action-default scalable action-save action-secondary"><?php /* @escapeNotVerified */ echo __('Decline') ?></span></a>
<?php endif;?>
</fieldset>


