.product-image-container{
    width: 100%;
}
.product-image-wrapper{
    padding: 0 !important;
    height: auto !important;
    z-index: 0 !important;
}
.carousel-controls.customNavigation.nav-img {
    position: relative;
}
.btn-bs.prev-img {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 30px;
    z-index: 1;
}
.btn-bs.next-img {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dddddd;
    position: absolute;
    right: 0;
    top: 40px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
}
.fa.fa-angle-left, .fa.fa-angle-right {
    color: #ffffff;
    display: inline-block;
    font-size: 27px;
}
.owl-controls.clickable{
    display: none;
}
.zoomWrapper{
    display: inline;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
/*For photo gallery left start*/
.moreview-left {
    position: relative;
}
.moreview-left .btn-nxt , .moreview-left .btn-prv {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 30px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    width: 30px;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dddddd;
}
.moreview-left .pro-main {
    display: block;
    padding-left: 125px;
}
.moreview-left .desktop-view {
    display: block;
}
.moreview-left .desktop-inner {
    left: 0;
    position: absolute;
    top: 0;
    margin: 5px 0;
}
/*For photo gallery left end*/

/*For photo gallery right start*/
.moreview-right {
    position: relative;
}

.moreview-right .btn-nxt , .moreview-right .btn-prv {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 30px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    width: 30px;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dddddd;
}
.moreview-right .pro-main {
    display: block;
    padding-right: 125px;
}
.moreview-right .desktop-view {
    display: block;
}
.moreview-right .desktop-inner {
    right: 0;
    position: absolute;
    top: 0;
    margin: 5px 0;
}
/*For photo gallery right end*/
#photo_gallery img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}
@media only screen and (max-width: 991px) {
    .desktop-view {
        display: none !important;
    }
    .mob-view {
        display: block !important;
    }
    .moreview-left .thumbs {
        float: none;
        left: 0;
        margin: 10px 0 25px !important;
        position: relative;
        top: 0;
    }
    .moreview-left #pro_img {
        padding: 0;
        position: relative;
    }
    .moreview-left .pro-main {
        padding-left: 0;
    }
    .moreview-right .pro-main {
        padding-right: 0;
    }
}