<!--@subject {{trans "Inquiry Status has been Received"}} @-->
{{template config_path="design/email/header_template"}}
<p>You have received inquiry with following details </p>
<p>Inquiry Number : {{trans "%inquiry_id" inquiry_id=$data.inquiry_id}}.</p>
<p>Customer Name : {{trans "%customer_name" customer_name=$data.customer_name}}.</p>
<p>Vendor Name : {{trans "%vendor_name" vendor_name=$data.vendor_name}}.</p>
<p>Vendor Email : {{trans "%vendor_email" vendor_email=$data.vendor_email}}.</p>
<p>Category : {{trans "%category" category=$data.category}}.</p>
<p>Object Type : {{trans "%object" object=$data.object}}.</p>
<p>Budget Amount : {{trans "%budget" budget=$data.budget}}.</p>
<p>Inquiry Status : {{trans "%inquiry_status" inquiry_status=$data.inquiry_status}}.</p>
<p>Description : {{trans "%description" description=$data.description}}.</p>
{{template config_path="design/email/footer_template"}}

