.deal-wrapper {
    float: left;
    width: 100%;
    clear: both;
}
.deal-wrapper .deal-product {
    list-style: none;
    margin: 0;
    padding: 25px 0 0;
}
.deal-product .product-item {
    float: left;
    width: 100%;
    clear: both;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.deal-row {
    margin: 0 -10px;
}
.deal-product .product-item .product-item-info {
    float: left;
    width: 100%;
    border: 2px solid #dddddd;
    box-sizing: border-box;
    padding: 15px;
}
.deal-product .product-item .deal-img {
    float: left;
    width: 40%;
    box-sizing: border-box;
    position: relative;
}
.deal-product .product-item .deal-img .product-image-photo.pd-img {
    position: static;
}
.deal-product .product-item .deal-img .product-image-photo.ph_img {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
}
.deal-product .product-item:hover .deal-img .product-image-photo.ph_img {
    opacity: 1;
    visibility: visible;
}
.deal-product .product-item .deal-content {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding: 0 15px;
}
.deal-wrapper .owl-theme .owl-controls .owl-page span {
    border-color: #ffffff;
}
.deal-product .deal-content .deal-txt {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.deal-product .deal-content .product-item-name > a {    
    font-weight: 400;    
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}
.deal-product .deal-content .price-box .price {
    font-size: 24px;
    font-weight: normal;
}
.deal-product .deal-content .timer {
    display: block;
    clear: both;
    margin-bottom:15px;
    margin-top: 15px;
}
.deal-product .deal-content .timer .countdown-section {
    display: inline-block;
    margin-right: 3px;
}
.deal-product .deal-content .timer .countdown-section .countdown-amount {
    border: 1px solid #333333;
    display: block;
    font-size: 16px;
    height: 46px;
    background: #333333;
    line-height: 46px;
    padding: 0;
    text-align: center;
    width: 46px;
    color: #ffffff;
}
.deal-product .deal-content .timer .countdown-section .countdown-period {
    display: block;
    margin-top: 5px;
    text-align: center;
}
.bestsl-wrapper {
    float: left;
    width: 100%;
    clear: both;
}
.bestsl-wrapper .bestsl-product {
    float: left;
    width: 100%;
    clear: both;
}
.bestsl-wrapper .bestsl-product .product-item .product-item-info {
    position: relative;
}
.bestsl-wrapper .bestsl-product .product-item .best-img {
    float: left;
    width: 115px;
    position: absolute;
}
.bestsl-wrapper .bestsl-product .product-item .best-info .product-item-inner {
    float: left;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
.bestsl-wrapper .bestsl-product .product-item .best-info .product-item-details {
    float: left;
    padding-left: 60px;
    width: 100%;
}
.bestsl-wrapper .bestsl-product .product-item .best-img .product-image-photo.pd-img {
    position: static;
}
.bestsl-wrapper .bestsl-product .product-item .best-img .product-image-photo.ph_img {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
}
.bestsl-wrapper .bestsl-product .product-item .best-info {
    float: left;
    width: 100%;
    padding-left: 120px;
    position: relative;
}
.bestsl-wrapper .bestsl-product .product-item .best-info .product-item-name {
    margin-top: 15px;
}
.bestsl-wrapper .bestsl-product .product-item .best-info .price-box {
    margin: 10px 0;
}
@media only screen and (max-width: 639px) {
    .deal-product .deal-content .deal-txt {
        font-size: 20px;
    }
    .deal-product .deal-content .price-box .price {
        font-size: 18px;
    }
    .deal-product .deal-content .timer .countdown-section .countdown-amount {
        height: 50px;
        width: 50px;
        line-height: 46px;
        font-size: 18px;
    }
    .deal-product .product-item .deal-img {
        width: 100%;
        margin-bottom: 15px;
    }
    .deal-product .product-item .deal-content {
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 479px) {
    .bestsl-wrapper .bestsl-product .product-item .best-info .product-item-name {
        margin-top: 0;
    }
    .bestsl-wrapper .bestsl-product .product-item .best-img {
        width: 100px;
    }
    .bestsl-wrapper .bestsl-product .product-item .best-info {
        padding-left: 110px;
    }
}