/*brand list page*/
.br-wrapper {
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}
.br-wrapper .br-main {
    float: left;
    width:32%;
    margin-left: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #dddddd;
    transition: all 0.3 ease-in 0s;
    -webkit-transition: all 0.3 ease-in 0s;
}
.br-wrapper .br-main:hover  {
    background: #f2f2f2;
}
.br-wrapper .br-main:nth-child(2n + 1) {
    margin-left: 2%;
}
.br-wrapper .br-main:nth-child(3n + 1) {
    margin-left: 0;
}
.br-main .br-img {

}
.br-main .br-img a {
    display: block;
    padding: 20px 20px 0;
}
.br-main .br-img a img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.br-main .br-name a {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 20px 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    display: block;
}
/*brand detail page*/
.brt-wrapper {
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
}
.brt-wrapper .brt-main {
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px;
}
.brt-main .brt-name {
    color: #009788;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
    text-transform: uppercase;
}
.brt-main .brt-img {
    display: block;
    margin-bottom: 20px;
}
.brt-main .brt-desc {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

/*brand sidebar*/
.br-side-main {

}
.br-side-main .br-side-inner-main {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.br-side-inner-main .br-side-item {
    display: block;
}
.br-side-item .br-side-img {
    display: block;
}
.br-side-item .br-side-img a {
    display: block;
}
.br-side-item .br-side-img img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
/*product list*/
.ourbrand li.product-item {
    width: 100% !important;
    background: transparent !important;
    box-sizing: border-box;
    padding: 10px;
}
.ourbrand-index-index .products-grid .product-item:nth-child(2n + 1) {
    margin-left: calc((100% - 4 * 23.439%) / 3);
}
.ourbrand-index-index .products-grid .product-item:nth-child(4n+1) {
    margin-left: 0;
}
.ourbrand-index-index .products-grid .product-item {
    margin-left: calc((100% - 4 * 23.439%) / 3);
    padding: 0;
    width: 23.439%;
}
.ourbrand-index-index .product-item-info {
    width: 240px;
}
.ourbrand-index-index .products-grid .product-items {
    margin: 0;
}
.ourbrand.product-items {
    margin: 0 !important;
}
.ourbrand .product-item-info {
    width: 100%;
}
.br-pager .pager .toolbar-amount {
    position: static !important;
}
/*brand on home page*/
.brh-main, .brh-wrapper {
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
}
.brh-inner-main {
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.brh-inner-main .brh-item {
    margin: 0 auto 20px;
    display: block;
}
@media only screen and (max-width: 1023px) {
    .ourbrand-index-index .products-grid .product-item:nth-child(4n+1) {
        margin-left: calc((100% - 3 * 32%) / 2);
    }
    .ourbrand-index-index .products-grid .product-item:nth-child(3n+1) {
        margin-left: 0;
    }
    .ourbrand-index-index .products-grid .product-item {
        margin-left: calc((100% - 3 * 32%) / 2);
        padding: 0;
        width: 31.9%;
    }
}
@media only screen and (max-width: 639px) {
    .ourbrand-index-index .products-grid .product-item:nth-child(3n+1) {
        margin-left: calc((100% - 2 * 49%) / 1);
    }
    .ourbrand-index-index .products-grid .product-item:nth-child(2n+1) {
        margin-left: 0;
    }
    .ourbrand-index-index .products-grid .product-item {
        margin-left: calc((100% - 2 * 49%) / 1);
        padding: 0;
        width: 49%;
    }
    .br-wrapper .br-main {
        width:48%;
    }
    .br-wrapper .br-main:nth-child(3n + 1) {
        margin-left: 2%;
    }  
    .br-wrapper .br-main:nth-child(2n + 1) {
        margin-left: 0;
    }
    .ourbrand li.product-item {
        padding: 5%;
    }
}
@media only screen and (max-width: 479px) { 
    .br-wrapper .br-main {
        width:100%;
        margin: 0 0 15px !important;
    }
}